<h2>{{ field.label }}</h2>
<img class="vampire_device_image" src="{{ MEDIA_URL }}images/actions/eliminate-standby-vampire-power/{{ field.name }}.jpg" alt="{{ field.label }}" width="432" height="126" />
{# <div class="vampire_savings_container"> #}
{#     Save up to $<span class="vampire_savings">{{ field.field.savings }}</span><br /> #}
{#     annually by slaying <br /> #}
{#     this vampire #}
{# </div> #}
<br class="clear" />
<form method="post" action="{% url save_action_form action.slug 'VampirePowerWorksheetForm' %}">
    <div>
        <b>Do you have this?</b>
    </div>
    <ul class="buttonset">
        {% for id, label, help in field.field.choices %}
            <li class="device_button">
                <input value="{{ id }}" type="radio" class="vampire_slayer" 
                    name="{{ field.name }}" id="id_{{ field.name }}{{ forloop.counter0 }}"
                    {% if id == field.data %}checked="checked"{% endif %} />
                <label for="id_{{ field.name }}{{ forloop.counter0 }}">{{ label }}</label>
                
                {% if help %}
                    <div class="slayer_help_wrapper">
                        <a class="slayer_help tooltip" href="{{ help }}">Learn More</a>
                    </div>
                {% endif %}
                {% if id == field.field.recommended %}
                    <div class="slayer_recommended">Recommended</div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <input type="hidden" class="device_label" value="{{ field.label }}"></input>
</form>