<h2>Tools of the trade</h2>
<div>
    There are three ways stop vampire power:
    <ul>
        <li>Unplug the vampire when you’re not using it</li>
        <li>Attach it to a power strip, and turn that power strip off when you’re done using it 
            (<a href="#conventional_power">learn more</a>)</li>
        <li>Attach it to a smart power strip, which automatically cuts power to vampires 
            (<a href="#smart_power">learn more</a>)</li>
    </ul>
</div>
<p>
    In the next slides, you’ll meet the vampires in your home. For each vampire, we’ve highlighted 
    our recommended slaying method. If you plan on using one of the other tactics, go ahead and select it.
</p>

<a id="directions" class="frame_shifter button" href="#">Start Slaying</a>