<h2>Tools of the trade</h2>
<div>
    <p>There are three ways stop vampire power:</p>
    <ul>
        <li>
            <b>Unplug</b> the vampire when you’re not using it
        </li>
        <li>
            Attach it to a <a class="tooltip" href="{% url power_strip_help %}"><b>regular power strip</b></a>, 
            and turn that power strip off when you’re done using it 
        </li>
        <li>
            Attach it to a <a class="tooltip" href="{% url smart_power_strip_help %}"><b>smart power strip</b></a>, 
            which automatically cuts power to vampires 
        </li>
    </ul>
</div>
<p>
    Start by identifying the worst vampires in your home
</p>

<a id="directions" class="frame_shifter button" href="#">Find your home's vampires</a>