<h2>So how can I slay the vampires in my house?</h2>
<p>
    Alias voluptate est eligendi nemo, repellendus corrupti consequuntur voluptates, officiis dolor autem minima fuga perspiciatis error itaque corporis at, quisquam et consequatur velit at assumenda facilis alias error nobis reprehenderit consectetur, repellendus vero iste sunt minima saepe nesciunt expedita
</p>
<p>
    Alias voluptate est eligendi nemo, repellendus corrupti consequuntur voluptates, officiis dolor autem minima fuga perspiciatis error itaque corporis at, quisquam et consequatur velit at assumenda facilis alias error nobis reprehenderit consectetur, repellendus vero iste sunt minima saepe nesciunt expedita
</p>
<p>
    Alias voluptate est eligendi nemo, repellendus corrupti consequuntur voluptates, officiis dolor autem minima fuga perspiciatis error itaque corporis at, quisquam et consequatur velit at assumenda facilis alias error nobis reprehenderit consectetur, repellendus vero iste sunt minima saepe nesciunt expedita
</p>
<a id="directions" class="frame_shifter button" href="#">Start Slaying</a>