<h3>My plan of attack</h3>
<p>Total plan savings: $<span id="vampire_savings_total">0</span> annually</p>

<table>
    <thead>
        <tr>
            <td>Device (vampire)</td>
            <td>Slay Method</td>
        </tr>
    </thead>
    <tbody>
        <tr class="television">
            <td>Television</td>
            <td>
                {% with vampire_worksheet_form.television as f %}
                    {% with "television" as vampire %}
                        {% include "actions/vampire_power/_slayer_method.html" %}
                    {% endwith %}
                {% endwith %}
            </td>
        </tr>
        <tr class="dvd_player">
            <td>DVD player</td>
            <td>
                {% with vampire_worksheet_form.dvd_player as f %}
                    {% with "dvd_player" as vampire %}
                        {% include "actions/vampire_power/_slayer_method.html" %}
                    {% endwith %}
                {% endwith %}
            </td>
        </tr>
        <tr class="cable_box">
            <td>Cable box</td>
            <td>
                {% with vampire_worksheet_form.cable_box as f %}
                    {% with "cable_box" as vampire %}
                        {% include "actions/vampire_power/_slayer_method.html" %}
                    {% endwith %}
                {% endwith %}
            </td>
        </tr>
        <tr class="game_system">
            <td>Video game system</td>
            <td>
                {% with vampire_worksheet_form.game_system as f %}
                    {% with "game_system" as vampire %}
                        {% include "actions/vampire_power/_slayer_method.html" %}
                    {% endwith %}
                {% endwith %}
            </td>
        </tr>
        <tr class="cell_phone">
            <td>Cell phone charger</td>
            <td>
                {% with vampire_worksheet_form.cell_phone as f %}
                    {% with "cell_phone" as vampire %}
                        {% include "actions/vampire_power/_slayer_method.html" %}
                    {% endwith %}
                {% endwith %}
            </td>
        </tr>
        <tr class="monitor">
            <td>Computer monitor</td>
            <td>
                {% with vampire_worksheet_form.monitor as f %}
                    {% with "monitor" as vampire %}
                        {% include "actions/vampire_power/_slayer_method.html" %}
                    {% endwith %}
                {% endwith %}
            </td>
        </tr>
    </tbody>
</table>

{% action_form %}