<br/>
<h2>
    You have <span id="my_vampire_count" class="orange">{{ vampire_worksheet_form.my_vampires|length }}</span> 
    powerful vampires
</h2>

<ul id="my_vampire_list">
    {% for field in vampire_worksheet_form.my_vampires %}
        <li>{{ field.name }}</li>
    {% endfor %}
</ul>

<p>
    You can slay these vampires by using a <a class="tooltip" href="{% url smart_power_strip_help %}"><b>smart power strip</b></a> 
    or simply unplugging when they're not in use.
</p>

{% action_form "I completed my plan!" "Commit to my plan" %}