{% if f.data %}
    <span class="slay_method">
        {% for value, label in f.field.choices %}
            {% if value == f.data %}
                {{ label }}
            {% endif %}
        {% endfor %}
    </span>
    <span class="slay_link">
        (<a href="#{{ vampire }}">change</a>)
    </span>
{% else %}
    <span class="slay_method">
        <a href="#{{ vampire }}">Slay me</a>
    </span>
    <span class="slay_link" style="display: none;">
        (<a href="#{{ vampire }}">change</a>)
    </span>
{% endif %}