</div>
<div class="box_two_bottom"></div>

<div class="box_two_top"></div>
<div class="box_two_middle">

<div id="vampire_worksheet">
    <ul id="vampire_worksheet_wizard_nav">
        <li class="hidden"><a id="t0" href="#get_started"></a></li>
        <li><a id="t1" href="#directions">1</a></li>
        <li><a id="t2" href="#home_office">2</a></li>
        {% for field in vampire_worksheet_form.home_office_fields %}
            <li><a id="t{{ forloop.counter|add:"2" }}" href="#{{ field.name }}">{{ forloop.counter|add:"2" }}</a></li>
        {% endfor %}
        <li><a id="t2" href="#home_entertainment">6</a></li>
        {% for field in vampire_worksheet_form.home_entertainment_fields %}
            <li><a id="t{{ forloop.counter|add:"6" }}" href="#{{ field.name }}">{{ forloop.counter|add:"6" }}</a></li>
        {% endfor %}
        <li><a id="t11" href="#plan">11</a></li>
    </ul>
    <br/>
    <div id="vampire_worksheet_wizard">
        <ul class="items">
            <li class="worksheet">
                {% include "actions/vampire_power/_get_started.html" %}
            </li>
            <li id="vampire_directions" class="worksheet">
                {% include "actions/vampire_power/_directions.html" %}
            </li>
            <li class="worksheet transition_slide">
                {% include "actions/vampire_power/_home_office.html" %}
            </li>
            {% for field in vampire_worksheet_form.home_office_fields %}
                <li class="worksheet">
                    {% include "actions/vampire_power/_device.html" %}
                </li>
            {% endfor %}
            <li class="worksheet transition_slide">
                {% include "actions/vampire_power/_home_entertainment.html" %}
            </li>
            {% for field in vampire_worksheet_form.home_entertainment_fields %}
                <li class="worksheet">
                    {% include "actions/vampire_power/_device.html" %}
                </li>
            {% endfor %}
            <li id="plan" class="worksheet">
                {% include "actions/vampire_power/_plan.html" %}
            </li>
        </ul>
    </div>
    {% csrf_token %}
</div>
{% load dated_static %}
<script>
    var RAH = RAH || {};
    RAH.pagescripts = RAH.pagescripts || [];
    RAH.pagescripts.push("{% dated_static 'js/pages/action.detail.vampire.js' %}");
</script>
{% if vampire_worksheet_form.data or progress.is_completed or progress.date_committed %}
    <script type="text/javascript" charset="utf-8">
        var RAH = RAH || {};
        RAH.vampire_worksheet_start = true;
    </script>
{% endif %}

</div>
<div class="box_two_bottom"></div>
    
<div class="box_two_top"></div>
<div class="box_two_middle">
