{% load dated_static %}
<img src="{% dated_static 'images/theme/switch_off.png' %}" height="88px" width="190px" alt="power strip" />
<p>
    Vampires often hang out together. Your television, DVD player, cable box, 
    and video game system may all be plugged into the same power strip. When 
    you're done watching television, turn off the button on your power strip. 
    You can slay all the vampires on the strip with just a flick of a switch. 
</p>
<p>
    Remember, your electronics will still be protected from "surges" when the 
    power strip is turned off.
</p>