{% load dated_static %}
<img src="{% dated_static 'images/theme/smart_strip.png' %}" height="88px" width="190px" alt="power strip" />
<p>
    Looking for a power strip that takes some initiative? Meet the smart power 
    strip. Smart power strips know when it's time to cut power to an outlet. 
    There are many different versions of smart power strips available. The BITS 
    power strip senses when you've turned off your television or computer, and 
    automatically powers down the other outlets. The Belkin power strip turns 
    off automatically after 11 hours, unless you press a button to keep it on.
</p>
<p>
    Smart power strips also have "always on" outlets. You guessed it: these 
    outlets stay on all the time, even when other outlets have powered down.
</p>