<a id="edit_event_link" class="button" href="{% url event-edit event.id %}">Edit Event</a>
<h3>Guests Confirmed: {{ event.confirmed_guests }}</h3>
<div id="attendee_list">
    <h2>Attendee List</h2>
    <ul>
        {% for attendee in event.attendees %}
            <li>
                <span class="attendee_check{% if attendee.has_made_commitments %} ui-icon ui-icon-check{% endif %}"></span>
                {% if attendee == guest %}
                    <span>{{ attendee }}</span>
                {% else %}
                    <a href="{% url event-commitments-guest event.id attendee.id %}">{{ attendee }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
<br class="spacer" />
<div id="commitment_card">
    {% if survey %}
        {% include survey.template_name %}
    {% else %}
        <p>A commitment card does not yet exist for this event type</p>
    {% endif %}
</div>