<div>
    <h3>Description</h3>
    <p>{{ event.event_type.description }}</p>
</div>
{% if event.details %}
    <div>
        <h3>Details</h3>
        <p>{{ event.details }}</p>
    </div>
{% endif %}
<div>
    <h3>Hosts</h3>
    <p>
        {% for host in event.hosts %}
            {% if host.user %}
                {% safe_user_link host.user %}
            {% else %}
                {{ host }}
            {% endif %}
            {% if not forloop.last %}
                <br />
            {% endif %}
        {% endfor %}
    </p>
</div>
<div>
    <h3>When</h3>
    <p>{{ event.when|date:"LONG_DATE_FORMAT" }} at {{ event.start|time }}</p>
</div>
<div>
    <h3>Where</h3>
    <p>
        {% if event.place_name %}<span>{{ event.place_name }}</span><br />{% endif %}
        <span id="event_address">{{ event.where }}</span><br />
        <span id="event_location">{{ event.location }}</span>
    </p>
    <div id="event_map"></div>
</div>