{% if event.details %}
    <div>
        <h3>Details</h3>
        <p>{{ event.details }}</p>
    </div>
{% endif %}
<div>
    <h3>When</h3>
    <p>{{ event.when|date:"LONG_DATE_FORMAT" }} at {{ event.start|time }}</p>
</div>
<div>
    <h3>Where</h3>
    <p>
        <span id="event_address">{{ event.where }}</span><br />
    </p>
    <a href="http://maps.google.com/maps?q={{event.where|urlencode}}" 
        title="Click to view a larger map"
        target="_blank">
        <img src="http://maps.google.com/maps/api/staticmap?center={{event.lat}},{{event.lon}}&zoom=16&size=431x200&markers={{event.lat}},{{event.lon}}&sensor=false" alt="Map of the event"/>
    </a>
</div>
