{% if event.event_type.description %}
    <div>
        <h3>Description</h3>
        <p>{{ event.event_type.description }}</p>
    </div>
{% endif %}
{% if event.details %}
    <div>
        <h3>Details</h3>
        <p>{{ event.details }}</p>
    </div>
{% endif %}
<div>
    <h3>When</h3>
    <p>{{ event.when|date:"LONG_DATE_FORMAT" }} at {{ event.start|time }}</p>
</div>
<div>
    <h3>Where</h3>
    <p>
        {% if event.place_name %}<span>{{ event.place_name }}</span><br />{% endif %}
        <span id="event_address">{{ event.where }}</span><br />
        <span id="event_location">{{ event.location }} {{ event.location.zipcode }}</span>
    </p>
    <div id="event_map"></div>
    <br/>
</div>
<div>
    <h3>Hosts</h3>
    <p>
        {% for host in event.hosts %}
            {% if host.user %}
                {% safe_user_link host.user %}
            {% else %}
                {{ host }}
            {% endif %}
            {% if not forloop.last %}
                <br />
            {% endif %}
        {% endfor %}
    </p>
</div>
{% if event.invited %}
    <div>
        <h3>Invitations</h3>
        <p>
            {% if event.confirmed_guests %}
                {{ event.confirmed_guests }} confirmed<br />
            {% endif %}
            {% if event.maybe_attending_count %}
                {{ event.maybe_attending_count }} maybe{{ event.maybe_attending_count|pluralize }}<br />
            {% endif %}
            {% if event.not_attending_count %}
                {{ event.not_attending_count }} can't attend <br />
            {% endif %}
            {% if event.outstanding_invitations %}
                {{ event.outstanding_invitations }} outstanding invitation{{ event.outstanding_invitations|pluralize }}
            {% endif %}
        </p>
    </div>
{% endif %}