{% for error in form.non_field_errors %}
    <div class="overset_form_message error">{{ error }}</div>
{% endfor %}
{% for field in form %}
    <div class="form_row {% if field.errors %}error{% endif %}{% if 'TextInput' in field.field.widget|pprint or 'Textarea' in field.field.widget|pprint %} overset{% endif %}">
        {{ field.label_tag }}
        {{ field }}
        <span class="event_help_text">{{ field.help_text }}</span>
        {% for error in field.errors %}
            <label class="error" for="{{ field.auto_id }}">{{ error|escape }}</label>
        {% endfor %}
    </div>
{% endfor %}
