<div id="guests_add" class="tabs">
    <ul>
        <li><a href="#guests_add_with_invite">Send Invitations</a></li>
        <li><a href="#guests_add_without_invite">Add without Invite</a></li>
    </ul>
    <div id="guests_add_with_invite" class="tab">
        <form action="{% url event-guests-invite event.id %}" method="post">
            {% with guest_invite_form as form %}
                {% include "events/_form.html" %}
            {% endwith %}
            {% csrf_token %}
            <input type="submit" value="Send" /> | <a href="{% url event-guests event.id %}">cancel</a>
        </form>
    </div>
    <div id="guests_add_without_invite" class="tab">
        <form action="{% url event-guests-add event.id %}" method="post">
            {% with guest_add_form as form %}
                {% include "events/_form.html" %}
            {% endwith %}
            {% csrf_token %}
            <input type="submit" value="Add" /> | <a href="{% url event-guests event.id %}">cancel</a>
        </form>
    </div>
</div>