{% extends "base/nav_9c.html" %}
{% load dated_static %}
{% block title %}Events on Repower at Home{% endblock %}
{% block breadcrumbs %}
    <a href="{% url index %}">Home</a> &rsaquo;
    <a href="{% url event-show %}">Events</a> &rsaquo;
    Search Results
{% endblock %}
{% block title_bar_title %}Search Results{% endblock %}
{% block ribbon_bar %}Showing {{object_list|length}} events{% endblock %}
{% block content %}
        {% with object_list as events %}
            {% include 'events/_event_nugget_list.html' %}
        {% endwith %}
        {% if page_obj.has_next %}
            <a class="search_more" href="{{ request.path }}?search={{ request.GET.search }}&amp;page={{ page_obj.next_page_number }}">more</a>
        {% endif %}
{% endblock %}
