<h4>Name: <span class="attendee_label">{{ guest.contributor.name }}</span></h4>
<h4>Email: <span class="attendee_label">{{ guest.contributor.email }}</span></h4>
<h4>Phone: <span class="attendee_label">{{ guest.contributor.phone }}</span></h4>
<br />
<form action="" method="post">
    <p>
        <h3>Commit to take action in your own home</h3>
        <ul>
            <li>{{ form.eliminate_vampire }}{{ form.eliminate_vampire.label_tag }}</li>
            <li>{{ form.program_thermostat }}{{ form.program_thermostat.label_tag }}</li>
        </ul>
    </p>
    <p>
        <h3>What type of community will you start?</h3>
        <ul>
            <li>{{ form.school }}{{ form.school.label_tag }}</li>
            <li>{{ form.workplace }}{{ form.workplace.label_tag }}</li>
            <li>{{ form.club }}{{ form.club.label_tag }}</li>
            <li>{{ form.neighborhood }}{{ form.neighborhood.label_tag }}</li>
            <li>{{ form.faith }}{{ form.faith.label_tag }}</li>
        </ul>
    </p>
    {% csrf_token %}
    <div><input type="submit" value="Save" /></div>
</form>
