{% extends "base/nav_9c.html" %}
{% load dated_static %}
{% block title %}Events Archive{% endblock %}
{% block title_bar_image %}{% endblock %}
{% block title_bar_title %}Event Archive{% endblock %}
{% block title_bar_copy %}This is an archive of all events past and future.{% endblock %}
{% block ribbon_bar %}Showing {{events|length}} events{% endblock %}
{% block content %}
    <ul class="plain_list nugget_9c_list">
    {% for event in events %}
        {% include 'base/_nugget_9c_list.html' %}
    {% endfor %}
    </ul>
{% endblock %}
