{% extends "events/base.html" %}
{% block title %}Create an Event{% endblock %}
{% block breadcrumbs %}
    <a href="{% url index %}">Home</a> &rsaquo;
    <a href="{% url event-list %}">Events</a> &rsaquo;
    Create an Event
{% endblock %}
{% block right_content %}
    <div class="grid_6 alpha">
        <div class="box_two_top"></div>
        <div class="box_two_middle">
            <form id="event_form" action="" method="post">
                {% include "events/_form.html" %}
                {% csrf_token %}
                <input type="submit" value="Create Event" /> |
                <a href="{% url event-list %}">cancel</a>
            </form>
        </div>
        <div class="box_two_bottom"></div>
    </div>
{% endblock %}
{% block js %}page_event_create{% endblock %}