{% extends "base/nav_form.html" %}
{% load dated_static %}
{% block title %}Create an Event{% endblock %}
{% block breadcrumbs %}
    <a href="{% url index %}">Home</a> &rsaquo;
    <a href="{% url action_community_show %}">Community</a> &rsaquo;
    <a href="{% url event-show %}">Events</a> &rsaquo;
    Create an Event
{% endblock %}
{% block form_info %}
    info!
{% endblock %}
{% block content %}
    <form id="event_form" action="" method="post">
        <h1>Create an Event</h1>
        {% include "base/_form.html" %}
        {% csrf_token %}
        <div class="form_buttons">
            <a href="{% url event-show %}" class="form_cancel">Cancel</a>
            <button class="button_mega" type="submit">Create Event</button>
        </div>
    </form>
    <script>
        var RAH = RAH || {};
        RAH.pagescripts = RAH.pagescripts || [];
        RAH.pagescripts.push("{% dated_static 'js/pages/events.create.js' %}");
    </script>
{% endblock %}
