{% extends "events/base.html" %}
{% load dated_static %}
{% block title %}Create an Event{% endblock %}
{% block breadcrumbs %}
    <a href="{% url index %}">Home</a> &rsaquo;
    <a href="{% url action_community_show %}">Community</a> &rsaquo;
    <a href="{% url event-show %}">Events</a> &rsaquo;
    Create an Event
{% endblock %}
{% block right_content %}
    <div class="grid_6 alpha">
        <div class="box_two_top"></div>
        <div class="box_two_middle">
            <h1>Create an Event</h1>
            <form id="event_form" action="" method="post">
                {% include "events/_form.html" %}
                {% csrf_token %}
                <input type="submit" value="Create Event" /> |
                <a href="{% url event-show %}">cancel</a>
            </form>
        </div>
        <div class="box_two_bottom"></div>
    </div>
    <script>
        var RAH = RAH || {};
        RAH.pagescripts = RAH.pagescripts || [];
        RAH.pagescripts.push("{% dated_static 'js/pages/events.create.js' %}");
    </script>
{% endblock %}
