{% extends "base/nav_6c3c.html" %}
{% load dated_static %}
{% load comments %}
{% block title %}{{ event }}{% endblock %}
{% block extrahead %}
    {% get_content_type_id for event as content_type_id %}
    <link rel="alternate" type="application/atom+xml" href="{% url comments_feed content_type_id,event.id %}" 
        title="{{ event }} comments feed" />
{% endblock %}
{% block breadcrumbs %}
    <a href="{% url index %}">Home</a> &rsaquo;
    <a href="{% url action_community_show %}">Community</a> &rsaquo;
    <a href="{% url event-show %}">Events</a> &rsaquo;
    {{ event }}
{% endblock %}
{% block right_content %}
    <div class="grid_6 alpha">
        <div class="box_two_top"></div>
        <div class="box_two_middle">
            <h1>{{ event }}</h1>
            {% include "events/_details.html" %}
        </div>
        <div class="box_two_bottom"></div>
        
        {% if has_manager_privileges %}
            <div class="box_two_top"></div>
            <div class="box_two_middle">
                <h1>Guest List</h1>
                {% include "events/_guest_list.html" %}
            </div>
            <div class="box_two_bottom"></div>
        {% endif %}
    </div>
    <div class="grid_3 omega">
        <div class="box_one_top"></div>
        <div class="box_one_middle">
            {% if has_manager_privileges %}
                <h3>Host Tools</h3>
                <ul class="plain_list">
                    <li><a href="{% url event-edit event.id %}">Edit Event Details</a></li>
                    <li><a class="guests_add_link" href="{% url event-guests-add event.id %}">Add Guest</a></li>
                    <li><a id="event_hosts_link" href="{% url event-hosts event.id %}">Select Hosts</a></li>
                    <li>
                        <a href="{% url event-print event.id %}">Sign In Sheet</a>
                        <span class="file_icon pdf_icon" title="PDF sign in sheet download"></span>
                    </li>
                    <li>
                        <a href="{% url event-spreadsheet event.id %}">Guest List</a>
                        <span class="file_icon excel_icon" title="Excel guest list download"></span>
                    </li>
                </ul>
            {% else %}
                <h3>RSVP</h3>
                {% if guest.rsvp_status and not request.GET.reset %}
                    <p>
                        You are: <span>{{ guest.get_rsvp_status_display }}</span><br />
                        (<a href="{{ event.get_absolute_url }}?reset=true">change</a>)
                    </p>
                {% else %}
                    {% include "events/_rsvp_form.html" %}
                {% endif %}
            {% endif %}
        </div>
        <div class="box_one_bottom"></div>
        
        {% if has_manager_privileges %}
            <div class="box_one_top"></div>
            <div class="box_one_middle">
                {% include "events/_invitations.html" %}
            </div>
            <div class="box_one_bottom"></div>
        {% endif %}
    </div>
    <br class="clear"/>
    <br class="clear"/>
    <div id="comments">
        {% get_content_type_id for event as content_type_id %}
        <a class="feed_link" href="{% url comments_feed content_type_id,event.id %}">Feed</a>
        {% with event as object %}
            {% render_comment_list for object %}
            {% render_comment_form for object %}
        {% endwith %}
    </div>
    <script>
        var RAH = RAH || {};
        RAH.pagescripts = RAH.pagescripts || [];
        RAH.pagescripts.push("{% dated_static 'js/pages/events.detail.js' %}"); 
    </script>
{% endblock %}
