{% extends "events/base.html" %}
{% block title %}Edit {{ event }}{% endblock %}
{% block breadcrumbs %}
    <a href="{% url index %}">Home</a> &rsaquo;
    <a href="{% url event-list %}">Events</a> &rsaquo;
    <a href="{% url event-show event.id %}">{{ event }}</a> &rsaquo;
    Edit Event
{% endblock %}
{% block right_content %}
    <div class="grid_6 alpha">
        <div class="box_two_top"></div>
        <div class="box_two_middle">
            <h1>Edit your Event</h1>
            <form id="event_form" action="" method="post">
                {% include "events/_form.html" %}
                {% csrf_token %}
                <input type="submit" value="Save Changes" /> |
                <a href="{% url event-show event.id %}">cancel</a>
            </form>
        </div>
        <div class="box_two_bottom"></div>
    </div>
{% endblock %}

{% block js %}page_event_edit{% endblock %}