{% extends "events/base.html" %}

{% block right_content %}
    <div class="grid_6 alpha">
        <div class="box_two_top"></div>
        <div class="box_two_middle">
            <h1>{{ event }}</h1>
            <h3>Guests Confirmed: {{ event.confirmed_guests }}</h3>
            <h3>Outstanding Invitations: {{ event.outstanding_invitations }}</h3>
            <form action="{% url event-guests event.id %}" method="post">
                {{ form.errors }}
                {{ form.action }}
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for guest in form.guests.field.choices.queryset %}
                        <tr>
                            <td><input type="checkbox" name="guests" value="{{ guest.id }}" /></td>
                            <td>{{ guest.name }} {% if guest.is_host %}(host){% endif %}</td>
                            <td>{{ guest.email }}</td>
                            <td>{{ guest.phone }}</td>
                            <td>{{ guest.status }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% csrf_token %}
                <input type="submit" value="Submit" />
            </form>
        </div>
        <div class="box_two_bottom"></div>
    </div>
 
    <div class="grid_3 omega">
        {% if request.user == event.creator %}
            <div class="box_one_top"></div>
            <div class="box_one_middle">
                <p><a class="button" href="{% url event-edit event.id %}">Edit Event</a></p>
                <p><a class="button" href="{% url event-guests event.id %}">Guest List</a></p>
                <p><a class="button" href="{% url event-commitments event.id %}">Commitments</a></p>
            </div>
            <div class="box_one_bottom"></div>
        {% endif %}
        
        <div class="box_one_top"></div>
        <div class="box_one_middle">
            <p><a class="button" href="{% url event-guests-add event.id %}">Add Guest</a></p>
            <p><a class="button" href="{% url event-print event.id %}">Print Sign In Sheet</a></p>
        </div>
        <div class="box_one_bottom"></div>
    </div>
{% endblock %}