{% extends "base/nav_6c3c.html" %}


{% block breadcrumbs %}
    <a href="{% url index %}">Home</a> &rsaquo;
    <a href="{% url event-show %}">Events</a> &rsaquo;
    <a href="{{ event.get_absolute_url }}">{{ event }}</a> &rsaquo;
    Hosts
{% endblock %}

{% block right_content %}
    <div class="grid_6 alpha">
        <div class="box_three_top"></div>
        <div class="box_three_middle">
            {% include "events/_hosts.html" %}
        </div>
        <div class="box_three_bottom"></div>
    </div>
{% endblock %}
