{% extends "events/base.html" %}
{% block title %}Events on Repower at Home{% endblock %}
{% block breadcrumbs %}
    <a href="{% url index %}">Home</a> &rsaquo;
    Events
{% endblock %}
{% block right_content %}
<div class="grid_6 alpha">
    <div class="box_two_top"></div>
    <div class="box_two_middle">
        <h1>Host an energy meeting</h1>
        <p>
            You’ve already demonstrated your commitment to a cleaner world. 
            <b>Now it’s time to magnify your impact by hosting an energy meeting.</b>
        </p>
        <p>
            Energy meetings let you introduce your friends, coworkers, and neighbors to the 
            benefits of saving energy. These fun events teach participants about a few key 
            energy actions and get them excited about saving energy as a team. 
        </p>
        <p>
            <b>You don’t have to be an expert in energy efficiency to host an event.</b> 
            Repower at Home will provide all the materials you need. 
        </p>
        <p>
            <i>But I don’t know whom to invite!</i><br />
            You’re already plugged into many networks: your office, your children’s school, 
            your bowling team, and so on. Who isn’t interested in cleaner air and better homes? 
            Many hosts are unsure in the beginning, but find it easy to develop a guest list of 
            well over thirty people! The host materials will help you think through the process 
            and develop a guest list. 
        </p>
        <p><a class="button" href="{% url event-create %}">Create an Event</a></p>
        {% if events %}
            <h2>Upcoming Events</h2>
            {% include "events/_event_nugget_list.html" %}
        {% endif %}
    </div>
    <div class="box_two_bottom"></div>
</div>
    {% if user.is_authenticated %}
        <div class="grid_3 omega">
            <div class="box_one_top"></div>
            <div class="box_one_middle">
                <h3>Your Events</h3>
                {% if my_events %}
                    {% with my_events as events %}
                        {% include "events/_event_nugget_list.html" %}
                    {% endwith %}
                {% else %}
                    <em>You're not a member of any teams yet!</em>
                {% endif %}
            </div>
            <div class="box_one_bottom"></div>
        </div>
    {% endif %}
{% endblock %}