{% extends "events/base.html" %}
{% load comments %}
{% block breadcrumbs %}
    <a href="{% url index %}">Home</a> &rsaquo;
    <a href="{% url event-list %}">Events</a> &rsaquo;
{% endblock %}
{% block right_content %}
    <div class="grid_9 alpha omega">
        <div class="box_three_top"></div>
        <div class="box_three_middle">
            <h1>{{ event }}</h1>
            <div id="event_tabs">
                {% include "events/_manager_links.html" %}
                {% block event_details_content %}{% endblock %}
            </div>
        </div>
        <div class="box_three_bottom"></div>
     
        <div id="comments">
            <div id="comments_divider"></div>
            {% with event as object %}
                {% render_comment_list for object %}
                {% render_comment_form for object %}
            {% endwith %}
        </div>
    </div>
{% endblock %}
