<p>
    Hey {{ guest.first_name }},
</p>
<p>
    We’re really excited that you’re coming to a {{ guest.event }}! Mark you calendar now:
    <div style="margin-left: 15px;">
        <div>
            <div style="float: left;"><i>Location:</i></div>
            <div style="margin-left: 60px;">
                {{ guest.event.place_name }}<br />
                {{ guest.event.where }}<br />
                {{ guest.event.location }} {{ guest.event.location.zipcode }}
            </div>
            <div style="clear: both;"></div>
        </div>
        <div>
            <div style="float: left;"><i>Time:</i></div>
            <div style="margin-left: 60px;">
                {{ guest.event.start|time }}
            </div>
            <div style="clear: both;"></div>
        </div>
        <div>
            <div style="float: left;"><i>Date:</i></div>
            <div style="margin-left: 60px;">
                {{ guest.event.when|date }}
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</p>

<p>
    Here’s what {{ user.first_name }} wants you to know:<br />
    {{ note }}
</p>
<p>
    Thanks,<br />
    The Repower at Home team
</p>
