{% extends "base/nav_6c3c.html" %}


{% block right_content %}
    <div class="grid_6 alpha">
        <div class="box_three_top"></div>
        <div class="box_three_middle">
            <h1>Create an Account</h1>
            <p></p>
                <form action="{% url event-rsvp-account event.id %}" method="post">
                    {% include "events/_form.html" %}
                    {% csrf_token %}
                    <input type="submit" value="Create Account" /> |
                    <a href="{{ event.get_absolute_url }}">No Thanks</a>
                </form>
        </div>
        <div class="box_three_bottom"></div>
    </div>
{% endblock %}
