{% extends "events/base.html" %}
{% block title %}{{ event }}{% endblock %}
{% load comments %}
{% block breadcrumbs %}
    <a href="{% url index %}">Home</a> &rsaquo;
    <a href="{% url event-show %}">Events</a> &rsaquo;
    {{ event }}
{% endblock %}
{% block right_content %}
    <div class="grid_6 alpha">
        <div class="box_two_top"></div>
        <div class="box_two_middle">
            <h1>{{ event }}</h1>
            {% include "events/_details.html" %}
        </div>
        <div class="box_two_bottom"></div>
    </div>
    <div class="grid_3 omega">
        <div class="box_one_top"></div>
        <div class="box_one_middle">
            <h3>RSVP</h3>
            {% if guest.rsvp_status and not request.GET.reset %}
                <p>
                    You are: <span>{{ guest.get_rsvp_status_display }}</span><br />
                    (<a href="{% url event-detail event.id %}?reset=true">change</a>)
                </p>
            {% else %}
                {% include "events/_rsvp_form.html" %}
            {% endif %}
        </div>
        <div class="box_one_bottom"></div>
    </div>
    <br class="clear"/>
    <br class="clear"/>
    <div id="comments">
        {% with event as object %}
            {% render_comment_list for object %}
            {% render_comment_form for object %}
        {% endwith %}
    </div>
    
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
{% endblock %}
{% block js %}page_event_show{% endblock %}
