{% extends "base/nav_6c3c.html" %}


{% block content %}
    <div class="grid_6 alpha">
        <div class="box_three_top"></div>
        <div class="box_three_middle">
            <h1>Thanks for the RSVP</h1>
            <p>We'll put you down as <span>{{ guest.get_rsvp_status_display }}</span></p>
                <form action="{% url event-rsvp-confirm event.id %}" method="post">
                    {% include "events/_form.html" %}
                    {% csrf_token %}
                    <input type="submit" value="Confirm RSVP" /> |
                    <a href="{% url event-rsvp-cancel event.id %}">cancel</a>
                </form>
        </div>
        <div class="box_three_bottom"></div>
    </div>
{% endblock %}
