{% extends "base/nav_9c.html" %}

{% load dated_static %}
{% load search_widget %}

{% block title %}Events on Repower at Home{% endblock %}
{% block title_bar_image %}sprite_section_events_large{% endblock %}
{% block title_bar_title %}Events{% endblock %}
{% block title_bar_copy %}
Come together with friends and neighbors to share tips and tricks for saving
energy at home. Meet ups are also a great place to share information about
energy efforts in the community and how to get involved. Find one near you or
host your own.
{% endblock %}
{% block ribbon_bar %}Showing {{map_events|length}} events{% endblock %}
{% block content %}
<h1>Host an energy meeting</h1>
<div id="events_map" style="width:100%; height:300px; border: 1px solid; margin-bottom:18px;"></div>
<p>
We have all the tools and resources you need to host an energy meet up. 
Check them out <a href="/hosting/">here</a> or start creating your event right away.
</p>
{% search_widget event_search %}

{% if events %}
    <h3>Upcoming Events</h3>
    {% include "events/_event_nugget_list.html" %}
{% endif %}

<script>
    var RAH = RAH || {};
    RAH.pagescripts = RAH.pagescripts || [];
    RAH.pagescripts.push("{% dated_static 'js/pages/events.show.js' %}");
    
    // Add locations for plotting on the map
    RAH.event_locations = [];
    {% for event in map_events %}
        var info = "<b>{{ event.title|escape|escapejs }}</b><br/>\
            {{ event.where|escape|escapejs }}<br/>";
            info += "<a href='{% url event-detail event.id %}'>View event</a>";
        RAH.event_locations.push({ 
            lat: "{{ event.lat }}", 
            lon: "{{ event.lon }}",
            "info": info,
            id: {{ event.id }}
        });
    {% endfor %}
</script>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
{% endblock %}
