*.pyc
*.tmproj
.DS_Store
logs/*
local_settings.py
static/fonts/museoslab/*
static/group_images/*
static/sticker_images/*
static/images/theme/geo_group_*
static/images/theme/default_group_*
lib/src/*
*.swp
static_build/*
docs/_build/*
fabfile/
