{% extends "rah/base.html" %}
{% load dated_static %}
{% block tongue %}{% endblock tongue %}
{% block title %}Log in to Repower at Home{% endblock %}
{% block right_content %}
    <div class="prefix_3">
        <div class="box_two_top"></div>
        <div class="box_two_middle">
            <form action="{% url login %}" method="post" id="login_form" autocomplete="off">
                <h1>Log In</h1>
                {% with login_form as form %}
                    {% include "rah/_overset_form.html" %}
                {% endwith %}
                <p>
                    <input type="submit" value="Log in" /> or
                    <div class="fb_button" id="fb-login">
                        <a href="#" class="fb_button fb_button_medium">
                            <span id="fb_login_text" class="fb_button_text">Login in with Facebook</span>
                        </a>
                    </div>
                </p>
                {% csrf_token %}
                <p><input type="hidden" name="next" value="{{ next|escape }}" /></p>
            </form>
            <p class="smaller">
                Don't have an account? <a href="{% url rah.views.register %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}">Sign up</a><br/>
                <a href="{% url password_reset %}">Recover password</a>
            </p>
        </div>
        <div class="box_two_bottom"></div>
    </div>
{% endblock %}
<script>
    var RAH = RAH || {};
    RAH.pagescripts = RAH.pagescripts || [];
    RAH.pagescripts.push("{% dated_static 'js/pages/rah.login.js' %}");
</script>
