{% extends "rah/base.html" %}
{% block tongue %}{% endblock tongue %}
{% block title %}Log in to Repower at Home{% endblock %}
{% block breadcrumbs %}
 <div class="prefix_3">
    <a href="{% url index %}">Home</a> &rsaquo;
    Log in
</div>
{% endblock %}
{% block right_content %}
    <div class="prefix_3">
        <div class="box_two_top"></div>
        <div class="box_two_middle">
            <form action="{% url login %}" method="post" id="login_form" autocomplete="off">
                <h1>Log In</h1>
                {% with login_form as form %}
                    {% include "rah/_overset_form.html" %}
                {% endwith %}
                <p>
                    <input type="submit" value="Log in" /> or
                    <fb:login-button id="facebook_login"></fb:login-button>
                </p>
                {% csrf_token %}
                <p><input type="hidden" name="next" value="{{ next|escape }}" /></p>
            </form>
            <p>
                Don't have an account? <a href="{% url rah.views.register %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}">Sign up</a><br/>
                <a href="{% url password_reset %}">Recover password</a>
            </p>
        </div>
        <div class="box_two_bottom"></div>
    </div>
    <div id="fb-root"></div>
{% endblock %}
{% block js %}page_login{% endblock %}
{% block extrajs %}
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script>
        FB.init({appId: '{{ FACEBOOK_APPID }}', status: true, cookie: true, xfbml: true});
    </script>
{% endblock %}
