{% extends "base/nav_form.html" %}
{% load dated_static %}
{% block title %}Reset your Password{% endblock %}
{% block breadcrumbs %}
    <a href="{% url index %}">Home</a> &raquo;
    Reset password
{% endblock %}
{% block form_info %}
    Pick a new password
{% endblock %}

{% block content %}
    {% if form %}
        <form id="password_reset_confirm" action="" method="post" autocomplete="false" class="form_6c">
        <h1>Reset Password</h1>
            {% include "base/_form.html" %}
            {% csrf_token %}
            <div class="form_buttons">
                <button class="button_mega" type="submit">Log in</button>
                <input type="hidden" name="next" value="{{ next|escape }}" />
            </div>
        </form>
    {% else %}
        <p>This link is no longer valid, please request a new <a href="{% url password_reset %}">password reset</a>.</p>
    {% endif %}
    <script>
        var RAH = RAH || {};
        RAH.pagescripts = RAH.pagescripts || [];
        RAH.pagescripts.push("{% dated_static 'js/pages/registration.password_reset_confirm.js' %}");
    </script>
{% endblock %}
