{% extends "base/nav_form.html" %}
{% load dated_static %}
{% block title %}Change your Password{% endblock %}
{% block breadcrumbs %}
    <a href="{% url index %}">Home</a> &raquo;
    Change your password
{% endblock %}
{% block form_info %}
Change your password
{% endblock %}
{% block content %}
            
    <form id="password_change_form" action="" method="post" autocomplete="false" class="form_6c">
        <h1>Change your password</h1>
        {% include "base/_form.html" %}
        {% csrf_token %}
        <div class="form_buttons">
            <button class="button_mega" type="submit">Change your password</button>
            <input type="hidden" name="next" value="{{ next|escape }}" />
        </div>
    </form>
    <script>
        var RAH = RAH || {};
        RAH.pagescripts = RAH.pagescripts || [];
        RAH.pagescripts.push("{% dated_static 'js/pages/registration.password_change.js' %}");
    </script>
{% endblock %}
