{% extends "rah/base.html" %}
{% block tongue %}{% endblock tongue %}
{% block title %}Register for Repower at Home{% endblock %}
{% block right_content %}
    <div class="prefix_2">
        <div class="box_three_top"></div>
        <div class="box_three_middle">
            <div id="registration_left_col">
                <h1>Join the Challenge</h1>
                <p>
                    <object width="360" height="227"><param name="movie" value="https://repowerathome.com/youtube/v/kPm9wMhIcJs&amp;hl=en_US&amp;fs=1?rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="https://repowerathome.com/youtube/v/kPm9wMhIcJs&amp;hl=en_US&amp;fs=1?rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="360" height="227"></embed></object>
                </p>
                <h3>Solve the climate crisis from the ground up.</h3>
                <p>
                    Join the Repower at Home Coal Challenge today and see the many simple ways to conserve energy in
                    your home. Start saving money on your energy bills and join our grassroots effort to keep the
                    equivalent of 7,000,000 pounds of dirty coal out of our air by October 10.
                </p>
                <p>
                    <b>
                        Join the Challenge using the form to the right or the Facebook button below so we can count your
                        savings toward our goal.
                    </b>
                </p>
                <p>
                    <div class="fb_button" id="fb-login">
                        <a href="#" class="fb_button fb_button_medium">
                            <span id="fb_login_text" class="fb_button_text">Join with Facebook</span>
                        </a>
                    </div>
                </p>
            </div>
            <div id="registration_right_col">
                <form action="{% url register %}" method="post" id="registration_form" autocomplete="off">
                    <div class="form_row overset form_row_float form_row_float_left_field">
                        <label for="id_first_name">First name</label>
                        <input type="text" name="first_name" id="id_first_name" />
                    </div>
                    
                    <div class="form_row overset form_row_float">
                        <label for="id_last_name">Last name</label>
                        <input id="id_last_name" type="text" name="last_name" maxlength="30" />
                    </div>
                    <br class="clear"/>
                    <div class="form_row overset form_row_float form_row_float_left_field">
                        <label for="id_password1">Password</label>
                        <input type="password" name="password1" id="id_password1" />
                    </div>

                    <div class="form_row overset form_row_float">
                        <label for="id_password2">Confirm Password</label>
                        <input type="password" name="password2" id="id_password2" />
                    </div>
                    <br class="clear"/>
                    <div class="form_row overset ">
                        <label for="email_register">Email</label>
                        <input type="text" id="email_register" name="email" />
                    </div>

                    <div class="form_row overset ">
                        <label for="id_zipcode">Zipcode (US residents only)</label>
                        <input id="id_zipcode" type="text" name="zipcode" maxlength="10" />
                        {# <div class="help_text"></div> #}
                    </div>
                    <p>
                        <input type="submit" value="Join" id="register_submit" style="font-size:18px;"/>
                        <span class="smaller">
                            Already have an account? <a href="{% url login %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}">Log in</a>
                        </span>
                    </p>
                    <div>
                        {{ register_form.honeypot }}
                        <input type="hidden" name="next" value="{{ next|escape }}" />
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>
        <div class="box_three_bottom"></div>
    </div>
{% endblock %}
{% block js %}page_register{% endblock %}
{% block extrahead %}
<!-- Google Website Optimizer Control Script -->
<script>
function utmx_section(){}function utmx(){}
(function(){var k='2042308889',d=document,l=d.location,c=d.cookie;function f(n){
if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.indexOf(';',i);return c.substring(i+n.
length+1,j<0?c.length:j)}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;
d.write('<sc'+'ript src="'+
'http'+(l.protocol=='https:'?'s://ssl':'://www')+'.google-analytics.com'
+'/siteopt.js?v=1&utmxkey='+k+'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='
+new Date().valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"></sc'+'ript>')})();
</script><script>utmx("url",'A/B');</script>
<!-- End of Google Website Optimizer Control Script -->
{% endblock %}
{% block extrajs %}
<!-- Google Website Optimizer Tracking Script -->
<script type="text/javascript">
if(typeof(_gat)!='object')document.write('<sc'+'ript src="http'+
(document.location.protocol=='https:'?'s://ssl':'://www')+
'.google-analytics.com/ga.js"></sc'+'ript>')</script>
<script type="text/javascript">
try {
var gwoTracker=_gat._getTracker("UA-11623269-2");
gwoTracker._trackPageview("/2042308889/test");
}catch(err){}</script>
<!-- End of Google Website Optimizer Tracking Script -->
{% endblock %}