<form class="flagged_flag_form" action="{% url flagged-flag %}" method="post">
    {% csrf_token %}
    <p>
        <input id="id_flagged_{{ form.id }}" class="flag_box button" type="checkbox" name="flagged"
            {% if form.flagged.field.initial %}checked="checked" disabled="disabled"{% endif %} />
        <label class="flag_label tooltip" for="id_flagged_{{ form.id }}" title="Flag as inappropriate">
            <span class="icon_flag"></span>
        </label>
    </p>
    <p>
        {{ form.content_type }}
        {{ form.object_pk }}
        <input type="hidden" name="next" value="{{ request.path }}" />
        {# <button title="Report this as an inappropriate comment" class="button_tooltip" type="submit"><span class="icon_flag"></span></button> #}
    </p>
</form>