<p>
    Hi, <br />
    {{ from_user.get_full_name}} ({{ from_user.email }}) just invited you to join Repower at Home. <br />
    Your challenge, if you choose to accept it, is to turn your home into a clean, mean, <br />
    energy-saving machine. 
</p>
<p>
    <a href="{{ invite.get_permalink }}">Click here to accept the invitation</a>
</p>
{% if note %}
    <p>
       Here's what {{ from_user.first_name }} wants you to know: <br />
       {{ note|safe }} 
    </p>
{% endif %}
<p>
    Repower at Home is giving homes across the country a power boost. We’re the <br />
    premiere online community for people who want to save energy, save money, and <br />
    save the world. As a member, you can access awesome energy-saving tips, link up <br />
    with groups in your ‘hood, and more.
</p>
<p>
    Get started today – it’s free!
</p>
<p>
    <a href="https://{{ domain }}{% url register %}">Sign up at repowerathome.com</a>
</p>
<p>
    Cheers,<br />
    The Repower at Home team
</p>