{% extends "base/nav.html" %}
{% block content_9c %}
<div id="content_9c">
    <div id="title_bar_9c" class="title_bar_9c_custom_img">
        {% block title_bar_image %}{% endblock %}
        <div>
            <h1>{% block title_bar_title %}{% endblock %}</h1>
            {% block title_bar_copy %}{% endblock %}
        </div>
    </div>
</div>
<ul id="tab_nav" class="plain_list">
    {% block tab_nav %}{% endblock %}
</ul>
<div class="grid_6 alpha">
    <div id="content_6c">
    {% block content %}{% endblock %}
    </div>
</div>
<div class="grid_3 omega">
    <div id="sidebar">
    {% block sidebar %}{% endblock %}
    </div>
</div>
{% endblock %}
