{% extends "base/nav.html" %}
{% block content_9c %}
<div id="content_9c">
    <div id="title_bar_9c">
        <div class="{% block title_bar_image %}{% endblock %}"></div>
        <div id="title_bar_9c">
            <h1>{% block title_bar_title %}{% endblock %}</h1>
            <p>{% block title_bar_copy %}{% endblock %}</p>
        </div>
    </div>
    <div class="ribbon_large">
        {% block ribbon_bar %}{% endblock %}
        <div class="ribbon_large_wrap"></div>
    </div>
    <div>
        {% block content %}{% endblock %}
    </div>
</div>
{% endblock %}
