{% for disc in discs %}
{% if disc.is_public or is_manager or disc.user.id == user.id %}
    <p>
        <b>
            <a href="{% url group_disc_detail group.slug,disc.id %}">{{disc.subject}}</a>
            <span class="group_disc_reply_count">{{disc.reply_count}} repl{{disc.reply_count|pluralize:"y,ies"}}</span>
        </b>
        <br/>
        <span class="smaller">Posted by {% safe_user_link disc.user %} at {{disc.created|date:"TIME_FORMAT"}} on {{disc.created|date:"DATE_FORMAT"}}</span>
    </p>
{% endif %}
{% endfor %}