{% for error in form.non_field_errors %}
    <div class="overset_form_message error">{{ error }}</div>
{% endfor %}
{% for field in form %}
    {% if field.name == "name" or field.name == "description" %}
        <p class="form_row overset">
            {{ field.label_tag }}
            {{ field }}
            {% for error in field.errors %}
                <label class="error" for="{{ field.auto_id }}">{{ error|escape }}</span>
            {% endfor %}
        </p>
    {% endif %}
    {% if field.name == "slug" %}
        <div id="group_slug_wrapper">
            <label id="group_slug_domain">http://repowerathome.com/</label>
            <p id="group_slug_address" class="form_row overset">
                {{ form.slug.label_tag }}
                {{ form.slug }}
                {% for error in form.slug.errors %}
                    <label class="error" for="{{ form.slug.auto_id }}">{{ error|escape }}</span>
                {% endfor %}
            </p>
        </div>
    {% endif %}
    {% if field.name == "image" or field.name == "membership_type" %}
        <div class="form_row">
            {{ field.label_tag }}
            {{ field }}
            {% for error in field.errors %}
                <label class="error" for="{{ field.auto_id }}">{{ error|escape }}</span>
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}