<div class="group_disc_reply {% if not disc.is_public %}unapproved{% endif %}">
	{% if disc.is_public or is_manager or disc.user.id == user.id %}
		{{disc.body|linebreaks}}
		<em>Posted by {% safe_user_link disc.user %} on {{disc.created}}</em>
		{% if not disc.is_public and is_manager %}
			<form action="{% url group_disc_approve group_slug=group.slug,disc_id=disc.id %}" method="post" accept-charset="utf-8">
				{{approve_form.as_p}}
				<p><input type="submit" value="Approve"/></p>
				{% csrf_token %}
			</form>
		{% endif %}
		{% if is_manager %}
			<form action="{% url group_disc_remove group_slug=group.slug,disc_id=disc.id %}" method="post" accept-charset="utf-8">
				{{remove_form.as_p}}
				<p><input class="as_link" type="submit" value="Remove"/></p>
				{% csrf_token %}
			</form>
		{% endif %}
	{% endif %}
</div>