{% load thumbnail %}

<img class="group_image" src="{% thumbnail group.safe_image 45x38 crop='smart' %}" alt="group image" height="38" width="45" />
<div class="group_details">
    <h1>
        <a href="{{ group.get_absolute_url }}">{{ group.name }}</a>
    </h1>
    {% if group.description %}
        <p class="group_description">{{ group.description }}</p>
    {% endif %}
    <p>
        {% if is_manager %}
            <a class="button" href="{% url group_edit group.slug %}">Edit Team</a>
        {% endif %}
        {% if group.is_joinable and is_member %}
            <a class="button" href="{% url group_leave group.id %}">Leave Team</a>
        {% endif %}
    </p>
</div>
<br class="clear" />