{% for error in form.non_field_errors %}
    <div class="overset_form_message error">{{ error }}</div>
{% endfor %}
{% for field in form %}
    {% if field.name == "slug" %}
        <div id="group_slug_wrapper">
            <label id="group_slug_domain">http://{{SITE_DOMAIN}}/</label>
            <p id="group_slug_address" class="form_row overset {% if field.errors %}error{% endif %}">
                {{ form.slug.label_tag }}
                {{ form.slug }}
                {% for error in form.slug.errors %}
                    <label class="error" for="{{ form.slug.auto_id }}">{{ error|escape }}</label>
                {% endfor %}
            </p>
        </div>
    {% else %}
        {% if field.is_hidden %}
            <div class='hidden'>{{ field }}</div>
        {% else %}
            <div class="form_row {% if field.errors %}error{% endif %}{% if 'TextInput' in field.field.widget|pprint or 'Textarea' in field.field.widget|pprint %} overset{% endif %}">
                {% if "CheckboxInput" in field.field.widget|pprint %}
                    {{ field }}{{ field.label_tag }}
                {% else %}
                    {{ field.label_tag }}{{ field }}
                {% endif %}
                <span class="help_text">{{ field.help_text }}</span>
                {% for error in field.errors %}
                    <label class="error" for="{{ field.auto_id }}">{{ error|escape }}</label>
                {% endfor %}
            </div>
        {% endif %}        
    {% endif %}
{% endfor %}
