{% extends "groups/base.html" %}
{% load dated_static %}
{% block title %}Teams on Repower at Home{% endblock %}
{% block breadcrumbs %}
    <a href="{% url index %}">Home</a> &rsaquo;
    <a href="{% url group_list %}">Teams</a> &rsaquo;
    Search Results
{% endblock %}
{% block right_content %}
<div class="grid_6 alpha">
    <div class="box_two_top"></div>
    <div class="box_two_middle">
        <h1>Search Results</h1>
        {% with object_list as groups %}
            {% include 'groups/_group_nugget_list.html' %}
        {% endwith %}
        {% if page_obj.has_next %}
            <a class="search_more" href="{{ request.path }}?search={{ request.GET.search }}&amp;page={{ page_obj.next_page_number }}">more</a>
        {% endif %}
    </div>
    <div class="box_two_bottom"></div>
</div>
{% endblock %}
