{% extends "base/nav_6c3c_b.html" %}
{% load record %}
{% load invites %}
{% load dated_static %}

{% block title %}{{group.name}}{% endblock %}
{% block extrahead %}
    {% if group.slug %}
        <link rel="alternate" type="application/atom+xml"  href="{% url group_activity_feed group.slug %}" title="Repower at Home Community Activity" />
    {% endif %}
{% endblock %}
{% block title_bar_image %}
        <img src="{{ MEDIA_URL }}{{ group.image.thumbnail_colorspace_80x80smartcrop }}" alt="group image" height="80" width="80" />
{% endblock %}
{% block title_bar_title %}{{group.name}}{% endblock %}
{% block title_bar_copy %}
    <p id="title_bar_9c_info">
        {% if group.location %}
            {{ group.location }} | 
        {% endif %}
        <span>Created {{ group.created|date:"M Y" }}</span>
    </p>
    {{ group.description|linebreaksbr }}
    
{% endblock %}
{% block tab_nav %}
    <li class="tab_nav_selected">Overview</li>
    <li><a href="#actions">Actions</a></li>
    <li><a href="#communities">Communities</a></li>
    <li><a href="#challenges">Challenges</a></li>
    <li><a href="#events">Events</a></li>
    <li><a href="#badges">Badges</a></li>
    {% if is_manager %}
    <li class="tab_nav_link"><a href="{% url group_edit group.slug %}">Edit community</a></li>
    {% endif %}
{% endblock %}

{% block content %}
        <table class="tablesorter">
            <thead>
                <tr>
                    <th class="header">Members</th>
                    <th class="header">Committed Actions</th>
                    <th class="header">Actions Completed</th>
                    <th class="header">Points Earned</th>
                    <th class="header">Last Active</th>
                </tr>
            </thead>
            <tbody>
                {% for user in top_members %}
                    <tr>
                        <td>{% safe_user_link user %}</td>
                        <td>{{ user.actions_committed|default_if_none:0 }}</td>
                        <td>{{ user.actions_completed|default_if_none:0 }}</td>
                        <td>{{ user.total_points}}</td>
                        <td>{{ user.last_active|date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if not group.is_geo_group %}
            <h2>Discussions</h2>
            <div class="group_disc_box_links">
                {% if is_poster %}
                    <a href="{% url group_disc_create group.slug %}">New discussion</a> 
                {% endif %}
                {% if is_poster and discs %}
                    |
                {% endif %}
                {% if discs %}
                    <a href="{% url group_disc_list group.slug %}">Archive</a>
                {% endif %}
            </div>            
            {% if discs %}
                {% include "groups/_group_disc_list.html" %}
            {% else %}
                <em>No discussions yet.</em>
            {% endif %}
        {% endif %}
    
    {% if group_records %}
        <h2>Community Activity
            {% if group.slug %}
                <a class="atom_link" href="{% url group_activity_feed group.slug %}">
                    <img src="{% dated_static 'images/theme/social_icons/16/feed.png' %}" alt="atom feed" width="16" height="16"/>
                </a>
            {% endif %}
        </h2>
        {% for record in group_records %}
            {% render_record record %}
        {% endfor %}
    {% endif %}

        <p>
            Community points: {{ group.total_points }}<br />
            Total members: {{ group.total_members }}<br />
        </p>
        <p>

            {% if group.is_joinable and is_member %}
                <a href="{% url group_leave group.id %}">Leave Community</a>
            {% endif %}
            {% if group.is_joinable and not is_member and not membership_pending %}
                <a class="button" href="{% url group_join group.id %}">Join Community</a>
            {% endif %}
            {% if membership_pending %}
                <p>Your membership status is currently <b>pending</b>.</p>
            {% endif %}
        </p>
    
    {% if requesters %}
        <h3>Membership Requests</h3>
        <ul>
            {% for requester in requesters %}
                <li class="membership_request">
                    {% safe_user_link requester %} would like to join
                    <div class="membership_tools">
                        <a href="{% url group_approve group.id requester.id %}">Approve</a> or 
                        <a href="{% url group_deny group.id requester.id %}">Deny</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if event_requests %}
        <h3>Event Link Requests</h3>
        <ul>
            {% for er in event_requests %}
                <li class="membership_request">
                    {% safe_user_link er.event.creator %} has requested to link this community to
                    <a href="{{ er.event.get_absolute_url }}">{{ er.event }}</a>
                    <div class="membership_tools">
                        <a href="{% url group_event_approve er.group.id er.event.id %}">Approve</a> or
                        <a href="{% url group_event_deny er.group.id er.event.id %}">Deny</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    
    {% if is_member %}
        <h3>Community Invitations</h3>
        <p>
            Invites sent: {{ group.invites_sent }}
            <a class="button invite_friend_link" href="{% url invite-invite %}">Send Invite</a>
        </p>
        <div id='invite_friend_dialog'>
            {% get_invite_form for group %}
        </div>
    {% endif %}
    
    {% if popular_actions %}
        <h3>Popular Actions</h3>
        {% for action in popular_actions %}
        <p>
            <a href="{% url action_detail action.slug %}">{{ action }}</a><br/>
            <span class="smaller">{{ action.completes_in_group }} member{{ action.completes_in_group|pluralize }}</span>
        </p>
        {% endfor %}
    {% endif %}
<script>
    var RAH = RAH || {};
    RAH.pagescripts = RAH.pagescripts || [];
    RAH.pagescripts.push("{% dated_static 'js/pages/group.detail.js' %}"); 
</script>
{% endblock %}
