{% extends "base/nav_9c.html" %}

{% load dated_static %}
{% block title %}Communities on Repower at Home{% endblock %}
{% block title_bar_image %}<img src="{% dated_static "images/theme_new/section_events_large.png" %}" alt="Events section" height="100" width="100"/>{% endblock %}
{% block title_bar_title %}Community{% endblock %}
{% block title_bar_copy %}
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
{% endblock %}
{% block ribbon_bar %}Showing {{map_events|length}} events{% endblock %}

{% block content %}
        <h1>Start a Community</h1>
        <p>
            Are you ready to lead the charge for a cleaner tomorrow? Starting a community is a great way to help
            your neighborhood, church, school, or local group become more energy savvy. As a community leader, you can use your community to
            organize meetings, encourage action, and track progress towards your community's goals.
        </p>
        <p><a class="button" href="{% url group_create %}">Start a Community</a></p>
        {% if groups %}
            <h1>Join a Community</h1>
            <p>
                People across the country are working together to make their homes and their communities better than ever before. As
                part of a community, you can brainstorm ideas for improving your community, share local tips about energy efficiency, and
                meet people who are interested in building a cleaner tomorrow.
            </p>
            {% include "groups/_group_nugget_list.html" %}
        {% endif %}
        {% load search_widget %}
        {% search_widget group_search %}

    {% if user.is_authenticated %}
            <h3>Your Communities</h3>
            {% if my_groups %}
                {% with my_groups as groups%}
                    {% include "groups/_group_nugget_list.html" %}
                {% endwith %}
            {% else %}
                <em>You're not a member of any communities yet!</em>
            {% endif %}
    {% endif %}

<script type="text/javascript" charset="utf-8">
    var RAH = RAH || {};
    RAH.pagescripts = RAH.pagescripts || [];
    RAH.pagescripts.push("{% dated_static 'js/pages/group.list.js' %}");
</script>
{% endblock %}
