{% extends "base/nav_form.html" %}

{% load dated_static %}
{% block title %}Edit {{ group.name }} settings{% endblock %}
{% block breadcrumbs %}
    <a href="{% url index %}">Home</a> &rsaquo;
    <a href="{% url group_list %}">Communities</a> &rsaquo;
    <a href="{% url group_detail group.slug %}">{{ group.name }}</a> &rsaquo;
    Edit Community
{% endblock %}
{% block content %}
                <ul>
                    <li><a href="#group_tab">Community</a></li>
                    <li><a href="#members_tab">Members</a></li>
                    <li><a href="#discussions_tab">Discussions</a></li>
                </ul>
                <div id="group_tab">
                    <form id="group_form" action="" method="post" enctype="multipart/form-data">
                        {% with group_form as form %}
                            {% include "groups/_group_form.html" %}
                        {% endwith %}
                            <p><input type="submit" name="change_group" value="Save Settings"></input></p>
                        {% csrf_token %}
                    </form>
                    <form id="delete_group_form" action="" method="post">
                        <h3>Delete Community</h3>
                        <p>Deleting a community will immediately remove it from our system.<br/>Communities cannot be undeleted.</p>
                        <p><input type="submit" name="delete_group" value="Delete Community"></input></p>
                        {% csrf_token %}
                    </form>
                </div>
                <div id="members_tab">
                    <form id="membership_form" action="" method="post">
                        {% with membership_form as form %}
                            {% include "groups/_membership_form.html" %}
                        {% endwith %}
                        {% csrf_token %}
                    </form>
                </div>
                <div id="discussions_tab">
                    <form action="" method="post">
                        {{discussions_form.as_p}}
                        <p><input type="submit" name="discussion_settings" value="Save Discussion Settings"></input></p>
                        {% csrf_token %}
                    </form>
                </div>
        {% if requesters %}
                <h4>Membership Requests</h4>
                <ul>
                    {% for requester in requesters %}
                        <li class="membership_request">
                            {% safe_user_link requester %} would like to join
                            <div class="membership_tools">
                                <a href="{% url group_approve group.id requester.id %}">Approve</a> or 
                                <a href="{% url group_deny group.id requester.id %}">Deny</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
        {% endif %}
    <script>
        var RAH = RAH || {};
        RAH.pagescripts = RAH.pagescripts || [];
        RAH.pagescripts.push("{% dated_static 'js/pages/group.edit.js' %}"); 
    </script>
{% endblock %}
