{% extends "groups/base.html" %}
{% block title %}Teams on Repower at Home{% endblock %}
{% block right_content %}
<div class="grid_6 alpha">
    <div class="box_two_top"></div>
    <div class="box_two_middle">
        <h1>Start a Team</h1>
        <p>
            Are you ready to lead the charge for a cleaner tomorrow? Starting a team is a great way to help
            your neighborhood, church, school, or local group become more energy savvy. As a team leader, you can use your team to
            organize meetings, encourage action, and track progress towards your team's goals.
        </p>
        <p><a class="button" href="{% url group_create %}">Start a Team</a></p>
        {% if groups %}
            <h1>Join a Team</h1>
            <p>
                People across the country are working together to make their homes and their communities better than ever before. As
                part of a team, you can brainstorm ideas for improving your community, share local tips about energy efficiency, and
                meet people who are interested in building a cleaner tomorrow.
            </p>
            {% include "groups/_group_nugget_list.html" %}
        {% endif %}
    </div>
    <div class="box_two_bottom"></div>
</div>
    {% if user.is_authenticated %}
        <div class="grid_3 omega">
            <div class="box_one_top"></div>
            <div class="box_one_middle">

                <h3>Your Teams</h3>
                {% if my_groups %}
                    {% with my_groups as groups%}
                        {% include "groups/_group_nugget_list.html" %}
                    {% endwith %}
                {% else %}
                    <em>You're not a member of any teams yet!</em>
                {% endif %}

            </div>
            <div class="box_one_bottom"></div>
        </div>
    {% endif %}
{% endblock %}

{# {% load search_widget %} #}
{# <h3 class="search_title">Find a Group</h3> #}
{# {% search_widget group_search %} #}
{# {% block js %}page_group_list{% endblock %} #}
