{% extends "rah/base.html" %}
{% load records %}
{% block extralinks %}
{% if group.slug %}
    <link rel="alternate" type="application/atom+xml"  href="{% url group_activity_feed group.slug %}" title="Repower@Home Group Activity" />
{% endif %}
{% endblock %}


{% block content %}
<div class="grid_3 alpha">
    <div id="group_header" class="group_section">
        {% include "groups/_group_header.html" %}
    </div>
    
    <div id="group_info" class="group_section">
        <div id="popular_actions">
            {% if popular_actions %}
                <h2>Popular Actions</h2>
                <ol>
                {% for action in popular_actions %}
                    <li><a href="{% url action_detail action.slug %}">{{ action }}</a> ({{ action.completes_in_group }})</li>
                {% endfor %}
                </ol>
            {% endif %}
        </div>
        <div id="top_members">
            {% if top_members %}
                <h2>Top Members</h2>
                <ol>
                {% for user in top_members %}
                    <li><a href="{% url profile user.id %}">{{ user.get_full_name }}</a> ({{ user.get_profile.total_points }})</li>
                {% endfor %}
                </ol>
            {% endif %}
        </div>
        <br class="spacer" />
    </div>
    
    
    <div id="group_charts" class="group_section">
        <table class="tablesorter">
            <thead>
                <tr>
                    <th class="header">Members</th>
                    <th class="header">Committed Actions</th>
                    <th class="header">Actions Completed</th>
                    <th class="header">Points Earned</th>
                    <th class="header">Last Active</th>
                </tr>
            </thead>
            <tbody>
                {% for user in top_members %}
                    <tr>
                        <td>{% safe_user_link user %}</td>
                        <td>{{ user.actions_committed }}</td>
                        <td>{{ user.actions_completed }}</td>
                        <td>{{ user.total_points }}</td>
                        <td>{{ user.last_active|date:"M j, Y" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="group_discussion_list" class="group_section">
    	<h2>Discussions</h2>
		{% if is_poster %}
			<a href="{% url group_disc_create group.slug %}">Start new discussion</a> | 	
		{% endif %}
		<a href="{% url group_disc_list group.slug %}">See all discussions</a>
		
		{% include "groups/_group_disc_list.html" %}
    </div>

    <div id="group_activity" class="group_section">
        {% if group_records %}
            <h2>Group Activity
                {% if group.slug %}
                    <a class="atom_link" href="{% url group_activity_feed group.slug %}">
                        <img src="{{ MEDIA_URL }}images/theme/rss.png" alt="atom feed" />
                    </a>
                {% endif %}
            </h2>
            <ul>
            {% for record in group_records %}
                <li>{% render_record record %}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
<div class="grid_1 omega">
    {% if group.is_joinable and not is_member and not membership_pending %}
        <a href="{% url group_join group.id %}">Join this Group</a>
    {% endif %}
    {% if membership_pending %}
        <span class="membership_status">Your membership status is currently <b>pending</b>.</span>
    {% endif %}
    
    {% if requesters %}
        <h2>Membership Requests</h2>
        <ul>
            {% for requester in requesters %}
                <li class="membership_request">
                    {% safe_user_link requester %} would like to join
                    <div class="membership_tools">
                        <a href="{% url group_approve group.id requester.id %}">Approve</a> or 
                        <a href="{% url group_deny group.id requester.id %}">Deny</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if is_member %}
        <h2>Magnify your Impact</h2>
        <a href='{% url invite_form_handler %}' id='invite_friend_link'>Invite a friend to this group</a>
        <div id='invite_friend_dialog'>
            {% include "_invite_form.html" %}
        </div>
    {% endif %}
</div>
{% endblock %}
{% block js %}page_group_detail{% endblock %}