{% extends "rah/base.html" %}
{% block content %}
    <form id="group_create_form" action="" method="post" enctype="multipart/form-data">
		{% for field in form %}
		    <div class="form_row">
    			<div>{{ field.label_tag }}</div>
    			<div>
        			{% if field.name == "slug" %}<span>http://{{ site }}/</span>{% endif %}
                    {{ field }}
    				{% for error in field.errors %}
    				    <span class="error">{{ error|escape }}</span>
    				{% endfor %}
    			</div>
    			<div class="help_text">{{ field.help_text }}</div>
			</div>
		{% endfor %}
		<p><input type="submit" value="Create Group"></input></p>
		{% csrf_token %}
	</form>
{% endblock %}
{% block js %}page_group_create{% endblock %}