{% extends "base/nav_form.html" %}
{% load dated_static %}
{% block title %}{{ type_label }} a Challenge{% endblock %}
{% block breadcrumbs %}
    <a href="{% url index %}">Home</a> &rsaquo;
    <a href="{% url challenges_list %}">Challenges</a> &rsaquo;
    {% if challenge.id %}
        <a href="{% url challenges_detail challenge.id %}">{{challenge.title|truncatewords:6}}</a> &rsaquo;
    {% endif %}
    {{ type_label }} challenge
    {% endblock %}
{% block content %}
    <form id="challenge_form" action="" method="post" class="form_6c">
        <h1>{{ type_label }} Challenge</h1>
        {% include "base/_form.html" %}
        {% csrf_token %}
        <div class="form_buttons">
            {% if challenge.id %}
            <a href="{% url challenges_detail challenge.id %}" class="form_cancel">Cancel</a>
            <button class="button_mega" type="submit">Save Challenge</button>
            {% else %}
            <a href="{% url challenges_list %}" class="form_cancel">Cancel</a>
            <button class="button_mega" type="submit">Create Challenge</button>
            {% endif %}
            
        </div>
    </form>
    <script>
        var RAH = RAH || {};
        RAH.pagescripts = RAH.pagescripts || [];
    </script>
{% endblock %}
{% block form_info %}
    Use this form to create or edit a challenge
{% endblock %}

