#comments {
    margin-top:18px;
    padding-top: 18px;
    border-top: 1px dotted #ccc;
}

/* ---------------------------------------------------------------------------------------------------------------------
Comment form Comment form Comment form Comment form Comment form Comment form Comment form Comment form Comment form
--------------------------------------------------------------------------------------------------------------------- */
#comment_form .row_id_name, #comment_form .row_id_url, #comment_form .row_id_title, 
#comment_form .row_id_email, #comment_form .row_id_honeypot {
    display: none;
}
#comment_form .row_id_message_type ul { overflow: hidden; }
#comment_form .row_id_message_type li { float: left; }
#comment_form .row_id_message_type li label {
    color: #FFF !important;
    font-size: 13px;
    font-weight: bold !important;
    line-height: 13px;
    padding: 6px;
    width: 117px;
    margin-right: 9px;
    *margin-right: 7px; /*hack because ie7 doesn't support label[for='id_message_type_2']*/
    border: 1px solid #006499;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 0 -1px 0px #006499;
    background: transparent url('../images/theme_new/sprite.png') -100px -607px no-repeat;
    cursor: pointer;
}
#comment_form .row_id_message_type li label[for='id_message_type_1'] { background-position: -95px -566px; }
#comment_form .row_id_message_type li label[for='id_message_type_2'] { background-position: -95px -527px; margin-right: 0;}
#comment_form textarea { height: 63px;}

/* ---------------------------------------------------------------------------------------------------------------------
Comment Reply Comment Reply Comment Reply Comment Reply Comment Reply Comment Reply Comment Reply Comment Reply  
--------------------------------------------------------------------------------------------------------------------- */
.comment_reply_form .row_id_name, .comment_reply_form .row_id_url, .comment_reply_form .row_id_title, 
.comment_reply_form .row_id_email, .comment_reply_form .row_id_honeypot, .comment_reply_form .row_id_message_type,
.comment_reply_form .row_id_comment label {
    display: none;
}
.comment_reply_form {
    background: #E6E6E6;
    padding: 9px;
    margin-left: 80px;
    margin-bottom: 18px;
    overflow: hidden;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.comment_reply_form .form_row {
    margin-bottom: 0px;
}
.comment_reply_form textarea {
    width: 222px !important;
    height: 23px;
}
.comment_reply_form .row_id_comment {
    float: left;
    margin-right: 9px;
}
.comment {
    height: 100%;
    overflow: auto;
    border-top: 1px dotted #CCC;
    padding-top: 18px;
}
.comment_counter_0 {
    border-top: 0;
}
.comment img {
    background: #fff;
    float: left;
    padding: 3px;
    border: 1px solid #ccc;
}
.comment .comment_body {
    padding-left: 80px;
    padding-bottom: 18px;
}
.comment .comment_date {
    color: #666;
    font-style: italic;
    font-size: 12px;
}
.comment .comment_author {
    font-weight: bold;
}
.comment .comment_type_icon {
    float: right;
    padding: 0 0 8px 8px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

}
.comment_reply {
    margin-left: 80px;
    padding: 9px;
    background: #F2F2F2;
    border-bottom: 1px solid #fff;
    border-top: 0px;
}
.comment_reply .comment_body {
    padding-left: 56px;
    padding-bottom: 0px;
}
