/* ---------------------------------------------------------------------------------------------------------------------
Button Button Button Button Button Button Button Button Button Button Button Button Button Button Button Button Button 
--------------------------------------------------------------------------------------------------------------------- */
.button, input[type=submit], button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ff9900;
    display: inline-block;
    font-size: 16px;
    padding: 5px 14px;
    line-height: 21px;
    text-shadow: 0 -1px 0px #666;
    font-family:"MuseoSlab500", Tahoma, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    cursor: pointer;
    color: #FFF;
    background: #FFA011;
    background: -moz-linear-gradient(top, #FFBD5C 0%, #FFA011 42%, #FF9900 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFBD5C), color-stop(42%,#FFA011), color-stop(100%,#FF9900));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFBD5C', endColorstr='#FF9900',GradientType=0 );
    overflow: visible;
    text-decoration: none;
    text-align: center;
    white-space: normal;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-align: center;
    -webkit-appearance: none;
    -webkit-user-select: none;
}
button::-moz-focus-inner, input::-moz-focus-inner  { border: 0; padding:0; }

.button:hover, input[type=submit]:hover, button:hover {
    text-decoration: none;
    background: #FF9900;
}
.button:active, input[type=submit]:active, button:active {
    color: #fff;
    background: #FFA011;
}
.button_shadow {
    -moz-box-shadow: 0px 0px 7px #333;
    -webkit-box-shadow: 0px 0px 7px #333;
    box-shadow: 0px 2px 5px #333;
}

.button_mega {
    font-size: 26px !important;
    padding: 6px 24px !important;
    line-height: 32px !important;
}
.button_large {
    font-size: 16px !important;
    padding: 9px 14px !important;
    line-height: 21px !important;
}

.button_small {
    font-size: 14px !important;
    padding: 3px 12px !important;
    line-height: 18px !important;
}

.button_grey_flat, input.button_grey_flat {
    background: #e6e6e6 !important;
    color: #999999 !important;
    border: 1px solid #e6e6e6 !important;
    text-shadow: none !important;
    filter: none;
}

.button_blue_flat, input.button_blue_flat {
    background: #008ee6 !important;
    color: #FFF !important;
    border: 1px solid #008ee6 !important;
    filter: none;
}
.button_blue, input.button_blue {
    border: 1px solid #006499;
    background: #4D92B7; 
    background: -moz-linear-gradient(top, #4D92B7 0%, #006499 30%, #006499 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4D92B7), color-stop(30%,#006499), color-stop(100%,#006499)); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4D92B7', endColorstr='#006499',GradientType=0 );     
}
.button_blue:hover, input.button_blue:hover  {
    background: #006499;
}
.button_blue:active, input.button_blue:active  {
    background: #4D92B7;
}
.button_red, input.button_red {
    border: 1px solid #FF2222;
    background: #ff5f5f;
    background: -moz-linear-gradient(top, #ff5f5f 0%, #FF2222 50%, #FF2222 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff5f5f), color-stop(50%,#FF2222), color-stop(100%,#FF2222));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5f5f', endColorstr='#FF2222',GradientType=0 );
}
.button_red:hover, input.button_red:hover  {
    background: #FF2222;
}
.button_red:active, input.button_red:active  {
    background: #ff5f5f;
}

.button_green, input.button_green {
    border: 1px solid #45AB02;
    background: #53D100; 
    background: -moz-linear-gradient(top, #53D100 0%, #45AB02 36%, #45AB02 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#53D100), color-stop(36%,#45AB02), color-stop(100%,#45AB02));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53D100', endColorstr='#45AB02',GradientType=0 );    
}
.button_green:hover, input.button_green:hover  {
    background: #45AB02;
}
.button_green:active, input.button_green:active  {
    background: #53D100;
}

.button_189 { width: 189px; }

