/*Nav icons*/

.sprite_nav_actions,
.sprite_nav_communities,
.sprite_nav_challenges,
.sprite_nav_events,
.sprite_nav_badges {
    display: inline-block;
    width: 19px;
    height: 18px;
    margin: 0 6px 0 12px;
    vertical-align: text-top;
    background: transparent url('../images/theme_new/sprite.png') 0px -60px no-repeat;
}
.sprite_nav_communities { background-position:  0px -80px; }
.sprite_nav_challenges {background-position:  0px -100px; height: 16px;margin-top: 2px; }
.sprite_nav_events { background-position: 0px -120px; height: 19px; }
.sprite_nav_badges { background-position: 0px -140px; }

.nav_selected .sprite_nav_actions { background-position: -20px -60px;}
.nav_selected .sprite_nav_communities { background-position: -20px -80px;}
.nav_selected .sprite_nav_challenges { background-position: -20px -100px; height: 16px;}
.nav_selected .sprite_nav_events { background-position: -20px -120px; height: 19px;}
.nav_selected .sprite_nav_badges { background-position: -20px -140px;}

.sprite_nav_calendar, 
.sprite_nav_settings, 
.sprite_nav_invite,
.sprite_nav_cards,
.sprite_nav_logout {
    display: inline-block;
    vertical-align: text-top;

    width: 18px;
    height: 14px;
    margin: 0 6px 0 4px;
    background: transparent url('../images/theme_new/sprite.png') -40px -60px no-repeat; 
}
.sprite_nav_settings { background-position: -40px -80px; height: 15px; }
.sprite_nav_invite { background-position: -40px -100px; }
.sprite_nav_cards { background-position: -40px -120px; height: 15px; }
.sprite_nav_logout { background-position: -40px -140px; height: 16px; }


/*Section graphics*/

.sprite_section_action_large, 
.sprite_section_communities_large,
.sprite_section_challenges_large,
.sprite_section_events_large,
.sprite_section_badges_large {
    width: 100px !important;
    height: 100px;
    background: transparent url('../images/theme_new/sprite.png') 0px -160px no-repeat;
}
.sprite_section_communities_large {background-position: -100px -260px; }
.sprite_section_challenges_large {background-position: -100px -160px;}
.sprite_section_events_large {background-position: 0px -260px;}
.sprite_section_badges_large {background-position: -200px -160px;}

/* Home page slider nav */

.sprite_slide_nav_next, .sprite_slide_nav_prev {
    background: transparent url('../images/theme_new/sprite.png') -80px -40px no-repeat;
    height: 55px;
    width: 55px;
}
.sprite_slide_nav_prev:hover { background-position: -80px -100px; }
.sprite_slide_nav_next { background-position: -140px -40px; }
.sprite_slide_nav_next:hover { background-position: -140px -100px; }

/* social icons */

.sprite_social_fb,
.sprite_social_twitter,
.sprite_social_yt,
.sprite_social_rss {
    display: inline-block;
    height: 52px;
    width: 51px;
    background: transparent url('../images/theme_new/sprite.png') 0 -360px no-repeat;
}
.sprite_social_fb:hover { background-position: 0 -420px; }
.sprite_social_twitter { background-position: -60px -360px; }
.sprite_social_twitter:hover { background-position: -60px -420px; }
.sprite_social_yt { background-position: -120px -360px; }
.sprite_social_yt:hover { background-position: -120px -420px; }
.sprite_social_rss { background-position: -180px -360px; }
.sprite_social_rss:hover { background-position: -180px -420px; }


/*action nugget status bar images*/
.sprite_check_white_small, .sprite_star_white_small {
    display: inline-block;
    background: transparent url('../images/theme_new/sprite.png') -40px -20px no-repeat;
    width: 8px;
    height: 8px;
    margin-left: 6px;
}
.sprite_check_white_small {background-position: -60px -20px;}

/* Comments */
.sprite_tip_large, .sprite_question_large, .sprite_comment_large, .sprite_tip, .sprite_question, .sprite_comment {
    background: transparent url('../images/theme_new/sprite.png') -120px 0px no-repeat;
}
.sprite_tip, .sprite_question, .sprite_comment {
    display: inline-block;
    width: 12px;
    height: 18px;
}
.sprite_tip_large { background-position: -249px -522px; }
.sprite_question_large { background-position: -249px -561px; }
.sprite_comment_large { background-position: -251px -601px; }

/*Search button*/
.sprite_search_mag {
    background: transparent url('../images/theme_new/sprite.png') -160px -20px no-repeat;
    display: inline-block;
    width: 13px;
    height: 12px;
    margin: 0 6px;
}

/*Feed icon*/
.sprite_feed {
    background: transparent url('../images/theme_new/sprite.png') -120px -20px no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    display: inline-block;
    vertical-align: text-bottom;
}

