@import url('reset.css');
@import url('fonts.css');
@import url('common.css');
@import url('sprites.css');
@import url('forms.css');
@import url('grid.css');
@import url('nuggets.css');
@import url('comments.css');

/* ---------------------------------------------------------------------------------------------------------------------
Home Page Home Page Home Page Home Page Home Page Home Page Home Page Home Page Home Page Home Page Home Page Home Page 
--------------------------------------------------------------------------------------------------------------------- */
/*slides*/
#home_slide_nav {
    text-align: center;
    margin-top: 27px;
    margin-bottom: 18px;
}
#home_slide_nav a {
    background: #134978;
    text-shadow: 0 1px 1px #001A3A;
    padding: 3px 14px;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    display: inline-block;
}
#home_slide_nav a:hover, #home_slide_nav a.home_slide_nav_selected {
    background: #00295B;
    text-decoration: none;
}
#home_slide_container {
    overflow: hidden;
    position: relative;
    height:315px;
}
#home_slide_holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 10000px;
    padding-left: 9px;
}
.home_slide {
    float:left;
    width: 792px;
}
.home_slide div {
    float: left;
}
.home_slide h1 {
    text-shadow: 0 2px 0 #001A3A;
    line-height: 36px;
    font-size: 34px;
    color: #fff;
}
.home_slide p {
    text-shadow: 0 1px 1px #001A3A;
    color: #fff;
}
#home_slide_nav_prev, #home_slide_nav_next {
    display: block;

    color: transparent;
    margin-top: 100px;
    margin-left: 5px;
}
#home_slide_1 .home_slide_left{ width: 440px;}
#home_slide_1 .home_slide_right{ width: 330px;}
#home_slide_2 .home_slide_left{ width: 350px;}
#home_slide_2 .home_slide_right{ width: 411px; margin-left: 18px;}
#home_slide_3 .home_slide_left{ width: 430px;}
#home_slide_3 .home_slide_right{ width: 344px;}
#home_slide_4 .home_slide_left{ width: 380px;}
#home_slide_4 .home_slide_right{ width: 344px;}

/*Stat bar*/
#home_stat_bar{
    border: 1px solid #CCCCCC;
    background: #fff;
    text-align: center;
    font-family:"MuseoSlab500", Tahoma, sans-serif;
    font-size: 16px;
    margin-bottom: 27px;
    position: relative;
}
#home_stat_bar .home_stat_wrap {
    border-right: 1px solid #CCCCCC;
    margin: 18px 0;
    float: left;
    width: 200px;
    padding: 18px 18px 18px 18px;
}
#home_stat_bar .home_stat_wrap_last {
    border: 0;
}
#home_stat_bar .home_stat_num {
    line-height: 72px;
    font-size: 40px;
    color: #8FD100;
    font-family:"MuseoSlab900", Tahoma, sans-serif;
}
#home_stat_bar .home_stat {
    min-height: 42px;
}
#home_stat_bar .home_stat_1 {
    font-size: 63px;
}
#home_stat_bar .home_stat_2 {
    font-size: 63px;
}
#home_stat_bar .home_stat_3 {
    font-size: 36px;
}
#home_stat_bar .home_stat_4 {
    font-size: 63px;
}


/*Other homepage stuff*/
.home_feature_heading{
    font-family:"MuseoSlab500", Tahoma, sans-serif;
    color: #333;
    font-size: 22px;
}
#home_featured_users{
    border-right: 1px solid #ccc;
}


/* ---------------------------------------------------------------------------------------------------------------------
Actions Actions Actions Actions Actions Actions Actions Actions Actions Actions Actions Actions Actions Actions Actions 
--------------------------------------------------------------------------------------------------------------------- */
.action_deck {
    font-family:"MuseoSlab500", Tahoma, sans-serif;
    font-size: 20px;
    line-height: 24px; 
}


/* ---------------------------------------------------------------------------------------------------------------------
Events Show Events Show Events Show Events Show Events Show Events Show Events Show Events Show Events Show Events Show
--------------------------------------------------------------------------------------------------------------------- */
#events_map_container, #events_map {
    position: relative;
    width:693px; 
    height:400px;
    overflow: hidden;
    margin-bottom: 9px;
}
#events_map_shadow_top, #events_map_shadow_bottom, #events_map_shadow_left, #events_map_shadow_right {
    -webkit-box-shadow: 0px 0px 18px #666666;
    -moz-box-shadow: 0px 0px 18px #666666;
    box-shadow: 0px 0px 18px #666666;
    position: absolute;
}
#events_map_shadow_top { height:18px; width:693px; left: 0; top: -18px; }
#events_map_shadow_bottom { height: 18px; width: 693px; left: 0; bottom: -18px; }
#events_map_shadow_right { height: 400px; width: 18px; right: -18px; top: 0; }
#events_map_shadow_left { height: 400px; width: 18px; left: -18px; top: 0; }
#events_hosting {
    padding: 9px;
    background: #0F3669;
    width: 450px;
    overflow: auto;
    height: 172px;
    margin: 0 9px 18px 0;
    float: left;
}
#events_hosting a, #events_hosting h2, #events_hosting p {
    color: #fff;
}
#events_hosting h2, #events_search h2 { 
    font-size: 18px; 
    line-height: 22px; 
    font-family: inherit; 
    font-weight: bold; 
}
#events_hosting p a {
    text-decoration: underline;
}
#events_hosting div{
    float: right;
    width: 220px;
}
#events_search {
    float: left;
    width: 198px;
    height: 172px;
    padding: 9px;
    background: #F2F2F2;
    position: relative;
}
#events_search h2 {
    color: #333;
    margin-bottom: 36px;
}
#events_search p {
    position: absolute;
    bottom: 0;
}
