/* Forms and misc */

#testing_widget .white     { color: #FFFFFF !important;}
#testing_widget a { color: #388ca0; text-decoration: none; }
#testing_widget a:hover { text-decoration:underline; }
#testing_widget a:active { color: #6EC3D1; text-decoration:underline; }
#testing_widget .right {text-align:right;}
#testing_widget .center {text-align:center;}
#testing_widget .smaller {font-size:12px;}
#testing_widget .hidden { display: none;}
#testing_widget .error   { color: #D8000C; background-color: #FFBABA; }
#testing_widget .form_row {
    padding: 18px 0;
    width: 320px;
    position: relative; }
#testing_widget .form_row input, #testing_widget .form_row textarea {
    width: 100%;
    border: 1px #A1D3E4 solid;
    padding: 4px;
    font-size: 14px;
    color: #333;
    background: #fff url(../images/theme/input_text_background.png?0000000006) repeat-x;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px; }
#testing_widget .form_row li label { position: relative; }
#testing_widget .form_row li input { width: inherit; }
#testing_widget .form_row input[type="file"] { height: 24px; }
#testing_widget .form_row input[type="checkbox"] { width: 15px; }
#testing_widget .form_row input[type="checkbox"] + label { 
    position: relative;
    margin-left: 5px;
    top: -4px;
}
#testing_widget .form_row li { margin-right: 12px; margin-left: 0px; }
#testing_widget .form_row[class~="error"] { background: transparent; }
#testing_widget .form_row input.error, 
#testing_widget .form_row[class~="error"] input,
#testing_widget .form_row textarea.error,
#testing_widget .form_row[class~="error"] textarea {
    color: #DE6060;
    background: #FEDEDE url(../images/theme/input_text_error_background.png?0000000006) repeat-x; }
#testing_widget .form_row label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    position: absolute;
    font-weight:bold;
    color: #555;
    top: 0;
    left: 0; }
#testing_widget .form_row .help_text { font-size: 12px; color: grey; }
#testing_widget .form_row label.error {
    color: #DE6060;
    position: static;
    background-color: transparent; }
#testing_widget .overset { position: relative;}
#testing_widget .overset_form_message[class~="error"] {
    color: #DE6060;
    background-color: transparent;
    width: 320px;}

#testing_widget .form_row_float {float:left; width:148px;}
#testing_widget .form_row_float_left_field {margin-right:24px;}
#testing_widget .form_row ul li {list-style-type: none !important;}

/* Testing Widget Specific*/

#testing_widget {
    position: fixed;
    right: 0;
    top: 0px;
    padding: 0 18px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    z-index: 2000;
}

/*Controls*/
#testing_widget .ticket_controls { position:relative; text-align:center; }
#testing_widget #prev_ticket_control {float:left;}
#testing_widget #next_ticket_control {float:right;}

#testing_widget .testing_feedback_form {width: 189px;}
#testing_widget .testing_feedback_form #id_name, #testing_widget .testing_feedback_form #id_feedback { width: 190px; }
#testing_widget .ticket_submit { width: 190px; }
#testing_widget .testing_feedback_form .form_row li { float: left; }
#testing_widget .testing_feedback_form label {font-weight: bold; }
#testing_widget .testing_feedback_form #id_name, #testing_widget .testing_feedback_form #id_feedback { width: 179px; }
#testing_widget .testing_feedback_form .form_row li { float: left; }
#testing_widget .testing_feedback_form label {color:#FFF;}
#testing_widget .ticket_instructions { background-color:#FFFFFF; padding: 9px; }
#testing_widget .ticket_instructions div { max-height:162px; overflow:auto; }
