<p>
    Hi,<br />
    {{ from_user.get_full_name}} wants you to join {{ invite.content_object }}.
</p>
<p>
    <a href="{{ invite.get_permalink }}">Click here to accept the invitation</a>
</p>
{% if note %}
    <p>
       Here's what {{ from_user.first_name }} wants you to know: <br />
       {{ note|safe }} 
    </p>
{% endif %}
<p>
    {{ invite.content_object }} is a Repower at Home team. Repower at Home teams help<br />
    members get organized, connect with friends, and save the world through the magic of<br /> 
    energy efficiency. Link up today – it’s free
</p>
<p>
    <a href="https://{{ domain }}{% url register %}">Join now</a>
</p>
<p>
    Ciao,<br />
    The Repower at Home team
</p>