{% extends "admin/base.html" %}
{% load dated_static %}

{% block title %}{{ title }} | {{ SITE_NAME }} site admin{% endblock %}

{% block branding %}
<h1 id="site-name">{{ SITE_NAME }} Administration</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrahead %}
    {% if testing_feedback_form %}
        <link rel="stylesheet" href="{% dated_static 'css/testing_widget.css' %}" type="text/css" media="screen" charset="utf-8"/>
    {% endif %}
{% endblock %}

{% block footer %}
    {{ super }}
    <script type="text/javascript" src="/media/js/jquery.min.js"></script>
    {% if testing_feedback_form %}
        {% include 'codebase/_testing_widget.html' %}
        <script type="text/javascript" charset="utf-8" src="{% dated_static 'js/testing_widget.js' %}"></script>
    {% endif %}
{% endblock %}
