<div class="action_forms">
    {% if not progress.is_completed %}
        {% if not progress.date_committed %}
            <form class="action_commit_form" method="post" action="{% url action_commit action.slug %}">
                {% with action_commit_form as form %}
                    {% include "base/_form.html" %}
                {% endwith %}
                <p>
                    <input type="submit" class="commit_trigger tooltip" value="{{ commit_title }}"
                        title="Make a commitment to do this action in the future." />
                </p>
                {% csrf_token %}
            </form>
        {% else %}
            <form class="action_commit_form" method="post" action="{% url action_commit action.slug %}">
                {% with action_commit_form as form %}
                    {% include "base/_form.html" %}
                {% endwith %}
                {% csrf_token %}
                <h4>{{ days_till_commitment }} day{{ days_till_commitment|pluralize }} remaining</h4>
                <p class="action_committment">
                    You committed to complete<br />
                    this plan by {{ progress.date_committed|date }}<br />
                    (<a href="#" class="commit_trigger">change date</a> |
                    <a href="{% url action_cancel action.slug %}" class="commit_cancel">cancel</a>)
                </p>
            </form>
            <form class="action_cancel_form" method="post"
                action="{% url action_cancel action.slug %}">{% csrf_token %}</form>
        {% endif %}
        <form class="action_complete_form" method="post" action="{% url action_complete action.slug %}">
            <p>
                <input type="submit" class="tooltip" value="{{ complete_title }}" 
                    title="Claim your points if you’re already doing, or just completed, this action"/>
            </p>
            {% csrf_token %}
        </form>
    {% else %}
        <form class="action_undo_form" method="post" action="{% url action_undo action.slug %}">
            <h4>You've done this action!</h4>
            <h5><a href="{% url action_show %}">Find more actions</a></h5>
            <p class="action_undo">
                If this was a mistake, <a href="#" class="undo_trigger">click to undo</a>.
            </p>
            {% csrf_token %}
        </form>
    {% endif %}
    <br class="clear" />
</div>
