<div class="action_nugget">
    <div class="box_one_top"></div>
    <div class="box_one_middle">
        {# <div class="action_nugget_status"> #}
        {#     Due in 323 days #}
        {# </div> #}
        
        {% if action.completed %}
            <div class="action_nugget_status green">Completed</div>
        {% else %}
            {% if action.committed %}
                <div class="action_nugget_status red">Due {{action.committed|date:"N jS"}}</div>
            {% else %}
                {% if user.is_authenticated %}
                    <div class="action_nugget_status blue_light">Not Started</div>
                {% endif %}
            {% endif %}
        {% endif %}
        
        <div class="action_nugget_points">{{ action.points }} Points</div>
        {% if action.has_illustration %}
            <a href="{% url action_detail action.slug %}">
                <img src="{{ action.get_nugget_illustration }}" alt="{{action.name}} illustration" height="48" width="189"/>
            </a>
        {% endif %}    
    
        <h3 class="action_nugget_title"><a class="blue" href="{% url action_detail action.slug %}">{{ action.name }}</a></h3>
        <div class="action_nugget_teaser">{{ action.teaser|safe|linebreaks }}</div>
    </div>
    <div class="box_one_bottom"></div>
</div>