{% extends "rah/base.html" %}
{% load comments %}

{% block content %}
    <div id="breadcrumbs">
        <a href="{% url index %}">Home</a> &rsaquo;
        <a href="{% url action_show %}">Actions</a> &rsaquo;
        {{action.name}}
    </div>
    <h1>{{action.name}}</h1>
    <span class='tag_list'>
        {% for tag in action.tags %}
            <a class="tag" href="{% url action_tag tag %}">{{ tag.name|deslug }}</a>
        {% endfor %}
    </span>
    <div class="action_content">
        {% render_template_snippet action.content %}
    </div>
    <div id="comments">
        {% with action as object %}
            {% render_comment_list for object %}
            {% render_comment_form for object %}
        {% endwith %}
    </div>
    <div id="commit_widget">
        <p>When do you think you'll complete this action?</p>
        <div class="commit_calendar"></div>
    </div>
{% endblock %}
{% block minorcol %}
    {% if progress.date_committed and not progress.is_completed %}
        <h2>Commitment</h2>
        <p>
            You committed to complete this action by {{ progress.date_committed }}. 
            (<a href="#" class="commit_trigger">Update</a> or 
            <a href="{% url action_cancel action.slug %}" class="commit_cancel">Cancel</a>)
        </p>
    {% endif %}
    <h2>Action Tools</h2>
    <p>
        {% if request.user.is_authenticated and not progress.date_committed %}
            <a href="#" class="commit_trigger">Make a Commitment</a><br/>
        {% endif %}
        <a href="{% url feedback %}" class="feedback_link">Feedback</a>
    </p>
    <h2>Who's doing this?</h2>
    <span class='total_users'>{{ action.users_completed }}</span> pe{{ action.users_completed|pluralize:"rson has,ople have" }} completed this action.<br/>
    {% if action.users_completed %}
        <ul class="whos_working">
            {% for user in users_completed %}
                <li>{% safe_user_link user %} has completed this.</li>
            {% endfor %}
            {% if noshow_users_completed > 0 %}
                {{ noshow_users_completed }} additional user{{ noshow_users_completed|pluralize:" has,s have" }} completed this.
            {% endif %}
        </ul>
    {% endif %}
    <span class='total_users'>{{ action.users_committed }}</span> pe{{ action.users_committed|pluralize:"rson has,ople have" }} committed to this action.<br/>
    {% if action.users_committed %}
        <ul class="whos_working">
            {% for user in users_committed %}
                <li>{% safe_user_link user %} has committed to this.</li>
            {% endfor %}
            {% if noshow_users_committed > 0 %}
                {{ noshow_users_committed }} additional user{{ noshow_users_committed|pluralize:" has,s have" }} committed to this.
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}
{% block js %}page_action_detail{% endblock %}
