{% extends "base/nav_6c3c.html" %}
{% load comments %}
{% load dated_static %}
{% block meta_desc %}{{action.name}}: {{action.teaser}}{% endblock %}

{% block extrahead %}
    <meta property="og:image" content="{{ action.get_detail_illustration }}" />
    <meta property="og:type" content="activity" />
    <meta property="og:title" content="{{action.name}}" />
    <meta property="og:description" content="{{action.teaser}}" />
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url index %}">Home</a> &rsaquo;
    <a href="{% url action_show %}">Actions</a> &rsaquo;
    {{action.name}}
{% endblock %}

{% block title_bar %}
    <h1 id="action_title">{{action.name}}</h1>
{% endblock %}

{% block title %}{{action.name}}{% endblock %}

{% block content %}
    {% render_template_snippet action.content %}
    <div id="comments">
        {% with action as object %}
            {% render_comment_list for object %}
            {% render_comment_form for object %}
        {% endwith %}
    </div>
    <div id="commit_widget">
        <p>When do you think you'll complete this action?</p>
        <div class="commit_calendar"></div>
    </div>
{% endblock %}
{% block sidebar %}
    <h2>{{action.points}} points</h2>
    <b>{{ action.users_completed }}</b> people have done this and
    <b>{{ total_users_committed }}</b> people are committed to do it.
    {% if progress.date_committed and not progress.is_completed %}
        <h2>My Commitment</h2>
        <p>
            You committed to complete this action by {{ progress.date_committed|date }}. 
            (<a href="#" class="commit_trigger">change date</a> or 
            <a href="{% url action_cancel action.slug %}" class="commit_cancel">cancel</a>)
        </p>
    {% endif %}

    {% if action.users_completed %}
        <h3>Recently Completed</h3>
        <ul class="plain_list">
            {% for user in users_completed %}
                <li>
                    {% safe_user_link user %}<br/>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if action.users_committed %}
        <h3>Recently Committed</h3>
        <ul class="plain_list">
            {% for user in users_committed %}
                <li>
                    {% safe_user_link user %}<br/>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <h3>Share this action</h3>
    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Frepowerathome.com{{ action.get_absolute_url|urlencode }}&amp;layout=box_count&amp;show_faces=false&amp;width=60&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=60" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:60px; height:60px;" allowTransparency="true"></iframe>
    <a href="http://twitter.com/share" class="twitter-share-button" data-text="{{ action.name }}" data-url="http://repowerathome.com/{{ action.get_absolute_url }}" data-count="vertical" data-via="repowerathome">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </div>
{% endblock %}
<script>
    var RAH = RAH || {};
    RAH.pagescripts = RAH.pagescripts || [];
    RAH.pagescripts.push("{% dated_static 'js/pages/action.detail.js' %}");
</script>
