{% extends "actions/base.html" %}
{% load dated_static %}
{% block title %}Actions to Repower at Home{% endblock %}
{% block breadcrumbs %}
    <a href="{% url index %}">Home</a> &rsaquo;
    {% if tag_filter %}
        <a href="{% url action_show %}">Actions</a> &rsaquo;
        {{ tag_filter.name|deslug }}
    {% else %}
        Actions
    {% endif %}
{% endblock %}
{% block right_content %}
    <div class="box_three_top"></div>
    <div class="box_three_middle">
        <img src="{% dated_static 'images/theme/actions.jpg' %}" alt="benefits" width="675" height="287"/>
    </div>
    <div class="box_three_bottom"></div>
    
    <div class="action_nugget_wrapper_three">
        {% for action in actions %}
            {% include 'actions/_action_nugget.html' %}
        {% endfor %}
    </div>
{% endblock %}
{#     {% for tag in tags %} #}
{#         <li {% if forloop.last %} class="minor_nav_last"{% endif %}> #}
{#             <span class="icon_gt"></span> #}
{#             <a href='{% url action_tag tag %}#action_show'> #}
{#                 {{ tag.name|deslug }} ({{ tag.count }}) #}
{#             </a> #}
{#         </li> #}
{#     {% endfor %} #}