{% extends "base/nav_9c.html" %}
{% load dated_static %}
{% load humanize %}
{% block title %}Actions to Repower at Home{% endblock %}
{% block title_bar_image %}sprite_section_action_large{% endblock %}
{% block title_bar_title %}Actions{% endblock %}
{% block title_bar_copy %}
    The actions you’ll find here will cut energy waste, lower your monthly bills
    and put your home on the leading edge of the energy efficiency revolution.
{% endblock %}
{% block ribbon_bar %}
    Showing {{ actions|length }} actions
{% endblock %}
{% block content %}
<ul class="plain_list nugget_3c">
    {% for action in actions %}
    <li class="nugget_3c_{% if action.completed %}completed{% else %}{% if action.committed %}committed{% endif %}{% endif %}">
    <div class="nugget_3c_status">
    {% if action.completed %}
        <span class="sprite_check_white_small"></span>
        COMPLETED   
    {% else %}
        {% if action.committed %}
            <span class="sprite_star_white_small"></span>
            COMMITTED: {{action.committed|date:"N jS"}}
        {% else %}
            {{ action.points|intcomma }} Points
        {% endif %}
    {% endif %}
    </div>
    <h2>
        <a href="{% url action_detail action.slug %}">{{ action.name }}</a>
    </h2>
    <a href="{% url action_detail action.slug %}">
        <img src="{{ action.image_paths.small }}" width="60" height="60" alt="Image for {{action.name}}"/>
    </a>
    <p>{{ action.teaser|safe }}</p>
    </li>
    {% endfor %}
</ul>
<script>
    var RAH = RAH || {};
    RAH.pagescripts = RAH.pagescripts || [];
    RAH.pagescripts.push("{% dated_static 'js/pages/action.show.js' %}");
</script>
{% endblock %}
