{% if records %}
    {% regroup records by activity.actiontask.action as action_records %}
	{% for action_record in action_records %}
		{% if action_record.grouper %}
			<b><a href="{% url rah.views.action_detail action_record.grouper.slug %}">{{ action_record.grouper }}</a></b><br/>
		    <ul class="generic_list">
		    {% for record in action_record.list %}
		        <li>{{ record.activity.actiontask.sequence }}) {{ record.activity.name }} ({{ record.points }} points)</li>
		    {% endfor %}
		{% else %}
			{% for record in action_record.list %}
				<b>{{ record.activity.name }} ({{ record.points }} points)</b><br/>
			{% endfor %}
		{% endif %}
	{% endfor %}
{% endif %}