{% extends "blog/base_blog.html" %}
{% load comments %}

{% block title %}Posts for{{ category.title }}{% endblock %}
{% block body_class %}{{ block.super }} category_detail{% endblock %}
{% block body_id %}category_{{ category.id }}{% endblock %}

{% block content_title %}
	<h2>Posts for{{ category.title }}</h2>
{% endblock %}

{% block content %}
	<div class="post_list">
		{% for post in object_list %}
			<div>
				{% include 'blog/_post_header.html' %}
				<p class="tease">{{ post.tease|safe }}</p>
				{% get_comment_count for post as comment_count %}
				<h4>
					{{ comment_count }} comment{{ comment_count|pluralize }}
					<span>(<a href="{{ post.get_absolute_url }}" title="View this post">read more</a>)</span>
				</h4>
			</div>
			<div>------------------------------------------------------------</div>
		{% endfor %}
	</div>

	<a href="{% url blog_feed %}">follow us</a>
{% endblock %}