{% extends "blog/base_blog.html" %}
{% load blog comments %}

{% block extralinks %}
<link rel="alternate" type="application/atom+xml"  href="{% url blog_feed %}" title="Repower at Home Blog" />
{% endblock %}

{% block title %}Post archive{% endblock %}

{% block content_title %}
    <h2>Post archive</h2>
{% endblock %}

{% block right_content %}
    <div class="grid_2 alpha">
        <div id="breadcrumbs">
            <a href="{% url rah.views.index %}">Home</a> &rsaquo;
            Blog
        </div>
        <div class="post_list">
            {% for post in object_list %}
                <div>
                    <h2 class="title">
                        <a href="{{ post.get_absolute_url }}" title="View this post">{{ post.title }}</a>
                    </h2>
                    <p>
                        <em>Posted by {% safe_user_link post.author %} on {{ post.publish|date }}</em>
                    </p>
                    <div class="post_body">
                        {{ post.body|safe }}
                    </div>
                    {% get_comment_count for post as comment_count %}
                    <p>
                        {{ comment_count }} comment{{ comment_count|pluralize }}
                    </p>
                </div>
            {% endfor %}
        </div>
    
        <h6>
            follow us
            <a class="atom_link" href="{% url blog_feed %}">
                <img src="{{ MEDIA_URL }}images/theme/rss.png" alt="atom feed" />
            </a>
        </h6>
    </div>
    <div class="grid_1 omega">
        {% get_blog_categories as category_list %}
        {% if category_list %}
            <h2>Categories</h2>
            <ul>
            {% for category in category_list %}
                <li>
                    <a href="{% url blog_category_detail category %}">{{ category.title }}</a>&nbsp;
                    {% get_comment_count for category as comment_count %}
                    <span>({{ category.post_set.count }})</span>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}