{% extends "base/nav_6c3c.html" %}
{% load comments %}
{% load dated_static %}

{% block title %}{{ object.title }}{% endblock %}
{% block extrahead %}
    {% get_content_type_id for object as content_type_id %}
    <link rel="alternate" type="application/atom+xml" href="{% url comments_feed content_type_id,object.id %}" 
        title="{{ object }} comments feed" />
{% endblock %}

{% block content_title %}
    <h2>{{ object.title }}</h2>
    <p class="other_posts">
        {% if object.get_previous_by_publish %}
            <a class="previous" href="{{ object.get_previous_post.get_absolute_url }}" title="View previous post">&laquo; {{ object.get_previous_post }}</a>
        {% endif %}
        {% if object.get_next_by_publish %}
            | <a class="next" href="{{ object.get_next_post.get_absolute_url }}" title="View next post">{{ object.get_next_post }} &raquo;</a>
        {% endif %}
    </p>
{% endblock %}
{% block breadcrumbs %}
    <a href="{% url rah.views.index %}">Home</a> &rsaquo;
    <a href="{% url blog_index %}">Blog</a> &rsaquo;
    {{ object.title }}
{% endblock breadcrumbs %}
{% block content %}
    <div class="box_three_top"></div>
    <div class="box_three_middle">
        <div class="post">
            {% with object as post %}
                <div>
                    <h1 class="title">
                        {{ post.title }}
                    </h1>
                    <p>
                    <em>Posted by {% safe_user_link post.author %} on {{ post.publish|date }}</em>
                    </p>
                    <div class="post_body">{{ post.body|safe }}</div>
                </div>
            {% endwith %}
        </div>
    </div>
    <div class="box_three_bottom"></div>
    <br class="clear"/>
    <div id="comments">
        {% get_content_type_id for object as content_type_id %}
        <a class="atom_link" href="{% url comments_feed content_type_id,object.id %}">{{ object }} comments feed</a>
        {% render_comment_list for object %}
        <br class="clear"/>
        {% render_comment_form for object %}
    </div>
    <script>
        var RAH = RAH || {};
        RAH.pagescripts = RAH.pagescripts || [];
        RAH.pagescripts.push("{% dated_static 'js/pages/blog.post_detail.js'%}");
    </script>
{% endblock %}
