{% extends "blog/base.html" %}
{% load blog comments %}
{% load dated_static %}

{% block title %}Repower at Home Blog{% endblock %}

{% block content_title %}{% endblock %}
{% block breadcrumbs %}
    <a href="{% url rah.views.index %}">Home</a> &rsaquo;
    Blog
{% endblock breadcrumbs %}
{% block right_content %}
<div class="post_list">
    {% for post in object_list %}
        <div class="box_three_top"></div>
        <div class="box_three_middle">
            <h1 class="title">
                <a href="{{ post.get_absolute_url }}" title="View this post">{{ post.title }}</a>
            </h1>
            <p>
                <em>Posted by {% safe_user_link post.author %} on {{ post.publish|date }}</em>
            </p>
            <div class="post_body">
                {{ post.body|safe }}
            </div>
            {% get_comment_count for post as comment_count %}
            <p>
                <a href="{{ post.get_absolute_url }}#comments">{{ comment_count }} comment{{ comment_count|pluralize }}</a>
            </p>
        </div>
        <div class="box_three_bottom"></div>
    {% endfor %}
</div>
<p>
    Subscribe to feed
    <a href="{% url blog_feed %}">
        <img src="{% dated_static 'images/theme/social_icons/16/feed.png' %}" alt="atom feed" width="16" height="16"/>
    </a>
</p>
{% endblock %}