{% extends "blog/base_blog.html" %}
{% load comments %}

{% block title %}{{ object.title }}{% endblock %}
{% block body_class %}{{ block.super }} post_detail{% endblock %}
{% block body_id %}post_{{ object.id }}{% endblock %}

{% block content_title %}
    <h2>{{ object.title }}</h2>
    <p class="other_posts">
        {% if object.get_previous_by_publish %}
            <a class="previous" href="{{ object.get_previous_post.get_absolute_url }}" title="View previous post">&laquo; {{ object.get_previous_post }}</a>
        {% endif %}
        {% if object.get_next_by_publish %}
            | <a class="next" href="{{ object.get_next_post.get_absolute_url }}" title="View next post">{{ object.get_next_post }} &raquo;</a>
        {% endif %}
    </p>
{% endblock %}

{% block content %}
    <div id="breadcrumbs">
        <a href="{% url rah.views.index %}">Home</a> &rsaquo;
        <a href="{% url blog_index %}">Blog</a> &rsaquo;
        {{ object.title }}
    </div>
    <div class="post">
        {% with object as post %}
            <div>
                {% include 'blog/_post_header.html' %}
                <div class="post_body">{{ post.body|safe|linebreaks }}</div>
            </div>
        {% endwith %}
    </div>

    <div id="comments">
        {% render_comment_list for object %}
        {% render_comment_form for object %}
    </div>
{% endblock %}
{% block js %}page_post_detail{% endblock %}