{% if messages %}
    <ul class="plain_list shadow">
        {% for message in messages %}
            <li class="messages {{ message.tags }}">
                {% if "ga_track_pageview" in message.tags %}
                    <script type="text/javascript">_gaq.push(['_trackPageview', '{{ message }}']);</script>
                {% else %}  
                    {% if "ga_track_conversion" in message.tags %}
                        {# Put some GA conversion code here #}
                        {% if user.get_profile.facebook_connect_only %}
                            <script type="text/javascript">_gaq.push(['_trackPageview', '/register/facebook']);</script>
                        {% else %}
                            <script type="text/javascript">_gaq.push(['_trackPageview', '/register/account']);</script>
                        {% endif %}
                    {% else %}
                        {{ message|safe }} <a href="" class="dismiss">close</a>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
