{% if messages %}
    <ul class="plain_list shadow">
        {% for message in messages %}
            <li class="messages {{ message.tags }}">
                {% if "ga_track_pageview" in message.tags %}
                    <script type="text/javascript">_gaq.push(['_trackPageview', '{{ message }}']);</script>
                {% else %}
                    {{ message|safe }} <a href="#" class="dismiss">close</a>
                {% endif %}
            </li>          
        {% endfor %}
    </ul>
{% endif %}
