<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        {% load dated_static %}
        <title>{% block title %}{% endblock %} | Repower@Home</title>
        <meta name="google-site-verification" content="LKUJZqwKMnEGjg_dQNKL-2eLLK3yvftU0RKv7SuymGQ" />
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <link rel="shortcut icon" href="{% dated_static 'images/theme/favicon.ico' %}"/>
        {% if debug %}
            <link rel="stylesheet" href="{% dated_static 'css/style.css' %}" type="text/css" media="screen" charset="utf-8"/>
        {% else %}
            <link rel="stylesheet" href="{% dated_static 'css/style_min.css' %}" type="text/css" media="screen" charset="utf-8"/>
        {% endif %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-11623269-1']);
            _gaq.push(['_trackPageview']);
        </script>
        {% block extralinks %}{% endblock %}
    </head>
    <body>
        <div id="loading" class="warning">Loading...</div>
        <div id="header_container">
            <div id="header_bg">
                <div id="header" class="container_4">
                    <a href="/" title="Repower at Home" id="header_logo"><img src="{% dated_static 'images/theme/logo.png' %}" alt="Repower at Home logo"/></a>
                    {# <div id="header-links"> #}
                    {#     {% if user.is_authenticated %} #}
                    {#         {{ user.get_full_name }} | <a href="{% url rah.views.profile_edit user.id %}">Edit your profile</a> | <a href="{% url logout %}">Logout</a> #}
                    {#     {% else %} #}
                    {#         <a href="{% url login %}?next={{ request.path }}">Login</a> | <a href="{% url register %}">Sign Up</a> #}
                    {#     {% endif %} #}
                    {#     | <a href="{% url rah.views.feedback %}" class="feedback_link">Feedback</a> #}
                    {#     {% if user.is_staff %} #}
                    {#         | <a href="{% url admin_root '' %}">Admin</a> #}
                    {#     {% endif %} #}
                    {# </div> #}
                    <form action="/search" id="cse_search_box_form">
                        <div>
                            <input type="hidden" name="cx" value="004464471324017850671:spsjawaq-zy" />
                            <input type="hidden" name="cof" value="FORID:10" />
                            <input type="hidden" name="ie" value="UTF-8" />
                            <span class="overset">
                                <label class="hidden" for="cse_search_box">Search</label>
                                <input type="text" name="q" size="31" id="cse_search_box"/>
                            </span>
                            <input type="submit" name="sa" value="Go" id="cse_search_box_submit"/>
                        </div>
                    </form>
                    {% if user.is_authenticated %}
                        <div id="nav_logged_in" class="nav">
                            <a href="{% url index %}" id="nav_welcome">Welcome</a>
                            <a href="{% url index %}" id="nav_dashboard">Dashboard</a>
                            <a href="{% url action_show %}" id="nav_actions">Actions</a>
                            <a href="{% url group_list %}" id="nav_teams">Teams</a>
                            <a href="{% url blog_index %}" id="nav_blog">Blog</a>
                            <a href="{% url rah.views.feedback %}" id="nav_feedback" class="feedback_link">Feedback</a>
                        </div>
                    {% else %}
                        <div id="nav_logged_out" class="nav">
                            <a href="{% url login %}?next={{ request.path }}" id="nav_login">Login</a>
                            <a href="{% url index %}" id="nav_home">Home</a>
                            <a href="{% url action_show %}" id="nav_actions">Actions</a>
                            <a href="{% url group_list %}" id="nav_teams">Teams</a>
                            <a href="{% url blog_index %}" id="nav_blog">Blog</a>
                            <a href="{% url register %}" id="nav_signup">Sign Up</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="content_container">
            <div id="content_bg">
                <div id="message_box">
                    {% include '_messages.html' %}
                </div>
                <div id="content">
                    <div class="container_4">
                        {% block content %}
                            <div class="grid_1 alpha">
                                {% block tongue %}
                                    {% if request.user.is_authenticated %}
                                        {% with request.user.get_profile as profile %}
                                            {% include "rah/_tongue.html" %}
                                        {% endwith %}
                                    {% endif %}
                                {% endblock tongue %}
                                {% block left_sidebar %}{% endblock left_sidebar %}
                            </div>
                            <div class="grid_3 omega">
                                {% block right_content %}{% endblock right_content %}
                            </div>
                        {% endblock content %}
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer_container">
            <div id="footer">
                <div id="footer_copy">
                    <p>
                        Copyright &copy; The Alliance for Climate Protection 2010. All Rights Reserved.<br/>
                        <a href="http://www.climateprotect.org/">The Alliance for Climate Protection</a> | 
                        <a href="{% url rah.views.feedback %}" class="feedback_link">Feedback</a> | 
                        <a href="{% url terms_of_use %}">Terms of Use</a> | 
                        <a href="{% url privacy_policy %}">Privacy Policy</a>
                    </p>                
                </div>
            </div>
        </div>
        <div id="feedback_dialog"></div>
        <script type="text/javascript" charset="utf-8">
            var rah_name = "{% block js %}{% endblock %}";
            var media_url = "{{ MEDIA_URL }}"; // contains trailing slash
        </script>
        {% if debug %}
            <script type="text/javascript" charset="utf-8" src="{% dated_static 'js/js_libs.js' %}"></script>
        {% else %}
            <script type="text/javascript" charset="utf-8" src="{% dated_static 'js/js_libs_min.js' %}"></script>
        {% endif %}
        {% block extrajs %}{% endblock %}
        {% if debug %}
            <script type="text/javascript" charset="utf-8" src="{% dated_static 'js/rah.js' %}"></script>
        {% else %}
            <script type="text/javascript" charset="utf-8" src="{% dated_static 'js/rah_min.js' %}"></script>
        {% endif %}
        <script type="text/javascript">
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
            })();
        </script>
    </body>
</html>
