<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://www.facebook.com/2008/fbml" lang="en" xml:lang="en">
    <head>
        {% load dated_static %}
        <title>{% block title %}Save energy at home and organize your community{% endblock %} | Repower at Home</title>
        <meta name="google-site-verification" content="LKUJZqwKMnEGjg_dQNKL-2eLLK3yvftU0RKv7SuymGQ" />
        <meta name="msvalidate.01" content="DC928E84A1569AF4933A7DB431C08DB4" />
        <meta name="y_key" content="9d9c6c76735e5a92"/>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <meta http-equiv="content-language" content="en-us" />
        <meta name="geo.position" content="38.896231;-77.024158" />
        <meta name="geo.country" content="US"/>
        <meta name="geo.region" content="US-DC"/>
        <meta name="geo.placename" content="Alliance for Climate Protection"/>
        <meta name="ICBM" content="38.896231, -77.024158"/>
        <meta property="og:site_name" content="Repower at Home"/>
        <meta name="keywords" content="{% block meta_keywords %}energy efficiency, home energy, climate change, repower at home, alliance for climage protection{% endblock %}" />
        <meta name="description" content="{% block meta_desc %}We can take action to keep millions of pounds of dirty coal from polluting our communities. Every point you earn means one less pound of coal needs to be burned.{% endblock %}" />
        <meta name="DC.title" content="Repower at Home" /> 
        <meta name="DC.creator" content="Alliance for Climate Protection" /> 
        <meta name="DC.subject" content="energy efficiency; home energy; climate change; repower at home; alliance for climage protection" /> 
        <meta name="DC.description" content="We can take action to keep millions of pounds of dirty coal from polluting our communities. Every point you earn means one less pound of coal needs to be burned." /> 
        <meta name="DC.format" content="text/html; charset=utf-8" />
        <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" /> 
        <link rel="alternate" type="application/atom+xml"  href="{% url blog_feed %}" title="Repower at Home Blog" />
        <link rel="shortcut icon" href="{% dated_static 'images/theme/favicon.ico' %}"/>
        {% if debug %}
            <link rel="stylesheet" href="{% dated_static 'css/style.css' %}" type="text/css" media="screen" charset="utf-8"/>
        {% else %}
            <link rel="stylesheet" href="{% dated_static 'css/style_min.css' %}" type="text/css" media="screen" charset="utf-8"/>
        {% endif %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-11623269-1']);
            _gaq.push(['_trackPageview']);
        </script>
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <!-- ClickTale Top part -->
        <script type="text/javascript">
        var WRInitTime=(new Date()).getTime();
        </script>
        <!-- ClickTale end of Top part -->
        <div id="header_container">
            <div id="header_bg">
                <div id="header" class="container_12">
                    <a href="/" title="Repower America" id="header_logo">
                        <img src="{% dated_static 'images/theme/logo.png' %}" alt="Repower at Home logo" width="259" height="38"/>
                    </a>
                    <form action="/search" id="cse_search_box_form">
                        <div class="overset">
                            <input type="hidden" name="cx" value="018322562804099680750:4l5wfmovb4q" />
                            <input type="hidden" name="cof" value="FORID:11" />
                            <input type="hidden" name="ie" value="UTF-8" />
                            <span class="">
                                <label class="hidden" for="cse_search_box">Search</label>
                                <input type="text" name="q" size="31" id="cse_search_box"/>
                            </span>
                            <input type="submit" name="sa" value="Go" id="cse_search_box_submit"/>
                        </div>
                    </form>
                    <div id="nav">
                        <a href="{% url index %}" id="nav_home">Home</a>
                        <a href="{% url action_show %}" id="nav_actions" >Actions</a>
                        <a href="{% url group_list %}" id="nav_teams">Teams</a>
                        <a href="{% url event-show %}" id="nav_events">Events</a>
                        <a href="{% url blog_index %}" id="nav_blog">Blog</a>
                        {# <a href="{% url rah.views.feedback %}" id="nav_feedback" class="feedback_link">Feedback</a> #}
                    </div>
                </div>
            </div>
        </div>
        <div id="content_container">
            <div id="content_bg">
                <div id="content">
                    <div class="container_12">
                        {% block content %}
                            {% block tongue %}
                            <div class="grid_3 alpha">
                                {% include "rah/_tongue.html" %}
                            </div>
                            {% endblock tongue %}
                            <div class="grid_9 omega">
                                <div id="breadcrumbs">{% block breadcrumbs %}{% endblock breadcrumbs %}</div>
                                {% block right_content %}{% endblock right_content %}
                            </div>
                        {% endblock content %}
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer_container">
            <div id="footer">
                <p class="smaller" id="footer_copy">
                    <a href="http://www.facebook.com/pages/Repower-at-Home/135501849796509">
                        <img src="{% dated_static 'images/theme/social_icons/24/facebook.png' %}" alt="Facebook icon" 
                             title="Find us on Facebook" width="24" height="24"/>
                    </a>
                    <a href="http://twitter.com/repowerathome">
                        <img src="{% dated_static 'images/theme/social_icons/24/twitter.png' %}" alt="Twitter icon" 
                             title="Follow us on Twitter" width="24" height="24"/>
                    </a>
                    <a href="http://www.youtube.com/repowerhome">
                        <img src="{% dated_static 'images/theme/social_icons/24/youtube.png' %}" alt="YouTube icon" 
                             title="Watch us on YouTube" width="24" height="24"/>
                    </a>
                    <a href="{% url blog_feed %}">
                        <img src="{% dated_static 'images/theme/social_icons/24/feed.png' %}" alt="Feed icon" 
                             title="Subscribe to our blog" width="24" height="24"/>
                    </a>
                    <br/>
                    <a href="{% url rah.views.feedback %}" class="feedback_link" rel="nofollow">Feedback</a> | 
                    <a href="/terms/" rel="nofollow">Terms of Use</a> | 
                    <a href="/privacy/" rel="nofollow">Privacy Policy</a> |
                    <a href="/about/">About Us</a>
                    <br/>
                    Copyright &copy; <a href="http://www.climateprotect.org/">The Alliance for Climate Protection</a> 
                    2010. All Rights Reserved.
                </p>
            </div>
        </div>
        <div id="feedback_dialog"></div>
        <div id="message_box">
            {% include '_messages.html' %}
        </div>
        <div id="fb-root"></div>
        <script type="text/javascript" charset="utf-8">
            var rah_name = "{% block js %}{% endblock %}";
            var media_url = "{{ MEDIA_URL }}"; // contains trailing slash
            var rah_nav_select = "{% block rah_nav_select %}{% endblock %}";
        </script>
        {% if debug %}
            <script type="text/javascript" charset="utf-8" src="{% dated_static 'js/js_libs.js' %}"></script>
        {% else %}
            <script type="text/javascript" charset="utf-8" src="{% dated_static 'js/js_libs_min.js' %}"></script>
        {% endif %}
        <script  type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
        <script type="text/javascript">
            FB.init({appId: '{{ FACEBOOK_APPID }}', status: true, cookie: true, xfbml: true});
        </script>
        {% block extrajs %}{% endblock %}
        {% if debug %}
            <script type="text/javascript" charset="utf-8" src="{% dated_static 'js/rah.js' %}"></script>
        {% else %}
            <script type="text/javascript" charset="utf-8" src="{% dated_static 'js/rah_min.js' %}"></script>
        {% endif %}
        <script type="text/javascript">
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
            })();
        </script>
        {% ifnotequal request.META.HTTP_X_FORWARDED_FOR "157.130.44.166" %}
        {# Do not use clicktale for traffic coming from inside ACP #}
            <!-- ClickTale Bottom part -->
            <div id="ClickTaleDiv" style="display: none;"></div>
            <script type="text/javascript">
            if(document.location.protocol!='https:')
              document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRb.js'%20type='text/javascript'%3E%3C/script%3E"));
            </script>
            <script type="text/javascript">
            if(typeof ClickTale=='function') ClickTale(4835,1,"www03");
            </script>
            <!-- ClickTale end of Bottom part -->
        {% endifnotequal %}
    </body>
</html>
