{% load markup %}

<form id="testing_feedback_form" action="{% url testing_feedback %}" method="POST">
    {% if ticket_count >= 1 %}
        <div class="ticket_controls">
            <a id="prev_ticket_control" href="#" class="white">&laquo; prev</a>
            <b class="white"><span id="ticket_index">1</span> of {{ tickets|length }}</b>
            <a id="next_ticket_control" href="#" class="white">next &raquo;</a>
        </div>
    {% endif %}
    <div id="tickets">
        {% for ticket in tickets %}
            <div class="{% if forloop.first %}active{% else %}hidden{% endif %} ticket">
                <span class="ticket_id hidden">{{ ticket.ticket_id }}</span>
                {# <span>Number of feedback notes: {{ ticket.feedback_count }}</span> #}
                <b>{{ ticket.summary }}</b>
                <div class="smaller">{{ ticket.instructions|markdown:"safe" }}</div>
            </div>
        {% endfor %}
    </div>
    <br/>
    {% for field in testing_feedback_form.visible_fields %}
        <div class="form_row {% if field.errors %}error{% endif %}{% if 'TextInput' in field.field.widget|pprint or 'Textarea' in field.field.widget|pprint %} overset{% endif %}">
            {{ field.label_tag }}{{ field }}
            {% for error in field.errors %}
                <label class="error" for="{{ field.auto_id }}">{{ error|escape }}</label>
            {% endfor %}
        </div>
    {% endfor %}
    <div class="hidden">
        {% for field in testing_feedback_form.hidden_fields %}
            {{ field }}
        {% endfor %}
    </div>
    <p class="right">
        <input type="submit" value="Submit" id="ticket_submit"/>
    </p>
    {% csrf_token %}
</form>