{% load dated_static %}
<div id="testing_widget">
    <div class="right">
        <a class="testing_widget_tab white {% if request.session.testing_widget_opened %}hidden{% endif %}" 
          href="{% url testing_widget_opened %}">Open Task{{ ticket_count|pluralize }}</a>
        <a class="testing_widget_tab white {% if not request.session.testing_widget_opened %}hidden{% endif %}" 
          href="{% url testing_widget_closed %}">Close Task{{ ticket_count|pluralize }}</a>
    </div>
    <div id="testing_feedback_form_container" class="{% if not request.session.testing_widget_opened %}hidden{% endif %}">
        <br/>
        {% if ticket_count >= 1 %}
            <div class="ticket_controls">
                <a id="prev_ticket_control" href="#" class="white">&laquo; prev</a>
                <b class="white"><span id="ticket_index">1</span> of {{ ticket_count }}</b>
                <a id="next_ticket_control" href="#" class="white">next &raquo;</a>
            </div>
        {% endif %}
        {% include "codebase/_testing_feedback_form.html" %}
    </div>
    <div id="testing_spinner" class="hidden">
        <img src="{% dated_static 'images/theme/testing_widget_spinner.gif' %}" alt="loading spinner"/>
    </div>
    <script type="text/javascript">
        var RAH = RAH || {};
        RAH.TESTING = {
            ticket_index: 0,
            tickets: []
        };
        {% for ticket in tickets %}
            RAH.TESTING.tickets.push({{ ticket.ticket_id }});
        {% endfor %}
    </script>
</div>
