{% load markup %}

<form id="testing_feedback_form" action="{% url testing_feedback %}" method="POST">
    <div class="ticket_counter">
        <span id="ticket_index">1</span> of {{ tickets|length }}
    </div>
    <div class="ticket_controls">
        <a id="prev_ticket_control" href="#">&lt;prev</a> | <a id="next_ticket_control" href="#">next&gt;</a>
    </div>
    <br class="clear" />
    <hr />
    <div id="tickets">
        {% for ticket in tickets %}
            <div class="{% if forloop.first %}active{% else %}hidden{% endif %}">
                <span class="ticket_id hidden">{{ ticket.ticket_id }}</span>
                <span>Number of feedback notes: {{ ticket.feedback_count }}</span>
                <h4>{{ ticket.summary }}</h4>
                <div>{{ ticket.instructions|markdown:"safe" }}</div>
            </div>
        {% endfor %}
    </div>
    {% for field in testing_feedback_form.visible_fields %}
        <div class="form_row {% if field.errors %}error{% endif %}{% if 'TextInput' in field.field.widget|pprint or 'Textarea' in field.field.widget|pprint %} overset{% endif %}">
            {{ field.label_tag }}{{ field }}
            {% for error in field.errors %}
                <label class="error" for="{{ field.auto_id }}">{{ error|escape }}</label>
            {% endfor %}
        </div>
    {% endfor %}
    <div class="hidden">
        {% for field in testing_feedback_form.hidden_fields %}
            {{ field }}
        {% endfor %}
    </div>
    <input type="submit" value="Submit"></input>
    {% csrf_token %}
</form>