{% load markup %}
{% for ticket in tickets %}
    <form action="{% url testing_feedback %}" method="post" id="ticket_id__{{ ticket.ticket_id }}" class="testing_feedback_form hidden ticket_active">
        <div class="ticket_instructions">
            <b>{{ ticket.summary }}</b>
            <div class="smaller">{{ ticket.instructions|markdown:"safe" }}</div>
        </div>
        <br/>
        {% for field in testing_feedback_form.visible_fields %}
            <div class="form_row {% if field.errors %}error{% endif %}">
                {{ field.label_tag }}{{ field }}
                {% for error in field.errors %}
                    <label class="error" for="{{ field.auto_id }}">{{ error|escape }}</label>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="hidden">
            {% for field in testing_feedback_form.hidden_fields %}
                {{ field }}
            {% endfor %}
        </div>
        <p class="center">
            <button type="submit" class="ticket_submit">Submit</button>
            <a href="#" class="white ticket_more_feedback hidden smaller">Send more feedback on this</a>
        </p>
        {% csrf_token %}
    </form>
    {% empty %}
    <p class="white">There's nothing to test right now!</p>
{% endfor %}
