{% load invites %}
{% load record %}
<div class="box_one_top"></div>
<div class="box_one_middle">
    <h3>Magnify Your Impact</h3>
    <p>
        {% activity_by_slug mag_request_party_host_info as house_party_act %}
        <a href='{% url house_party %}' id='house_party_link'> Learn about hosting an energy meeting in your community</a><br/>
        <span class="smaller">{{ house_party_act.points }} points</span>
    </p>
    <p>
        {% activity_by_slug mag_invite_friend as invite_friend_act %}
        <a href='{% url invite-invite %}' class='invite_friend_link'>Invite a friend</a><br/>
        <span class="smaller">{{ invite_friend_act.points }} points</span>
    </p>
    <p>
        {% activity_by_slug mag_tweet as tweet_act %}
        <a href='{% url twitter_oauth_post_status %}' id='twitter_status_link'>Share on twitter</a><br/>
        <span class="smaller">{{ tweet_act.points }} points</span>
    </p>
    <p>
        {% activity_by_slug group_create as group_create_act %}
        <a href='{% url group_create %}'>Create a team</a><br/>
        <span class="smaller">{{ group_create_act.points }} points</span>
    </p>
</div> 
<div class="box_one_bottom"></div>
{% include "rah/_house_party_dialog.html" %}
<div id='invite_friend_dialog'>
    {% get_invite_form %}
</div>
<div id='twitter_post_dialog'>
    {% if user.get_profile.twitter_access_token %}
        <form action="{% url twitter_oauth_post_status %}" method="post" id="twitter_status_form">
            <div>{{ twitter_status_form.as_p }}</div>
            {% csrf_token %}
        </form>
    {% else %}
        <p>
            You need to <a href="{% url twitter_oauth_auth %}?next={{ request.path }}">link your account with Twitter</a> 
            before you can do this.
        </p>
    {% endif %}
</div>