<h2>Magnify Your Impact</h2>
<p>
    {% activity_by_slug mag_request_party_host_info as house_party_act %}
    <a href='{% url house_party %}' id='house_party_link'>Host a house party</a> (+{{ house_party_act.points }} points)<br/>
    {% activity_by_slug mag_invite_friend as invite_friend_act %}
    <a href='{% url invite_form_handler %}' id='invite_friend_link'>Invite a friend</a> (+{{ invite_friend_act.points }} points)<br/>
    {% activity_by_slug mag_tweet as tweet_act %}
    <a href='{% url twitter_oauth_post_status %}' class='twitter_status'>Share on twitter</a> (+ {{ tweet_act.points }} points)<br/>
    {% activity_by_slug group_create as group_create_act %}
    <a href='{% url group_create %}'>Create a group</a> (+ {{ group_create_act.points }} points)
</p>
<div id='house_party_dialog'>
    <form action="{% url rah.views.house_party %}" method="post" id="house_party_form">
        <p>We'd love to talk to you about hosting a house party.</p>
        <div>
        {{ house_party_form.as_p }}
        </div>
        {% csrf_token %}
    </form>
</div>
<div id='invite_friend_dialog'>
    {% include "_invite_form.html" %}
</div>
<div id='twitter_post_dialog'>
    {% if user.get_profile.twitter_access_token %}
        <form action="{% url twitter_oauth_post_status %}" method="post" id="twitter_status_form">
            <div>{{ twitter_status_form.as_p }}</div>
            {% csrf_token %}
        </form>
    {% else %}
        <p>
            You need to <a href="{% url twitter_oauth_auth %}?next={{ request.path }}">link your account with Twitter</a> 
            before you can do this.
        </p>
    {% endif %}
</div>