{% for error in form.non_field_errors %}
    <div class="overset_form_message error">{{ error }}</div>
{% endfor %}
{% for field in form %}
    <div class="form_row overset {% if field.errors %}error{% endif %}">
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
            <div class="help_text">{{ field.help_text }}</div>
        {% endif %}
        {% if field.errors %}
            <label class="error" for="{{ field.auto_id }}">
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            </label>
        {% endif %}
    </div>
{% endfor %}