{% if is_others_profile %}
	<h2>Their Points: {{ total_points }}</h2>
{% else %}
	<h2>Your Points: {{ total_points }}</h2>
{% endif %}
<ul>
    {% if points %}
        {% for point in points %}
            <li>
				<span class='points'>{{ point.points }} points</span>
				<span class='reason'>{{ point.get_reason }}</span>
            </li>
        {% endfor %}    
    {% else %}
		{% if is_others_profile %}
			<li>They don't have any points.</li>
		{% else %}
			<li>You don't have any points. Do something!</li>
		{% endif %}
    {% endif %}
</ul>