<div id="home_page_sticker" class="box_two_middle">
    <div id="home_page_sticker_copy">
        <b>The October 10<sup>th</sup></b>
        <h1 class="blue_dark">Coal Challenge</h1>
        <p>
            <span class="blue_dark"><b>We did it!</b></span> Repower at Home trendsetters met our goal of saving <span
            class="blue_dark"><b>7 million pounds of coal</b></span> by October 10.
        </p>
        <p>
            Show the world you made a difference with <b class="blue_dark">Free Trendsetter sticker</b>.
        </p>
        <p>
            <a href="{% url trendsetter_sticker %}" class="button">Claim Your Sticker</a>
        </p>
    </div>
</div>