{% load dated_static %}
<div id="tongue">
    {% if user.is_authenticated %}
        {% with request.user.get_profile as profile %}
        <a href="{% url profile profile.user.id %}" title="View your profile">
            <img class='gravatar' src="{{ profile.profile_picture }}" alt="user gravatar" width="52" height="52"/>
        </a>
        <div id="tongue_username">
            <a href="{% url profile profile.user.id %}" title="View your profile">{{ profile.user.get_full_name }}</a>
        </div>
        {% if profile.location %}
            <div id="tongue_location">
                <span class="icon_from"></span> {{ profile.location }}
            </div>
        {% endif %}
        <br class="clear" />
        {% if profile.user == request.user %}
            <div id="tongue_links">
                <a href="{% url rah.views.profile_edit request.user.id %}">Edit your profile</a> 
                &ndash; <a href="{% url logout %}">Logout</a>
            </div>
        {% endif %}
        <div id="tongue_points">
            {{ profile.total_points }}<span> points</span>
        </div>
        <div id="tongue_activity">
            <a class="chart_link" href="{% url records_chart profile.user.id %}">Activity</a>
            <div>
                <a href="{% url records_chart profile.user.id %}" id="chart_dialog_link" class="chart_link" title="View progress chart">
                    <img src="{% dated_static 'images/theme/tongue_graph.gif' %}" alt="graph" width="182" height="51"/>
                </a>
            </div>
        </div>
        {% endwith %}
    
    {% else %}
        <h3>Need an account?</h3>
        <p>With an account you can track your progress and join teams!</p>
        <p><a href="{% url register %}" class="button">Sign Up</a></p>
        <h3>Log in</h3>
        <form action="{% ifnotequal request.META.SERVER_PORT '8000' %}https://{{request.META.SERVER_NAME}}{%endifnotequal%}{% url login %}" method="post" id="login_form" autocomplete="off">
            <div class="form_row overset"> 
                <label for="id_email">Email</label> 
                <input type="text" name="email" id="id_email" /> 
            </div> 
            <div class="form_row overset"> 
                <label for="id_password">Password</label> 
                <input type="password" name="password" id="id_password" /> 
            </div>
            <p>
                <input type="submit" value="Log In" id="tongue_login_form_submit"/>
                <a href="{% url password_reset %}">Recover password</a>
            </p>
            <p>
                <div class="fb_button" id="fb-login">
                    <a href="#" class="fb_button fb_button_medium">
                        <span id="fb_login_text" class="fb_button_text">Login in with Facebook</span>
                    </a>
                </div>
            </p>
            {% csrf_token %}
            <div><input type="hidden" name="next" value="{{ request.path|escape }}" /></div>
        </form>
        <br/>
    {% endif %}
    
    
    <div class="clear"></div>
</div>