{% load dated_static %}
<div id="tongue">
	<a href="{% url profile profile.user.id %}" title="View your profile">
		<img class='gravatar' src="{{ profile.get_gravatar_url }}" alt="user gravatar"/>
	</a>
    <div id="tongue_username">
		<a href="{% url profile profile.user.id %}" title="View your profile">{{ profile.user.get_full_name }}</a>
	</div>
    {% if profile.location %}
        <div id="tongue_location">
            <span class="icon_from"></span> {{ profile.location }}
        </div>
    {% endif %}
    <br class="clear" />
    {% if profile.user == request.user %}
        <div id="tongue_links">
            <a href="{% url rah.views.profile_edit request.user.id %}">Edit your profile</a> &ndash; <a href="{% url logout %}">Logout</a>
        </div>
    {% endif %}
    <div id="tongue_points">
        {{ profile.total_points }}<span> points</span>
    </div>
    {# <div id="tongue_prizes"> #}
    {#     Prizes you've won #}
    {# </div> #}
    <div id="tongue_activity">
        <a class="chart_link" href="{% url records_chart profile.user.id %}">Activity</a>
        <div>
            <a href="{% url records_chart profile.user.id %}" id="chart_dialog_link" class="chart_link" title="View progress chart">
                <img src="{% dated_static 'images/theme/tongue_graph.gif' %}" alt="graph"/>
            </a>
        </div>
    </div>
    <div class="clear"></div>
</div>