<div id="home_page_header" class="box_three_middle">
    <div id="home_page_vampire_copy">
        <h1>Vampire Power Challenge</h1>
        <p>
            There are vampires in your home &mdash; energy vampires. Day and night, they silently suck energy and money
            away from your home. It's time to slay these energy hogs.
        </p>
        <p>
            Commit to making your home and community a vampire-free zone. And don't forget to download your free Halloween decorations.
        </p> 
        <p class="center orange">
            <a href="{% url vampire_hunt %}" class="button" id="home_page_join_button">Join the Hunt</a>
        </p>
    </div>
    <div id="home_page_vampire_star">
        <b class="orange">
            {% if last_slayer_is_user %}
                <a href="{% url profile last_slayer.id %}"  class="orange">{{ last_slayer.get_full_name }}</a>
            {% else %}
                {{ last_slayer.get_full_name }}
            {% endif %}
        </b><br/>
        {% if last_slayer_loc %}
            from {{ last_slayer_loc }}<br/>
        {% endif %}
        is the latest of<br/>
        <div id="home_page_slayer_count">{{ slayers }}</div>
        Vampire Slayers.
    </div>
</div>