<div id="home_page_header" class="box_three_middle">
    <div id="home_page_vampire_copy">
        <h1>Vampire Power Challenge</h1>
        <p>
            There are vampires in your home &mdash; energy vampires. Day and night, they silently suck energy and money
            away from your home. It's time to slay these energy hogs.
        </p>
        <p>
            Commit to making your home and community a vampire-free zone. And don't forget to download your free Halloween decorations.
        </p> 
        <p class="center orange">
            <a href="{% url vampire_hunt %}" class="button" id="home_page_join_button">Join the Hunt</a>
        </p>
    </div>
    <div id="home_page_vampire_star">
        <a href="" class="orange">Jane C. Doe</a><br/>
        from Washington, DC<br/>
        is the latest and<br/>
        <div id="home_page_slayer_count">1,271<sup>st</sup></div>
        Vampire Slayer.
    </div>
</div>