{% extends "rah/base.html" %}
{% block title %}About Repower at Home{% endblock %}
{% block breadcrumbs %}
    <a href="{% url index %}">Home</a> &rsaquo;
    About Us
{% endblock %}
{% block right_content %}
<div class="box_three_top"></div>
<div id="about_us" class="box_three_middle">
    <h1>About Us</h1>
    <p>
        Repower at Home is a new project of the <a href="http://climateprotect.org/">Alliance for Climate
        Protection</a>, a national nonprofit. Repower at Home is dedicated to empowering individuals and communities to
        save energy. By using online tools and in-person community meetings, we encourage people to take an active role
        in reducing energy waste. Together, we can build a cleaner tomorrow.
    </p>
</div>
<div class="box_three_bottom"></div>
{% endblock %}
{% block js %}{% endblock %}