{% extends "rah/base.html" %}
{% block content %}
<div id="breadcrumbs">
    <a href="{% url rah.views.index %}">Home</a> &rsaquo;
    <a href="{% url rah.views.action_browse %}">Actions</a> &rsaquo;
    <a href="{% url rah.views.action_cat action.category.slug %}">{{action.category.name}}</a> &rsaquo;
    {{action.name}}
</div>
<h1>{{action.name}}</h1>
{% for task in action_tasks %}
    <h2>{{ task.sequence }}) {{ task.name }}</h2>
    {% if user.is_authenticated %}
    <form action="" method="post" accept-charset="utf-8">
        <input type="checkbox" name="task_completed" {% if task.completed %}checked="checked"{% endif %}>Completed</input>
        <input type="hidden" name="task_id" value="{{task.id}}"/>
        <span><input type="submit" value="Update"/></span>
        {% csrf_token %}
    </form>
    {% endif %}
    {{task.content|safe|linebreaks}}
{% endfor %}
{% endblock %}
