{% extends "rah/base.html" %}
{% block content %}
<div id="breadcrumbs">
    <a href="{% url rah.views.index %}">Home</a> &rsaquo;
    <a href="{% url rah.views.action_browse %}">Actions</a> &rsaquo;
    <a href="{% url rah.views.action_cat action.category.slug %}">{{action.category.name}}</a> &rsaquo;
    {{action.name}}
</div>
<h1>{{action.name}}</h1>
Your Status: 
{% if user.is_authenticated and status %}
    {{status.status}}
{% else %}
    Not Started
{% endif %}
<form action="" method="post" accept-charset="utf-8">
    
    {{form.as_p}}
    <p><input type="submit" value="Update Status"></p>
    {% csrf_token %}
</form>
<br/>
{{action.content}}
{% endblock %}
