{% extends "base/nav_form.html" %}
{% block title %}Google Analytics Opt Out{% endblock %}
{% block breadcrumbs %}
    <a href="{% url index %}">Home</a> &rsaquo;
    Google Analytics Opt Out
{% endblock %}
{% block form_info %}
    Click the button below to opt out of our Google Analytics tracking. A cookie will be set for this browser
    only. You need to opt out with every browser you don't want tracked. If you delete your cookies, tracking
    will resume.
{% endblock %}
{% block content %}
    <form>
        <h1>Opt out of Google Analytics</h1>
        <button id="opt_out_button" class="button_mega">Opt Out</button>
    </form>
{% endblock %}
{% block extrajs %}
    <script type="text/javascript" charset="utf-8">
        $("#opt_out_button").click(function(){
            _gaq.push(['_setVar', 'ga_opt_out']);
            alert("Opt out successful!");
        });
    </script>
{% endblock %}
