{% extends "base/base.html" %}
{% load dated_static %}
{% load humanize %}
{% block rah_nav_select %}nav_home{% endblock %}
{% block 12c_content %}

    <div class="grid_12 alpha omega" id="home_slide_nav">
        <a href="#1" id="home_slide_nav_1" class="home_slide_nav_selected">Welcome</a>
        <a href="#2" id="home_slide_nav_2">Repower your Home</a>
        <a href="#3" id="home_slide_nav_3">Repower your Community</a>
        <a href="#4" id="home_slide_nav_4">Create an Account</a>
    </div>
    <div class="grid_1 alpha center">
        <a href="#" id="home_slide_nav_prev" class="sprite_slide_nav_prev"></a>
    </div>
    <div class="grid_10">
        <div id="home_slide_container">
            <div id="home_slide_holder">
                <div id="home_slide_1" class="home_slide">
                    <div class="home_slide_left">
                        <img src="{% dated_static 'images/theme_new/home_slide_1.png' %}" alt="" width="420" height="298"/>
                    </div>
                    <div class="home_slide_right">
                        <h1>Be an Energy Trendsetter</h1>
                        <p>
                            Repower at Home makes energy efficiency easy, fun and
                            social. Across the country, our members are working to
                            transform the way their homes and communities use energy.
                        </p>
                        <p>
                            <a href="{% url action_show %}" class="button button_mega button_shadow" id="home_account_link">Create an Account &rsaquo;</a>
                        </p>
                    </div>
                </div>
                <div id="home_slide_2" class="home_slide">
                    <div class="home_slide_left">
                        <h1>You have the power <br/>to save energy</h1>
                        <p>
                            Our energy actions give you the necessary know-how to save
                            energy, lower your bills and improve our environment by
                            reducing greenhouse gas pollution. The more actions you
                            complete, the more badges and points you earn for your
                            progress. 
                        </p>
                        <p>
                            <a href="{% url action_show %}" class="button button_mega button_shadow">See All Actions &rsaquo;</a>
                        </p>
                    </div>
                    <div class="home_slide_right">
                         <img src="{% dated_static 'images/theme_new/home_slide_2.png' %}" alt="" width="411" height="298"/>
                    </div>
                </div>
                <div id="home_slide_3" class="home_slide">
                    <div class="home_slide_left">
                         <img src="{% dated_static 'images/theme_new/home_slide_3.png' %}" alt="" width="411" height="297"/>
                    </div>
                    <div class="home_slide_right">
                        <h1>Support energy efficiency in your community</h1>
                        <p>
                            Stay up-to-date on energy efficiency efforts in your
                            neighborhood, school, workplace or other group by joining a
                            Repower at Home community. Communities make it easy to
                            share tips and stories with Trendsetters like you.
                        </p>
                        <p>
                            <a href="{% url group_list %}" class="button button_mega button_shadow">Browse Communities &rsaquo;</a>
                        </p>
                    </div>
                </div>
                <div id="home_slide_4" class="home_slide">
                    <div class="home_slide_left">
                        <h1>Pledge to save energy at home and set the trend in your community</h1>
                        <p>
                            Sign the pledge by the filling out the form on the right.
                        </p>
                    </div>
                    <div class="home_slide_right">
                        <img src="{% dated_static 'images/theme_new/home_slide_4.png' %}" alt="" width="400" height="284"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid_1 omega">
        <a href="#" id="home_slide_nav_next" class="sprite_slide_nav_next"></a>
    </div>
    <div class="grid_12 alpha omega" id="home_stat_bar">
        <div class="home_stat_wrap">
            <div class="home_stat">
                Total Repower at <br/>Home Trendsetters
            </div>
            <div class="home_stat_num home_stat_1">{{ total_trendsetters|intcomma }}</div>
        </div>
        <div class="home_stat_wrap">
            <div class="home_stat">
                Total Repower at Home Communities
            </div>
            <div class="home_stat_num home_stat_2">{{ total_communities|intcomma }}</div>
        </div>
        <div class="home_stat_wrap">
            <div class="home_stat">
                Pounds of Coal Saved by Repower at Home
            </div>
            <div class="home_stat_num home_stat_3">{{ total_points|intcomma }}</div>
        </div>
        <div class="home_stat_wrap home_stat_wrap_last">
            <div class="home_stat">
                Actions Taken by Repower at Home 
            </div>
            <div class="home_stat_num home_stat_4">{{ total_actions|intcomma }}</div> 
        </div>
    </div>
    <div class="grid_12 alpha omega">
        <div class="grid_4 alpha">
            <div id="home_featured_users">
                <h2 class="home_feature_heading">Featured Users</h2>
                <ul class="plain_list nugget_2c_list">
                    {% for user in top_users %}
                        {% include "base/_nugget_2c_list.html" %}
                    {% endfor %}
                </ul>
                <br/>
                <div class="center">
                    <a href="#" class="button button_blue button_189">Browse Users</a>
                </div>
            </div>
        </div>
        <div class="grid_4">
            <h2 class="home_feature_heading">Featured Communities</h2>
            <ul class="plain_list nugget_4c_list">
                {% for group in top_communities %}
                <li>
                <a href="{{ group.get_absolute_url }}" class="group_list_thumb">
                    <img src="{{ MEDIA_URL }}{{ group.image.thumbnail_colorspace_60x60smartcrop }}" alt="group image" height="60" width="60" />
                </a>
                <div>
                    <a href="{{ group.get_absolute_url }}">{{ group.name }}</a><br/>
                    <span>{{ group.headquarters }}</span><br/>
                    {{ group.member_count|intcomma }} members <span>|</span> {{ group.total_points|intcomma }} points
                </div>
                </li>
                {% endfor %}
            </ul>

            <div class="center">
                <a href="{% url group_list %}" class="button button_blue button_189">Browse Communities</a>
            </div>

        </div>
        <div class="grid_4 omega">
            <h2 class="home_feature_heading">Recent Badges Earned</h2>
        </div>
    </div>
    <script>
        var RAH = RAH || {};
        RAH.pagescripts = RAH.pagescripts || [];
        RAH.pagescripts.push("{% dated_static 'js/pages/rah.home_logged_out.js' %}");
    </script>
    {% endblock %}
