{% extends "rah/base.html" %}
{% load record %}
{% load dated_static %}
{% block rah_nav_select %}nav_home{% endblock %}
{% block right_content %}
<div class="grid_9 alpha omega">
    {% include "rah/_pledge_block.html" %}
</div>
<br class="clear"/>
    <div class="grid_6 alpha">
        {% include "rah/_sticker_block.html" %}
        
        {% if records %}
            <div class="box_two_top"></div>
            <div class="box_two_middle">
                <h2>Your Recent Activity</h2>
                {% for rec in records %}
                    {% render_record rec %}
                {% endfor %}
            </div>
            <div class="box_two_bottom"></div>
        {% endif %}
        
    </div>
    <div class="grid_3 omega">
        <div class="box_one_top"></div>
        <div class="box_one_middle">
            <h3>Pledge Cards</h3>
            <p>
                You've collected <b>{{ pledge_card_count }}</b> pledge card{{ pledge_card_count|pluralize }}. Learn more
                about <a href="{% url commitments_show %}">pledge cards</a>.
            </p>
            <a href="{% url commitments_card_create %}" class="button commitment_card_open">Enter a pledge card</a>
        </div>
        <div class="box_one_bottom"></div>
        <div class="box_one_top"></div>
        <div class="box_one_middle">
            <h3>Progress</h3>
            {% include "rah/_progress_stats.html" %}
        </div>
        <div class="box_one_bottom"></div>
        {% if commitment_list %}
        <div class="box_one_top"></div>
        <div class="box_one_middle">
            <h3>Your Commitments</h3>
            {% for row in commitment_list %}
            <p>
                <a href="{% url action_detail row.action.slug %}">{{row.action.name}}</a><br/>
                <span class="smaller">Due by {{row.date_committed|date}}</span>
            </p>
            {% endfor %}
        </div>
        <div class="box_one_bottom"></div>
        {% endif %}
        
        {# {% if not is_others_profile %} #}
        {#     {% include 'rah/_magnify.html' %} #}
        {# {% endif %} #}
        
        {% if my_groups or my_geo_groups %}
        <div class="box_one_top"></div>
        <div class="box_one_middle">
            <h3>Your Teams</h3>
            <p>
            {% for group in my_groups %}
                <a href="{{ group.get_absolute_url }}">{{ group.name }}</a><br />
            {% endfor %}
            {% for group in my_geo_groups %}
                <a href="{{ group.get_absolute_url }}">{{ group.name }}</a><br />
            {% endfor %}
            </p>
        </div>
        <div class="box_one_bottom"></div>
        {% endif %}
        
        {% if my_events %}
            <div class="box_one_top"></div>
            <div class="box_one_middle">
                <h3>Your Events</h3>
                {% with my_events as events %}
                    {% include "events/_event_nugget_list.html" %}
                {% endwith %}
            </div>
            <div class="box_one_bottom"></div>
        {% endif %}
        
        {% if completed %}
        <div class="box_one_top"></div>
        <div class="box_one_middle">
            <h3>Completed Actions</h3>
            {% for action in completed %}
                <p>
                    <a href="{% url action_detail action.slug %}">{{action.name}}</a><br/>
                     <span class="smaller">{{action.points}} points</span>
                </p>
            {% endfor %}
        </div>
        <div class="box_one_bottom"></div>
        {% endif %}
        
    </div>
{% endblock %}
{% block js %}page_home_logged_in{% endblock %}