{% extends "rah/base.html" %}
{% load dated_static %}
{% block title %}
    Welcome
{% endblock %}
{% block content %}
<div class="grid_3 alpha">
	<a href="{% url action_detail 'eliminate-standby-vampire-power' %}">
		<img src="{% dated_static 'images/actions/eliminate-standby-vampire-power/featured.png' %}" width="740" height="402"/>
	</a>
	<div class="clear"></div>
	<div class="grid_1 alpha">
		<img src="{% dated_static 'images/index/home_make_a_plan.png' %}" width="240" height="147"/>
		<p>
			Use the actions page to find smart solutions to home energy waste
		</p>
	</div>
	<div class="grid_1">
		<img src="{% dated_static 'images/index/home_save_energy.png' %}" width="240" height="147"/>		
		<p>
			Complete actions to lower your monthly bills and create a cleaner world
		</p>	
	</div>
	<div class="grid_1 omega">
		<img src="{% dated_static 'images/index/home_take_the_lead.png' %}" width="240" height="149"/>
		<p>
			Organize your friends, family, and neighbors on the community page
		</p>
	</div>
</div>
<div class="grid_1 omega">
	<div class="homepage_form_box">
    	<div id="minor_col_sign" class="minor_col_img"></div>
    	<form id="signup_form" action="{% url register %}" method="get">
    	    <div class="overset">
    	        <label class="homepage_label" for="id_email">Enter your email</label>
    	        <input id="id_email" name="email" class="homepage_input" type="text"></input>
    	    </div>
    	    <div>
    	        <input type="submit" value="Get Started"></input>
    	    </div>
    	</form>
    	<div class="minor_col_ord minor_col_img"></div>
	</div>
	<div class="homepage_form_box">
	    <div id="minor_col_host" class="minor_col_img"></div>
	    <form id="houseparty_form" action="{% url register %}" method="get">
    	    <div class="overset">
    	        <label class="homepage_label" for="id_phone">Enter your phone #</label>
    	        <input id="id_phone" name="phone" class="homepage_input" type="text"></input>
    	    </div>
    	    <div>
    	        <input id="house_party_link" type="submit" value="Get Started"></input>
    	    </div>
    	</form>
	    <div class="minor_col_ord minor_col_img"></div>
	</div>
    {% include "rah/_house_party_dialog.html" %}
    {# <div class="homepage_form_box"> #}
    {#    <div id="minor_col_find" class="minor_col_img"></div> #}
    {#    <div class="minor_col_ord minor_col_img"></div> #}
    {# </div> #}
</div>
{% endblock %}
{% block js %}page_home_logged_out{% endblock %}