{% extends "rah/base.html" %}
{% block content %}
	<div class="actions_block">
		<h2>In Progress Actions</h2>
        {% for action in in_progress %}
			{% include 'rah/_action_nugget.html' %}
        {% endfor %}
		<div class="spacer" />
	</div>
	<div class="actions_block">
		<h2>Recommended Actions</h2>
	    {% for action in recommended %}
	        {% include 'rah/_action_nugget.html' %}
	    {% endfor %}
		<div class="spacer" />
	</div>
{% endblock %}
{% block minorcol %}
	{% include 'rah/_points.html' %}
	{% include 'rah/_magnify.html' %}
{% endblock %}
{% block js %}page_home_logged_in{% endblock %}
