{% extends "rah/base.html" %}
{% load dated_static %}
{% block rah_nav_select %}nav_home{% endblock %}
{% block right_content %}
<div id="home_page_header" class="box_three_middle">
    <div class="home_page_vampire_copy">
        <h1>Vampire Power Challenge</h1>
        <p>
            There are vampires in your home &mdash; energy vampires. Day and night, they silently suck energy and money
            away from your home. It's time to slay these energy hogs.
        </p>
        <p>
            Commit to making your home and community a vampire-free zone. And don't forget to download your free Halloween decorations.
        </p> 
        <p class="center orange">
            <a href="{% url vampire_hunt %}" class="button" id="home_page_join_button">Join the Hunt</a>
        </p>
    </div>
    <div id="home_page_vampire_star">
        <a href="" class="orange">Jane C. Doe</a><br/>
        from Washington, DC<br/>
        is the latest and<br/>
        <div id="home_page_slayer_count">1,271<sup>st</sup></div>
        Vampire Slayer.
    </div>
</div>
<div class="grid_3 alpha">
    <div class="box_one_top"></div>
    <div class="box_one_middle">
        <h3>Popular Actions</h3>
        {% for action in pop_actions %}
            <p>
                <a href="{{ action.get_absolute_url }}">{{action.name}}</a><br/>
                <span class="smaller">{{action.users_completed}} completed, {{action.users_committed}} committed</span>
            </p>
        {% endfor %}
        <div class="more_link">
            <a href="{% url action_show %}">More Actions</a>
        </div>
    </div>
    <div class="box_one_bottom"></div>
</div>
<div class="grid_3">
    <div class="box_one_top"></div>
    <div class="box_one_middle">
        <h3>Top Teams</h3>
        {% for team in top_teams %}
            <p>
                <a href="{{ team.get_absolute_url }}">{{team.name}}</a><br/>
                <span class="smaller">{{team.member_count}} team members</span>
            </p>
        {% endfor %}
        <div class="more_link">
            <a href="{% url group_list %}">More Teams</a>
        </div>
    </div>
    <div class="box_one_bottom"></div>
</div>
<div class="grid_3 omega">
    <div class="box_one_top"></div>
    <div class="box_one_middle">
        <h3>Recent Blog Posts</h3>
        {% for post in blog_posts %}
        <p>
            <a href="{{ post.get_absolute_url }}">{{post.title}}</a><br/>
            <span class="smaller">Posted {{post.publish|date}}</span>
        </p>
        {% endfor %}
        <div class="more_link">
            <a href="{% url blog_index %}">More Posts</a>
        </div>
    </div>
    <div class="box_one_bottom"></div>
</div>

{% endblock %}
{% block js %}page_home_logged_out{% endblock %}