{% extends "rah/base.html" %}
{% load dated_static %}
{% block rah_nav_select %}nav_home{% endblock %}
{% block right_content %}
<div id="home_page_header" class="box_three_middle">
    <div class="grid_4 alpha" style="padding-left:18px;">
        <br/>
        <div class="blue"><b>The October 10th</b></div>
        <h1>Coal Challenge</h1>
        <p>
            By October 10th, we can take action to keep <br/><b>1 million pounds</b> of dirty coal from polluting our air and our communities.
        </p>
        <h3>How it works</h3>
        <p>
            You earn points by completing <a href="{% url action_show %}">actions</a>. Every point you earn means one less pound of coal needs to be burned.
        </p> 
        <p class="center">
            <a href="{% url register %}" class="button" id="home_page_join_button">Join the Challenge</a><br/>
            <a href="/coal-challenge/">Learn more</a> about the challenge.
        </p>
    </div>
    <div id="home_page_numbers">
        <div>{{total_people}} people</div>
        have taken
        <div>{{total_actions}} actions</div>
        to keep
        <div>{{total_points}} lbs of coal</div>
        out of our air!
    </div>
</div>
<div class="grid_3 alpha">
    <div class="box_one_top"></div>
    <div class="box_one_middle">
        <h3>Popular Actions</h3>
        {% for action in pop_actions %}
            <p>
                <a href="{{ action.get_absolute_url }}">{{action.name}}</a><br/>
                <span class="smaller">{{action.users_completed}} completed, {{action.users_committed}} committed</span>
            </p>
        {% endfor %}
        <div class="more_link">
            <a href="{% url action_show %}">More Actions</a>
        </div>
    </div>
    <div class="box_one_bottom"></div>
</div>
<div class="grid_3">
    <div class="box_one_top"></div>
    <div class="box_one_middle">
        <h3>Top Teams</h3>
        {% for team in top_teams %}
            <p>
                <a href="{{ team.get_absolute_url }}">{{team.name}}</a><br/>
                <span class="smaller">{{team.member_count}} team members</span>
            </p>
        {% endfor %}
        <div class="more_link">
            <a href="{% url group_list %}">More Teams</a>
        </div>
    </div>
    <div class="box_one_bottom"></div>
</div>
<div class="grid_3 omega">
    <div class="box_one_top"></div>
    <div class="box_one_middle">
        <h3>Recent Blog Posts</h3>
        {% for post in blog_posts %}
        <p>
            <a href="{{ post.get_absolute_url }}">{{post.title}}</a><br/>
            <span class="smaller">Posted {{post.publish|date}}</span>
        </p>
        {% endfor %}
        <div class="more_link">
            <a href="{% url blog_index %}">More Posts</a>
        </div>
    </div>
    <div class="box_one_bottom"></div>
</div>

{% endblock %}
{% block js %}page_home_logged_out{% endblock %}