{% extends "rah/base.html" %}
{% load records %}

{% block content %}
    <div id="chart"></div>
    <script type="text/javascript" charset="utf-8">
        /* <![CDATA[ */
        var chart_data = {{chart_data|safe}};
        /* ]]> */
    </script>
    {% if in_progress %}
        <div class="actions_block" id="actions_in_progress">
            <h2>In Progress Actions</h2>
            {% for action in in_progress %}
                {% include 'actions/_action_nugget.html' %}
            {% endfor %}
        </div>
    {% endif %}
    {% if recommended %}
        <div class="actions_block" id="actions_recommended">
            <h2>Recommended Actions</h2>
            {% for action in recommended %}
                {% include 'actions/_action_nugget.html' %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
{% block minorcol %}
    <div>
        <img class='gravatar' src="{{ profile.get_gravatar_url }}" alt="user gravatar"/>
        <h2>{{ profile.user }}</h2><br class="spacer"/>
        <p>
        {% if profile.location %}
            <b>Location: </b>{{ profile.location }}<br/>
        {% endif %}
        {% if profile.building_type %}
            <b>Home:</b> {{ profile.get_building_type_display }}<br/>
        {% endif %}
        {% if profile.about %}
            <b>About: </b>{{ profile.about }}<br/>
        {% endif %}
        </p>
    </div>
    {% if commitment_list %}
        <h2>Commitments</h2>
        <p>
        {% for row in commitment_list %}
            <a href="{% url action_detail row.action.slug %}">{{row.action.name}}</a> by {{row.date_committed}}<br/>
        {% endfor %}
        </p>
    {% endif %}
    {% if not is_others_profile %}
        {% include 'rah/_magnify.html' %}
    {% endif %}
    {% if my_groups or my_geo_groups %}
        <h2>Groups</h2>
        <p>
        {% for group in my_groups %}
            <a href="{{ group.get_absolute_url }}">{{ group.name }}</a><br />
        {% endfor %}
        {% for group in my_geo_groups %}
            <a href="{{ group.get_absolute_url }}">{{ group.name }}</a><br />
        {% endfor %}
        </p>
    {% endif %}
    {% if completed %}
        <h2>Completed Actions</h2>
        <p>
        {% for action in completed %}
            <a href="{% url action_detail action.slug %}">{{action.name}}</a> ({{action.total_points}} points)<br/>
        {% endfor %}
        </p>
    {% endif %}
    {% if records %}
        <h2>Recent Activity</h2>
        {% for rec in records %}
            {% render_record rec %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block extrajs %}
    <!--[if IE]><script type="text/javascript" charset="utf-8" src="{{MEDIA_URL}}js/excanvas.min.js"></script><![endif]-->
    <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/jquery.flot.min.js"></script>
{% endblock %}

{% block js %}page_profile{% endblock %}