{% extends "rah/base.html" %}

{% load dated_static %}

{% block right_content %}
    <h1>Edit your Profile</h1>
    <div id="profile_edit_tabs" class="tabs">
        <ul>
            <li><a href="#account_tab">Account</a></li>
            <li><a href="#notifications_tab">Notifications</a></li>
            {# <li><a href="#social_networks_tab">Social Networks</a></li> #}
        </ul>
        <div id="account_tab">
            <p>
                {% if "www.gravatar.com" in profile.profile_picture %}
                    <a href="http://en.gravatar.com/" target="_blank">Change your avatar on gravatar.com</a><br/>
                {% endif %}
                {% if not profile.facebook_connect_only %}
                    <a href="{% url password_change %}">Change your password</a><br/>
                {% endif %}
            </p>
            <form id="profile_edit_form" action="" method="post" autocomplete="false">
                {% with account_form as form %}
                    {% include "rah/_overset_form.html" %}
                {% endwith %}
                {% with profile_form as form %}
                    {% include "rah/_overset_form.html" %}
                {% endwith %}
                <p><input type="submit" name="edit_account" value="Save profile" /></p>
                {% csrf_token %}
            </form>
        </div>
        <div id="notifications_tab">
            <form id="notifications_form" action="" method="post" autocomplete="false">
                {% with group_notification_form.notifications as field %}
                    <div id="team_notifications" class="form_row overset {% if field.errors %}error{% endif %}">
                        {{ field.label_tag }}
                        <div class="notification_selectors" class="hidden">
                            <a class="selector select_all" href="">Select All</a> |
                            <a class="selector deselect_all" href="">Deselect All</a>
                        </div>
                        {{ field }}
                        {% if field.help_text %}
                            <div class="help_text">{{ field.help_text }}</div>
                        {% endif %}
                        {% if field.errors %}
                            <label class="error" for="{{ field.auto_id }}">
                                {% for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                            </label>
                        {% endif %}
                    </div>
                {% endwith %}
                <br />
                {% with stream_notification_form.stream_notifications as field %}
                    <div id="stream_notifications" class="form_row overset {% if field.errors %}error{% endif %}">
                        {{ field.label_tag }}
                        <div class="notification_selectors" class="hidden">
                            <a class="selector select_all" href="">Select All</a> |
                            <a class="selector deselect_all" href="">Deselect All</a>
                        </div>
                        {{ field }}
                        {% if field.help_text %}
                            <div class="help_text">{{ field.help_text }}</div>
                        {% endif %}
                        {% if field.errors %}
                            <label class="error" for="{{ field.auto_id }}">
                                {% for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                            </label>
                        {% endif %}
                    </div>
                {% endwith %}
                <p><input type="submit" name="edit_notifications" value="Save notifications" /></p>
                {% csrf_token %}
            </form>
        </div>
        {# <div id="social_networks_tab"> #}
        {#     <div class="form_row"> #}
        {#         <label>Link your accounts with Repower at Home</label> #}
        {#         <ul> #}
        {#             <li> #}
        {#                 <img src="{% dated_static 'images/theme/social_icons/24/twitter.png' %}" alt="Twitter icon"  #}
        {#                      title="Twitter" width="24" height="24"/> #}
        {#                 {% if profile.twitter_access_token %} #}
        {#                     <a class="" href="{% url twitter_oauth_unauth %}">Unlink Twitter</a> #}
        {#                 {% else %} #}
        {#                     <a id="link_with_twitter" class="" href="{% url twitter_oauth_auth %}">Link Twitter</a> #}
        {#                 {% endif %} #}
        {#             </li> #}
        {#             <li> #}
        {#                 <img src="{% dated_static 'images/theme/social_icons/24/facebook.png' %}" alt="Facebook icon"  #}
        {#                      title="Facebook" width="24" height="24"/> #}
        {#                 {% if profile.facebook_connect_only %} #}
        {#                     You can not unlink your facebook account, since you are currently logged in with facebook #}
        {#                 {% else %} #}
        {#                     {% if profile.facebook_access_token %} #}
        {#                         <a class="" href="{% url facebook_unauthorize %}">Unlink Facebook</a> #}
        {#                     {% else %} #}
        {#                         <a id="link_with_facebook" class="" href="{% url facebook_authorize %}">Link Facebook</a> #}
        {#                     {% endif %} #}
        {#                 {% endif %} #}
        {#                 {% if profile.facebook_access_token %} #}
        {#                     {% if profile.facebook_share %} #}
        {#                         | <a href="{% url facebook_disable_sharing %}">Don't Share</a> #}
        {#                     {% else %} #}
        {#                         | <a href="{% url facebook_enable_sharing %}">Share</a> #}
        {#                     {% endif %} #}
        {#                 {% endif %} #}
        {#             </li> #}
        {#         </ul> #}
        {#     </div> #}
        {# </div> #}
    </div>
{% endblock %}

{% block js %}page_profile_edit{% endblock %}