<p>
    Welcome {{ user.first_name }}!
</p>
<p>
    Congratulations on your new Repower at Home account. You’ve taken your first step on the path
    towards a smarter home and a cleaner world.
</p>
<p>
    At Repower at Home, cool cats like you are getting together to save energy, save money, 
    and save the world.
</p>
<p>
    Can’t wait to get started? <a href="http://{{ domain }}{% url login %}">Click here to log in</a>.
</p>
<p>
    With so much to do, where should you begin?  Here are some bright ideas:
    <ul>
        <li>Jump in and complete this month’s <a href="http://{{ domain }}{% url index %}">featured action</a>.</li>
        <li>Get plugged in to your local energy efficiency scene by <a href="http://{{ domain }}{% url group_list %}">
            finding a team</a>.</li> 
        <li>Are you the first to arrive at the party? 
            <a href="http://{{ domain }}{% url group_create %}">Start a team</a> for your 
            neighborhood, school, church, or knitting club. Then, organize your team to take 
            action together.</li> 
        <li>Spread the word! <a href="http://twitter.com/home?status=I'm%20saving%20money%20and%20having%20fun%20with%20%40repowerathome.%20Check%20out%20http%3A%2F%2Frepowerathome.com%2F">Tweet it out</a>, 
            <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Frepowerathome.com%2F">share on Facebook</a>, send some smoke 
            signals, whatever. Let everyone know about all the good you’re doing, and how they 
            can join in on the fun.</li>
</p>
<p>
    As you cruise around the site, let us know what you think by dropping us a line at feedback@repowerathome.com.
</p>
<p>
    Welcome home,<br /> 
    The Repower at Home team
</p>