{% extends "base.html" %}
{% load dated_static %}
{% block title %}Get your free Trendsetter sticker{% endblock %}
{% block right_content %}
    <div class="grid_6 alpha">
        <div class="box_three_top"></div>
        <div class="box_three_middle">
            <div id="registration_left_col">
                <h1>You’ve earned it</h1>
                <p>
                Have you collected an Energy Trendsetter sticker at a Repower at Home <a href="{% url event-show %}">event</a>? Show off your achievements by displaying your sticker. 
                    Put it up on your laptop, your recycling bin, your car or anywhere it will be visible. The sticker is a great way to start a conversation 
                    with your friends and neighbors about how your community can eliminate waste, save money and clean up our environment.
                </p>
                <h2>Share your sticker</h2>
                <p>
                    Energy Trendsetters are popping up all over the country. Snap a picture of your sticker in its new location and upload it using the form below. We love seeing the creative places that Trendsetters are using to get the message out.
                </p>
                {% include 'media_widget/_media_widget_gallery.html' %}
           
           </div>
            <div id="registration_right_col">
                <p class="center">
                    <img src="{% dated_static 'images/theme/trendsetter_sticker.png' %}" width="275px" height="275px"/>
                </p>

            </div>
        </div>
        <div class="box_three_bottom"></div>
    </div>
{% endblock %}
{% block js %}page_trendsetter_sticker{% endblock %}
