{% extends "rah/base.html" %}
{% load invites %}
{% load dated_static %}
{% block title %}Vampire Hunt{% endblock %}
{% block extrahead %}
    <meta property="og:image" content="{% dated_static 'images/vampires/vampire_guy.jpg' %}" />
    <meta property="og:type" content="activity" />
    <meta property="og:title" content="Repower at Home Vampire Hunt" />
    <meta property="og:description" content="Take action with Repower at Home to slay energy vampires, and recruit your friends to join your hunting party." />
{% endblock %}

{% block right_content %}
    <div class="grid_6 alpha">
        <img id="vampire_bat_small" alt="Vampire bat" src="{% dated_static 'images/vampires/bat_small.png' %}"/>
        <img id="vampire_bat_med" alt="Vampire bat" src="{% dated_static 'images/vampires/bat_med.png' %}"/>
        <div class="box_two_top"></div>
        <div class="box_two_middle">
            <h1>The Vampire Hunt</h1>
            <p>
                On Halloween night, you’ll probably see lots of vampire costumes. But there are real vampires in your
                home right now – energy vampires. Every day, “vampire electronics” suck energy and money away from your
                home. Only you can put a stop to this terrifying energy waste. Take action with Repower at Home to slay
                these vampires, and recruit your friends to join your hunting party. Can you recruit the most vampire
                slayers by Halloween?
            </p>
            <h3>What is vampire power?</h3>
            <p>
                Your electronics use energy even when they’re switched “off” to power things like sensors and lights. In
                fact, <strong>the average electronic consumes most of its energy when you’re not even using it</strong>.
                Every month, you spend about 10% of your electricity bill feeding these vampires.
                <a href="{% url action_detail 'eliminate-standby-vampire-power' %}">Learn more about vampire power</a>.
            </p>
            <h2>Become a vampire slayer</h2>
            <p>
                Your first challenge is to free your own home from the grips of vampire power.
            </p>
            <p class="center orange">
                <a class="button" style="font-size:18px; width:50%;" href="{% url action_detail 'eliminate-standby-vampire-power' %}">Start slaying</a>
            </p>
            
            <h2 id="community">Free your community</h2>
            <p>
                Your home may be vampire-free, but what about your friends? Only you can save them from the vampires!
            </p>

            <h3>Take it to the streets</h3>
            <div id="vampire_hunt_directions">
                <p>
                    Recruit your friends to slay their vampires and watch your standing rise on our leader board. The
                    more people you inspire to take action, the higher your standing in the slayer community.
                    Recruitment is easy:
                </p>
                <ol>
                    <li>
                        Download and print out materials for recruiting slayers. These materials will turn any Joe
                        Schmoe into a vampire-slaying machine.
                        <ul>
                            <li><a href="http://rahstatic.s3.amazonaws.com/meeting_materials/vampire_power/vampire_commitment_card.pdf">Commitment card</a></li>
                            <li><a href="http://rahstatic.s3.amazonaws.com/meeting_materials/vampire_power/leave_behind.pdf">Slayer Guide</a></li>
                            <li><a href="http://rahstatic.s3.amazonaws.com/meeting_materials/vampire_power/decoration.pdf">Halloween decorations</a></li>
                        </ul>
                    </li>
                    <li>
                        Talk to friends, neighbors and community members about slaying vam- pires. Knock on doors in
                        your neighborhood. Set up a table at your kid’s school. Anytime you meet people you can help
                        them save energy and money.
                    </li>
                    <li>
                        Have potential slayers fill out the commitment card and hand it back to you.
                    </li>
                    <li>
                        Give your newly-recruited slayer the Slayer Guide and the Halloween Decoration.
                    </li>
                    <li>
                        <a href="{% url commitments_show %}">Enter the commitment card</a> info on the website and watch
                        your ranking rise on the leader board.
                    </li>
                </ol>
            </div>
            <br/>
            
            <h3>Share with your tweeps</h3>
            <p>
                Spread the word about the Vampire Hunt.
            </p>
            <ul id="vampire_hunt_share_list">
                <li class="social_button">
                    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Frepowerathome.com%2Fvampire_hunt%2F&amp;layout=box_count&amp;show_faces=true&amp;width=120&amp;action=like&amp;colorscheme=light&amp;height=60" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:60px;" allowTransparency="true"></iframe>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="orange">
                        <a href='{% url invite-invite %}' class='invite_friend_link button'>Invite via email</a>
                    </li>
                {% endif %}
                <li class="social_button">
                    <a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="repowerathome">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                </li>
            </ul>
            <div id='invite_friend_dialog'>
                {% if request.user.is_authenticated %}
                    {% get_invite_form %}
                {% endif %}
            </div>
            <br class="clear"/>
        </div>
        <div class="box_two_bottom"></div>
    </div>
    
    <div class="grid_3 omega">
        <img id="vampire_bat_large" alt="Vampire bat" src="{% dated_static 'images/vampires/bat_large.png' %}"/>
        <div class="box_one_middle" id="vampire_decoration_block" style="margin-top:9px;">
            <div class="center" id="home_page_slayer_count">{{ slayers }}</div>
            <p class="center">slayers stopped vampire power in their homes</p>
        </div>
        {% if user.is_authenticated %}
            <div class="box_one_top"></div>
            <div class="box_one_middle">
                <h3>Your progress</h3>
                <p>
                    You've recruited {{ my_contributors }} slayers.
                </p>
            </div>
            <div class="box_one_bottom"></div>
        {% endif %}
        
        <div class="box_one_top"></div>
        <div class="box_one_middle">
            <h3>Top recruiters</h3>
            <ul class="plain_list">
                {% for leader in individual_leaders %}
                    <li>
                        <p style="margin-bottom:9px">
                            {% safe_user_link leader %}<br/>
                            <span class="smaller">{{ leader.contributions }} slayers recruited</span>
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="box_one_bottom"></div>
        
        <div class="box_one_top"></div>
        <div class="box_one_middle">
            <h3>Top community recruiters</h3>
            <ul class="plain_list">
                {% for leader in community_leaders %}
                    <li>
                        <p style="margin-bottom:9px">
                            <a href="{{ leader.get_absolute_url }}">{{ leader }}</a><br/>
                            <span class="smaller">{{ leader.contributions }} slayers recruited</span>
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="box_one_bottom"></div>
    </div>
   <script>
        var RAH = RAH || {};
        RAH.pagescripts = RAH.pagescripts || [];
        RAH.pagescripts.push("{% dated_static 'js/pages/rah.vampire_hunt.js' %}");
    </script> 
{% endblock %}
