{% load threadedcomments_tags %}

{% if request.user.is_authenticated %}
    {% if object %}
        {% get_comment_form for object as form %}
    {% endif %}
    <div id="form_6c">
    <form id="comment_form" action="{% url comments-post-comment %}" method="post" class="form_6c">
        {% include 'base/_form.html' %}
        {% csrf_token %}
        <div class="right">
            <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{{ object.get_absolute_url }}{% endif %}" />
            <button type="submit">Submit</button>
        </div>
    </form>
    </div>
{% else %}
    <br/><br/>
    <a href="{% url login %}">Log in</a> or <a href="{% url register %}">sign up</a> to post comments.
{% endif %}
