{% load comments %}

{% if request.user.is_authenticated %}
    <h2 id="comments_form_heading">Leave a comment</h2>
    {% if object %}
        {% get_comment_form for object as form %}
    {% endif %}
    <form class="comment_form" action="{% comment_form_target %}" method="post">
        <div>
        {% for field in form %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                {% if field.name == "comment" or field.name == "honeypot" %}
                    {% if field.errors %}{{ field.errors }}{% endif %}
                    <p class="form_row {% if field.name == 'comment' %}comment {% endif %}{% if field.errors %}error {% endif %}" 
                        {% ifequal field.name "honeypot" %} style="display:none;" {% endifequal %}>
                        {{ field }}
                    </p>
                {% endif %}
            {% endif %}
        {% endfor %}
        <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{{ object.get_absolute_url }}{% endif %}" />
        <input type="submit" value="ADD YOUR COMMENT" id="add_comment_submit" />
        {% csrf_token %}
        </div>
    </form>
{% else %}
    <a href="{% url login %}">Log in</a> or <a href="{% url register %}">sign up</a> to post comments.
{% endif %}