{% load threadedcomments_tags %}
{% load ratings %}
{% load flags %}

{% get_comment_list for object as comments %}
{% if comments %}
    <h2 id="comments_heading">What people are saying</h2>
    {% for comment in comments|annotate_tree %}
        <div class="grid_6 alpha comment_wrapper" id="c{{ comment.id }}">
            <div class="box_two_top"></div>
            <div class="box_two_middle comment">
                {{ comment.comment|linebreaksbr }}
            </div>
            <div class="box_two_bottom"></div>
            <span class="point"></span>
            <div class="comment_tools">
                <span class="comment_date">
                    {{ comment.submit_date|timesince }}
                </span>
                <div class="comment_buttons">
                    {% get_rating_count for comment as users_voted %}
                    {% get_rating_sum for comment as users_helped %}
                    <span class="users_voted_stats">
                        {% if users_voted %}
                            <span class="users_helped">{{ users_helped }}</span> of
                            <span class="users_voted">{{ users_voted }}</span> liked this
                        {% endif %}
                    </span>
                    {% if user.is_authenticated %}
                        {% get_rating_form for comment %}
                        {% get_flag_form for comment %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="grid_3 omega">
            <div class="comment_author">
                <img class="gravatar" src="{{ comment.user.get_profile.profile_picture }}" alt="user gravatar" width="52" height="52"/>
                <br class="clear" />
                {% safe_user_link comment.user %}
            </div>
        </div>
        <br class="clear" />
        {#  
            only display the comment response form if this comment has no children
            or
            this is the last child in the tree
        #}
        {% if not comment.parent and not comment.last_child_id or comment.parent and comment.last %}
            {% get_comment_form for object as response_form with comment.id %}
            <form action="{% url comments-post-comment %}" method="post">
                <div>
                    {% for field in response_form %}
                        {% if field.is_hidden %}
                            {{ field }}
                        {% else %}
                            {% if field.name == "honeypot" %}
                                <p style="display: none;">{{ field }}</p>
                            {% else %}
                                {% if field.name == "comment" %}
                                    {% if field.errors %}{{ field.errors }}{% endif %}
                                    <p class="form_row {% if field.errors %}error {% endif %}">
                                        {{ field }}
                                    </p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{{ object.get_absolute_url }}{% endif %}" />
                    <input type="submit" value="ADD YOUR COMMENT" id="add_comment_submit" />
                    {% csrf_token %}
                </div>
            </form>
        {% endif %}
    {% endfor %}
{% endif %}
