{% extends "base/nav_6c3c.html" %}

{% block title %}{{ badge.name }}{% endblock %}
{% block breadcrumbs %}
    <a href='{% url index %}'>Home</a> &rsaquo;
    <a href='{% url badge_list %}'>Badges</a> &rsaquo;
    {{ badge.name }}
{% endblock %}
{% block title_bar %}
    {{badge.name}}
{% endblock %}
{% block title_bar_sub %}
    Repower at Home Badge
{% endblock %}
{% block content %}
    <img src="{{ badge.img_mega }}" height="160" width="160" alt="{{ badge.name }}"/>
    {{ badge.description|safe }}
{% endblock %}
