{% extends 'base.html' %}
{% block title %}Repower at Home Badges{% endblock %}
{% block right_content %}
    <div class="box_three_top"></div>
    <div class="box_three_middle">
        <h1>Badges</h1>
        <p>
            The Repower at Home Badges
        </p>
    </div>
    <div class="box_three_bottom"></div>
    
    <div class="box_three_top"></div>
    <div class="box_three_middle">
        {% include 'badges/_nugget_list.html' %}
    </div>
    <div class="box_three_bottom"></div>
{% endblock %}
