{% extends "base/nav_9c.html" %}
{% load dated_static %}
{% block title %}Repower at Home Badges{% endblock %}

{% block title_bar_image %}sprite_section_badges_large{% endblock %}
{% block title_bar_title %}Badges{% endblock %}
{% block title_bar_copy %}
    Everyone can recognize a star energy Trendsetter. Badges make it easy to
    show the world when you take action, and encourage your friends to follow
    suit. 
{% endblock %}
{% block ribbon_bar %}
    Showing {{ badges|length }} badges
{% endblock %}

{% block content %}
    <ul class="plain_list nugget_3c">
    {% for badge in badges %}
    <li class="nugget_3c_narrow {% if badge.awarded_at %}nugget_3c_completed{% endif %}">
        <a href='{% url badge_detail badge.slug %}'>
            {% if badge.awarded_at %}
                <img src="{{ badge.img_large}}" height="100" width="100" alt="Badge image for {{badge.name}}"/>
            {% else %}
                <img src="{{ badge.img_large_inactive }}" height="100" width="100" alt="Badge image for {{badge.name}}"/>
            {% endif %}
        </a>
        <h2><a href='{% url badge_detail badge.slug %}'>{{ badge.name }}</a></h2>
        <div class="">{{ badge.awarded_at|date }}</div>
    </li>
    {% endfor %}
    </ul>
    <script>
        var RAH = RAH || {};
        RAH.pagescripts = RAH.pagescripts || [];
        RAH.pagescripts.push("{% dated_static 'js/pages/badge.show.js' %}");
    </script>
{% endblock %}

