{% extends "base/nav_9c.html" %}
{% load dated_static %}
{% block title %}Repower at Home Badges{% endblock %}

{% block title_bar_image %}sprite_section_badges_large{% endblock %}
{% block title_bar_title %}Badges{% endblock %}
{% block title_bar_copy %}
    The Repower at Home Badges
{% endblock %}
{% block ribbon_bar %}
    Showing {{ badges|length }} badges
{% endblock %}

{% block content %}
    <ul class='plain_list'>
    {% for badge in badges %}
        <li>
            <p>
                <a href='{% url badge_detail badge.slug %}'>{{ badge.name }}</a>
                <span class='smaller'>{{ badge.awarded_at|date }}</span>
            </p>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
