<h1>Commitment Card</h1>
<form action="" method="post">
    {% for error in contrib_form.non_field_errors %}
        <div class="overset_form_message error">{{ error }}</div>
    {% endfor %}
    {% for field in contrib_form.visible_fields %}
        <div class="form_row {% if field.errors %}error{% endif %} {% if field.name == 'first_name' %}form_row_float form_row_float_left_field{% endif%} {% if field.name == 'last_name' %}form_row_float{% endif%}">
            {% if "CheckboxInput" in field.field.widget|pprint %}
                {{ field }}{{ field.label_tag }}
            {% else %}
                {{ field.label_tag }}{{ field }}
            {% endif %}
            {% for error in field.errors %}
                <label class="error" for="{{ field.auto_id }}">{{ error|escape }}</label>
            {% endfor %}
        </div>
        {% if field.name == 'last_name' %}<br class="clear"/>{% endif%}
    {% endfor %}
    <div class="hidden">
        {% for field in contrib_form.hidden_fields %}
            {{ field }}
        {% endfor %}
    </div>
    <table>
        <thead>
            <tr>
                <th>Actions</th>
                <th class="commit_card_choice">
                    <ul>
                        <li>Committed</li>
                        <li>Done</li>
                    </ul>    
                </th>
            </tr>
        </thead>
        <tbody>
            {% for field in survey_form %}
                {% if field.field.action %}
                    <tr>
                        <td>{{ field.label }}</td>
                        <td class="commit_card_choice">{{ field }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for field in survey_form %}
                {% if not field.field.action %}
                    <tr>
                        <td>{{ field.label }}</td>
                        <td class="center">{{ field }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <br/>
    <br/>
    <div>
        <input type="submit" value="Save and add another" />
        <input type="submit" value="Save and close" />
    </div>
    {% csrf_token %}
</form>