<h2>Set the trend at home</h2>
<p>
    Get credit for the energy-saving steps you’re already taken, and find more ways to save.
</p>
<p>
    <a href="{% url action_show  %}" class="button home_page_join_button">Home Actions</a>
</p>
<h2>Set the trend in your community</h2>
<p>
    Inspire your friends, family and neighbors to join you by becoming a Trendsetter and taking action to save energy.
</p>
<div>
    <a href="{% url action_community_show %}" class="button home_page_join_button">Community Actions</a>
</div>