{% extends "commitments/base.html" %}
{% block title %}My commitments on Repower at Home{% endblock %}

{% block right_content %}
<div class="box_two_top"></div>
<div class="box_two_middle">
    <h1>The Commitment Landing Page</h1>
    <p>
        <a href="{% url commitments_card_create %}" class="button">Enter commitment cards</a>
    </p>
    <table border="0" cellspacing="5" cellpadding="5">
        <tr>
            <th></th>
            <th class="center smaller" style="width:70px;">
                <div class="commit_totals">13</div>
                Committed
            </th>
            <th class="center smaller" style="width:70px;">
                <div class="commit_totals">13</div>
                Completed
            </th>
        </tr>
        <tr>
            <td class="top">
                <span class="ui-icon ui-icon-triangle-1-e commit_tick"></span>
    	        <a href="#" class="commit_action" id="commit_action__1">Eliminate Vampire Power</a>
    	        <ul class="commit_list_ul commit_list_ul_1 hidden">
        			<li>List item <span class="commit_user_list_edit_link hidden">(<a href="#">edit</a>)</span></li>
        			<li>List item <span class="commit_user_list_edit_link hidden">(<a href="#">edit</a>)</span></li>
        			<li>List item <span class="commit_user_list_edit_link hidden">(<a href="#">edit</a>)</span></li>
        			<li>List item <span class="commit_user_list_edit_link hidden">(<a href="#">edit</a>)</span></li>
        			<li>List item <span class="commit_user_list_edit_link hidden">(<a href="#">edit</a>)</span></li>
        			<li>List item <span class="commit_user_list_edit_link hidden">(<a href="#">edit</a>)</span></li>
        			<li>List item <span class="commit_user_list_edit_link hidden">(<a href="#">edit</a>)</span></li>
        		</ul>
    	    </td>
    	    <td class="top center">
    	        <b>4</b>
    	        <ul class="plain_list commit_list_ul_1 hidden">
        			<li>&#10003;</li>
        			<li>&nbsp;</li>
        			<li>&nbsp;</li>
        			<li>&#10003;</li>
        			<li>&nbsp;</li>
        			<li>&#10003;</li>
        			<li>&#10003;</li>
        		</ul>
    	    </td>
    	    <td class="top center">
    	        <b>3</b>
    	        <ul class="plain_list commit_list_ul_1 hidden">
        			<li>&nbsp;</li>
        			<li>&#10003;</li>
        			<li>&#10003;</li>
        			<li>&nbsp;</li>
        			<li>&#10003;</li>
        			<li>&nbsp;</li>
        			<li>&nbsp;</li>
        		</ul>
    	    </td>
        </tr>
        <tr>
            <td>
                <span class="ui-icon ui-icon-triangle-1-e commit_tick"></span>
    	        <a href="#" class="commit_action">Set your water heater to 120°F</a>
    	        <ul class="commit_user_list hidden">
        			<li>List item <span class="commit_user_list_edit_link hidden">(<a href="#">edit</a>)</span></li>
        			<li>List item <span class="commit_user_list_edit_link hidden">(<a href="#">edit</a>)</span></li>
        			<li>List item <span class="commit_user_list_edit_link hidden">(<a href="#">edit</a>)</span></li>
        			<li>List item <span class="commit_user_list_edit_link hidden">(<a href="#">edit</a>)</span></li>
        			<li>List item <span class="commit_user_list_edit_link hidden">(<a href="#">edit</a>)</span></li>
        			<li>List item <span class="commit_user_list_edit_link hidden">(<a href="#">edit</a>)</span></li>
        			<li>List item <span class="commit_user_list_edit_link hidden">(<a href="#">edit</a>)</span></li>
        		</ul>
    	    </td>
    	    <td class="top center">
    	        <b>1</b>
    	    </td>
    	    <td class="top center">
    	        <b>2</b>
    	    </td>
        </tr>
        <tr>
            <td>
                <span class="ui-icon ui-icon-triangle-1-e commit_tick"></span>
    	        <a href="#" class="commit_action">Have a home energy audit and retrofit</a>
    	        <ul class="commit_user_list hidden">
        			<li>List item <span class="commit_user_list_edit_link hidden">(<a href="#">edit</a>)</span></li>
        			<li>List item <span class="commit_user_list_edit_link hidden">(<a href="#">edit</a>)</span></li>
        			<li>List item <span class="commit_user_list_edit_link hidden">(<a href="#">edit</a>)</span></li>
        			<li>List item <span class="commit_user_list_edit_link hidden">(<a href="#">edit</a>)</span></li>
        			<li>List item <span class="commit_user_list_edit_link hidden">(<a href="#">edit</a>)</span></li>
        			<li>List item <span class="commit_user_list_edit_link hidden">(<a href="#">edit</a>)</span></li>
        			<li>List item <span class="commit_user_list_edit_link hidden">(<a href="#">edit</a>)</span></li>
        		</ul>
    	    </td>
    	    <td class="top center">
    	        <b>1</b>
    	    </td>
    	    <td class="top center">
    	        <b>2</b>
    	    </td>
        </tr>
        <tr>
            <td>
                <span class="ui-icon ui-icon-triangle-1-e commit_tick"></span>
    	        <a href="#" class="commit_action">Install a low-flow sink aerator</a>
    	        <ul class="commit_user_list hidden">
        			<li>List item <span class="commit_user_list_edit_link hidden">(<a href="#">edit</a>)</span></li>
        			<li>List item <span class="commit_user_list_edit_link hidden">(<a href="#">edit</a>)</span></li>
        			<li>List item <span class="commit_user_list_edit_link hidden">(<a href="#">edit</a>)</span></li>
        			<li>List item <span class="commit_user_list_edit_link hidden">(<a href="#">edit</a>)</span></li>
        			<li>List item <span class="commit_user_list_edit_link hidden">(<a href="#">edit</a>)</span></li>
        			<li>List item <span class="commit_user_list_edit_link hidden">(<a href="#">edit</a>)</span></li>
        			<li>List item <span class="commit_user_list_edit_link hidden">(<a href="#">edit</a>)</span></li>
        		</ul>
    	    </td>
    	    <td class="top center">
    	        <b>1</b>
    	    </td>
    	    <td class="top center">
    	        <b>2</b>
    	    </td>
        </tr>
    </table>
</div>
<div class="box_two_bottom"></div>    
{% endblock %}

{% block js %}page_commitments_show{% endblock %}