{% extends "commitments/base.html" %}
{% load dated_static %}
{% block title %}My commitments on Repower at Home{% endblock %}

{% block right_content %}
<div class="grid_6 alpha">
    <div class="box_two_top"></div>
    <div class="box_two_middle">
        <h1>Collect Pledge Cards</h1>
        <p>
            Pledge Cards are a great way to start a conversation about saving energy. The card invites the recipient to take
            the Trendsetter Pledge, and get started on that pledge by committing to energy actions. You can download the
            Pledge Card and print out as many copies as you need.
        </p>
        <p>
            <b>Step 1:</b>
            <a href="http://rahstatic.s3.amazonaws.com/meeting_materials/general_pledge_card.pdf" class="button">
                Download the Pledge Card <span class="file_icon pdf_icon" title="PDF sign in sheet download"></span>
            </a>
        </p>
        <p>
            <b>Step 2:</b>
            <a href="{% url commitments_card_create %}" class="button commitment_card_open">Enter pledge cards</a>
        </p>

        <h2>Pick your place</h2>
        <p>
            In your community, there are tons of opportunities for you to get creative, meet new people and help others
            start saving energy. Here are a few ideas for good recruitment venues:
        </p>
        <ul class="spaced_list">
            <li>
                <b>In your child’s school:</b> Engage parents by bringing Pledge Cards to PTA meetings or green fairs at
                your school.
            </li>
            <li>
                <b>At your college or high school:</b> Work with your environmental club to collect Trendsetter Pledges
                in place like the dining hall and other venues around campus.
            </li>
            <li>
                <b>In your office:</b> Hold a “lunch n’ learn” about energy efficiency and hand out Pledge Cards. You
                can invite a member of the facilities staff to give a brief presentation about how energy is used in
                your office building. You may want to consider using the Energy Meeting tool for this kind of event.
            </li>
            <li>
                <b>At your place of worship:</b> Hand out Pledge Cards during a potluck or field day. 
            </li>
            <li>
                <b>Around your neighborhood:</b> Set up a table at your block party. Organize a group of your neighbors
                to get together and knock on doors with a Pledge Card in hand. This is a great way to meet your
                neighbors!
            </li>
        </ul>
        <h2>Level up</h2>
        <p>
            Set a recruitment goal for yourself or <a href="{% url group_list %}">your team</a>. Challenge a friend to
            see who can recruit the most Trendsetters. A little friendly competition can go a long way towards inspiring
            people to keep at it.
        </p>
    
        <h2 id="managecards">Your pledge commitments</h2>
        {% if request.user.is_authenticated %}
        {# <p> #}
        {#     <a href="{% url commitments_card_create %}" class="button commitment_card_open">Enter a new pledge card</a> #}
        {# </p> #}
        <div id="commitments_show_table">
        {% if actions %}
            <table border="0" cellspacing="5" cellpadding="5">
                <tr>
                    <th></th>
                    <th class="center smaller" style="width:70px;">
                        <div class="commit_totals">{{ total_commitments }}</div>
                        Committed
                    </th>
                    <th class="center smaller" style="width:70px;">
                        <div class="commit_totals">{{ total_completes }}</div>
                        Done
                    </th>
                </tr>
                {% for action, tuple in actions.items %}
                    <tr>
                        <td class="top">
                            <span class="ui-icon ui-icon-triangle-1-e commit_tick"></span>
                	        <a href="#" class="commit_action" id="commit_action__{{ action.id }}">{{ action.name }}</a>
                	        <ul class="plain_list commit_list_ul commit_list_ul_{{ action.id }} hidden">
                	            {% for commitment in tuple.0 %}
                    			    <li class="contributor__{{ commitment.contributor.id }}">
                    			        &nbsp;&nbsp;&nbsp;
                    			        {{ commitment.contributor.first_name }} 
                    			        {{ commitment.contributor.last_name }}
                    			        <span class="commit_user_list_edit_link hidden">
                    			            (<a href="{% url commitments_card commitment.contributor.id %}" class="commitment_card_open">edit</a>)
                    			        </span>
                    			    </li>
                    			{% endfor %}
                    		</ul>
                	    </td>
                	    <td class="top center">
                	        <b>{{ tuple.1 }}</b>
                	        <ul class="plain_list commit_list_ul_{{ action.id }} hidden">
                	            {% for commitment in tuple.0 %}
            	                    <li class="contributor__{{ commitment.contributor.id }}">
            	                        {% if commitment.answer == 'C' %}&#10003;{% else %}&nbsp;{% endif %}
            	                    </li>
                	            {% endfor %}
                    		</ul>
                	    </td>
                	    <td class="top center">
                	        <b>{{ tuple.2 }}</b>
                	        <ul class="plain_list commit_list_ul_{{ action.id }} hidden">
                	            {% for commitment in tuple.0 %}
            	                    <li class="contributor__{{ commitment.contributor.id }}">
            	                        {% if commitment.answer == 'D' %}&#10003;{% else %}&nbsp;{% endif %}
            	                    </li>
                	            {% endfor %}
                    		</ul>
                	    </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        </div>
        {% else %}
        <p>
            <a href="{% url login %}?next={{ request.path }}">Login</a> or 
            <a href="{% url register %}?next={{ request.path }}">register</a> 
            to enter pledge cards.
        </p>
        {% endif %}
    </div>
    <div class="box_two_bottom"></div>
</div>
<div class="grid_3 omega">
    {% if request.user.is_authenticated %}
    <div class="box_one_top"></div>
    <div class="box_one_middle">
        <h3>Collected pledges</h3>
        <p>
            You've collected <b>{{ pledge_card_count }}</b> pledge card{{ pledge_card_count|pluralize }}. 
            See all your <a href="#managecards">pledge commitments</a>.
        </p>
    </div>
    <div class="box_one_bottom"></div>        
    {% endif %}
</div>
    <script>
        var RAH = RAH || {};
        RAH.pagescripts = RAH.pagescripts || [];
        RAH.pagescripts.push("{% dated_static 'js/pages/commitments.show.js' %}");
    </script>
{% endblock %}
